---
import { funds } from "../../../data/funds.js";
import Layout from "../../../layouts/Layout.astro";
import Container from "../../../layouts/Container.astro";

export async function getStaticPaths() {
  let pages = funds.map((fund) => {

    let item = {
      params: {
        fund: fund.slug,
      },
      props: {
        fund: fund,
      },
    };

    return item;
  });

  return pages;
}


const { fund } = Astro.props;

---

<Layout>
  <Container>
    {
      (
        <>
          <a href="/funds" class="underline hover:text-violet-300 text-white">
            <i class="fa-solid fa-arrow-left-long" /> Back to funds
          </a>
          <h1 class="text-white text-3xl">{fund.name}</h1>
          {fund.email && (
            <a
              class="inline-flex items-center rounded-full border border-transparent bg-white px-3 py-1.5 text-xs font-medium text-violet-900 shadow-sm hover:bg-violet-200 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2"
              href={`mailto:${fund.email}`}
            >
              Email
            </a>
          )}

          {fund.website && (
            <a
              class="inline-flex items-center rounded-full border border-transparent bg-white px-3 py-1.5 text-xs font-medium text-violet-900 shadow-sm hover:bg-violet-200 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2"
              href={fund.website}
              target="_blank"
              rel="noopener noreferrer"
            >
              Website
            </a>
          )}

          <div>
            <p class="font-bold text-white">Funders</p>
            {fund.funders !== undefined && (
              <ul class="list-disc list-inside text-white">
                {fund.funders.map((funder) => (
                  <li>{funder.name}</li>
                ))}
              </ul>
            )}
          </div>
          <div>
            <p class="font-bold text-white">Partners</p>
            {fund.partners !== undefined && (
              <ul class="list-disc list-inside text-white">
                {fund.partners.map((partner) => (
                  <li>{partner.name}</li>
                ))}
              </ul>
            )}
          </div>
          <p class="text-white">{fund.description}</p>
          <p>There are {fund.rounds.length} rounds for {fund.name}</p>
          <ul class="text-white list-disc">
            {fund.rounds !== undefined &&
              fund.rounds.map((round) => (
                <>
                  <li>
                    <a
                      class="underline hover:text-violet-300"
                      href={`/funds/${fund.slug}/${round.open}-${round.closed}`}
                    >
                      {round.open} - {round.closed}
                    </a>
                  </li>
                  {round.grants !== undefined && (
                    <p class="uppercase text-white">Grants</p>
                    <ul class="list-disc list-inside">
                      {round.grants.map((grant) => (
                        <li>
                          <a
                            class="underline hover:text-violet-300"
                            href={`/funds/${fund.slug}/${round.open}-${round.closed}/${grant.slug}`}
                          >
                            {grant.name}
                          </a>
                        </li>
                      ))}
                    </ul>
                  )}
                  {round.investmets !== undefined && (
                    <ul class="list-disc list-inside">
                      <p class="uppercase text-white">Investments</p>
                      {round.investments.map((investment) => (
                        <li>
                          <a
                            class="underline hover:text-violet-300"
                            href={`/funds/${fund.slug}/${round.open}-${round.closed}/${investment.slug}`}
                          >
                            {investment.name}
                          </a>
                        </li>
                      ))}
                    </ul>
                  )}
                </>
              ))}
          </ul>
        </>
      )
    }
  </Container>
</Layout>
