---
import Template from "../../../layouts/Template.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import Container from "../../../components/Container.astro";

import truncate from "truncate";
import moment from "moment";

import GrantsXL from "../../../components/fund/GrantsXL.astro";
import GrantsSMLG from "../../../components/fund/GrantsSMLG.astro";
import Testamonial from "../../../components/fund/Testamonial.astro";
import { funds } from "../../../data/directus/funds.js";

let todayDate = moment();

export async function getStaticPaths() {
  return funds.map((fund) => {
    let breadcrumbs = [
      {
        name: "Funds",
        slug: "/funds",
      },
      {
        name: fund.name,
        slug: `/funds/${fund.slug}`,
      },
    ];

    fund.breadcrumbs = breadcrumbs;

    let oogle = {
      params: {
        fund: fund.slug,
      },
      props: {
        fund: fund,
      },
    };

    return oogle;
  });
}

const { fund } = Astro.props;
---

<Template name={fund.name} description={fund.description}>
  <Container>
    <Breadcrumbs breadcrumbs={fund.breadcrumbs} />

    <div class="col-span-4 flex flex-col gap-20 lg:flex-row">
      <div class="lg:basis-1/2 flex flex-col gap-8">
        <span class="relative inline-block">
          {
            fund.logo && (
              <img
                class="h-28 w-28 rounded-md"
                src={`https://unltd.directus.app/assets/${fund.logo.id}`}
                alt=""
              />
            )
          }
        </span>

        <div class="flex flex-col gap-3">
          <h1 class="text-5xl font-bold">
            {fund.name}
          </h1>
          <p class="text-lg leading-relaxed text-slate-600">
            {fund.description}
          </p>
        </div>

        <div class="flex flex-col gap-2">
          <div>
            <span
              class="inline-flex items-center rounded-full gap-1 bg-green-100 px-3 py-0.5 text-sm font-medium text-green-700"
            >
              <i class="fa-solid fa-circle text-green-700 text-xs"></i>
              Open
            </span>
          </div>

          <p class="text-xs text-slate-500">
            From {moment(fund.open).format("dddd hh:mma, MMMM Do YYYY")}<br
            />till
            {moment(fund.close).format("dddd hh:mma, MMMM Do YYYY")}
          </p>
        </div>

        {
          fund.partners.length > 0 && (
            <>
              <p>Partners</p>
              <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                {fund.partners.map((partner) => (
                  <div class="relative flex items-center space-x-3 rounded-lg border-slate-300 bg-white px-4 py-4">
                    <div class="flex-shrink-0">
                      <img
                        class="h-10 w-10 rounded-md drop-shadow-md"
                        src={`https://unltd.directus.app/assets/${partner.organisations_id.logo}`}
                        alt=""
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <span class="absolute inset-0" aria-hidden="true" />
                      <p class="text-sm font-medium text-slate-900">
                        {partner.organisations_id.name}
                      </p>
                    </div>
                  </div>
                ))}
              </div>
            </>
          )
        }
      </div>

      <Testamonial
        person="Shaun Fox"
        role="CEO"
        organisation="Legacy Active Communities"
        fund="Movement for Change"
      >
        The Movement for Change programme gave Legacy Active Communities a space
        to focus on building for the future as we support schools and
        communities to encourage health and physical activity in young people's
        everyday lives. With likeminded social entrepreneurs, we could address
        challenges and opportunities for our social enterprise, while discussing
        our business models and opportunities for growth. We experienced
        considered, strategic, expert feedback on diversification opportunities
        - including risk and reward - to bolster our operations and greaten our
        social impact.
      </Testamonial>
    </div>

    <div class="flex flex-col gap-20">
      <dl
        class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4"
      >
        <div class="flex flex-col p-8">
          <dt class="text-sm font-semibold leading-6 text-slate-400">
            Grantees in 2022
          </dt>
          <dd
            class="order-first text-3xl font-semibold tracking-tight text-gray-900"
          >
            162
          </dd>
        </div>
        <div class="flex flex-col p-8">
          <dt class="text-sm font-semibold leading-6 text-slate-400">
            Died of unknown causes
          </dt>
          <dd
            class="order-first text-3xl font-semibold tracking-tight text-gray-900"
          >
            3%
          </dd>
        </div>
        <div class="flex flex-col p-8">
          <dt class="text-sm font-semibold leading-6 text-slate-400">
            Rated their support highly
          </dt>
          <dd
            class="order-first text-3xl font-semibold tracking-tight text-gray-900"
          >
            78.9%
          </dd>
        </div>
        <div class="flex flex-col p-8">
          <dt class="text-sm font-semibold leading-6 text-slate-400">
            Paid out to creators
          </dt>
          <dd
            class="order-first text-3xl font-semibold tracking-tight text-gray-900"
          >
            $70M
          </dd>
        </div>
      </dl>

      <div class="grid grid-cols-4 gap-20 mx-auto max-w-7xl">
        <!-- Awards -->
        <div class="col-span-4 flex flex-col gap-10 lg:col-span-4">
          <div class="flex flex-col gap-10 lg:flex-row">
            <div class="flex flex-col basis-3/4">
              <div class="flex flex-col gap-10">
                <!-- xs to lg -->
                <GrantsSMLG grants={fund.grants} name={fund.name} />
              </div>

              <!-- lg+ -->
              <GrantsXL grants={fund.grants} name={fund.name} />
            </div>
            <div class="flex flex-col basis-1/4 gap-10">
              <div class="flex flex-col gap-10">
                <div class="flex flex-col gap-3">
                  <h3 class="font-bold text-slate-500">Inclusion</h3>
                  <div class="flex flex-col gap-3">
                    <p class="text-sm text-slate-500 leading-relaxed">
                      At least 50% of grants will go to Black, Asian,
                      marginalised ethnic groups or disabled backgrounds
                    </p>
                    <p class="text-sm text-slate-500 leading-relaxed">
                      We want to make it clear that at UnLtd that when we
                      support LGBTQIA+ organisations, we welcome and support
                      trans people, non-binary, gender diverse, genderqueer and
                      gender questioning people. When we support organisations
                      focusing on women's issues and rights, we include trans
                      women. When we support organisations focusing on men's
                      issues, we include trans men. We are committed to using an
                      intersectional lens on social issues, and our own
                      learning.
                    </p>
                  </div>
                  <div class="flex flex-col gap-2">
                    <a
                      class="text-xs text-amber-700 hover:underline hover:text-amber-800"
                      href="/equity-commitments"
                      >Learn more about equity commitments</a
                    >
                  </div>
                </div>

                <div class="flex flex-col gap-3">
                  <h3 class="font-bold text-slate-500">Help</h3>
                  <div class="flex flex-col gap-3">
                    <p class="text-sm text-slate-500 leading-relaxed">
                      For social entrepreneurs with questions about grants and
                      support
                    </p>
                  </div>
                  <div class="flex flex-row gap-5">
                    <a
                      class="text-xs text-amber-700 hover:underline hover:text-amber-800"
                      href="/grants-&-support/faq">Frequently Asked Questions</a
                    >
                    <a
                      class="text-xs text-amber-700 hover:underline hover:text-amber-800"
                      href="/contact-us">Contact us</a
                    >
                  </div>
                </div>

                <div class="flex flex-col gap-4 lg:flex">
                  <h3 class="font-bold text-slate-500">Other funds</h3>
                  <div class="flex flex-col gap-3">
                    {
                      funds
                        .filter(
                          (fundi) =>
                            !(fundi.name === fund.name) &&
                            todayDate.isBefore(fundi.close) &&
                            todayDate.isAfter(fundi.open) &&
                            fundi.public
                        )
                        .map((fundi) => (
                          <a
                            href={`/funds/${fundi.slug}`}
                            class="border border-slate-100 p-6 rounded-2xl flex flex-col gap-5 hover:border-amber-300 transition"
                          >
                            <div class="flex flex-col gap-2">
                              <img
                                class="inline-block h-14 w-14 rounded-md"
                                src={`https://unltd.directus.app/assets/${fundi.logo.id}`}
                                alt=""
                              />
                              <div>
                                <h3 class="text-lg font-bold">{fundi.name}</h3>
                                <p class="text-xs leading-relaxed">
                                  {truncate(fundi.description, 100)}
                                </p>
                              </div>
                            </div>
                          </a>
                        ))
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Template>
