---
import Layout from "../../../layouts/Layout.astro";
import Container from "../../../layouts/Container.astro";
import Funding from "../../../components/Funding.astro";

import { funds } from "../../../data/directus/funds.js";

export async function getStaticPaths() {
  return funds.map((fund) => {
    let oogle = {
      params: {
        fund: fund.slug,
      },
      props: {
        fund: fund,
      },
    };

    return oogle;
  });
}

const { fund } = Astro.props;
---

<Layout>
  <Container>

              <a href="/funds" class="underline hover:text-violet-300 text-white">
            <i class="fa-solid fa-arrow-left-long" /> Back to funds
          </a>


          <div class="flex flex-row gap-10">
            <div class="basis-2/6">
            
                      <div class="border-gray-200 bg-white px-9 py-9 rounded-md flex flex-col gap-5">
          <div class="flex flex-row gap-3 items-center">
            <div>
              { fund.logo != null && <img
              class="h-12 w-12 rounded-md"
              src={`https://unltd.directus.app/assets/${fund.logo.id}`}
              alt=""/> }
            </div>
            <div class="">
              <a href={`/funds/${fund.slug}`}>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                  {fund.name}
                </h3>
              </a>
              { fund.organisations && <p class="text-xs text-gray-500">Funded by {fund.organisations.map((organisation) => organisation.name)}</p> }
            </div>
          </div>
            <div>
              {fund.email && (
            <a
              class="inline-flex items-center rounded-full border border-transparent bg-white px-3 py-1.5 text-xs font-medium text-violet-900 shadow-sm hover:bg-violet-200 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2"
              href={`mailto:${fund.email}`}
            >
              {fund.email}
            </a>
          )}
            </div>
            <div>
                        {fund.website && (
            <a
              class="inline-flex items-center rounded-full border border-transparent bg-white px-3 py-1.5 text-xs font-medium text-violet-900 shadow-sm hover:bg-violet-200 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2"
              href={fund.website}
              target="_blank"
              rel="noopener noreferrer"
            >
              Website
            </a>
          )}
            </div>
            <div>
          <p class="text-gray-500 text-sm">{fund.description}</p>
            </div>
        </div>
            </div>
            <div class="basis-4/6">
                      <ul class="text-white list-disc">
            {fund.rounds.length > 0 &&
              fund.rounds.map((round) => (
                <>
                  <li>
                    <a
                      class="underline hover:text-violet-300"
                      href={`/funds/${fund.slug}/${round.open}-${round.close}`}
                    >
                      {round.open} - {round.close}
                    </a>
                  </li>
                  {round.funding > 0 && (
                    <p class="uppercase text-white">Funding</p>
                    <ul class="list-disc list-inside">
                      {round.funding.map((grant) => (
                        <li>
                          <a
                            class="underline hover:text-violet-300"
                            href={`/funds/${fund.slug}/${round.open}-${round.close}/${grant.slug}`}
                          >
                            {grant.name}
                          </a>
                        </li>
                      ))}
                    </ul>
                  )}
                </>
              ))}
          </ul>
            </div>
          </div>
  </Container>
</Layout>
