---
const { post, styles } = Astro.props;
import slugify from "slugify";
import moment from "moment";
---

<article
    class={`relative isolate flex aspect-video h-44 lg:h-72 flex-none flex-col justify-end overflow-hidden rounded-2xl ${styles.bg} p-8 transition ease-in-out delay-150 hover:-translate-y-2 duration-300`}
>
    <img
        src={post.id.image !== null && post.id.image.id !== null
            ? `https://unltd.directus.app/assets/${post.id.image.id}?width=384&height=216`
            : `/img/blog/${slugify(post.tag, { lower: true, strict: true, locale: "en", trim: true })}.webp`}
        alt=""
        class="absolute inset-0 -z-10 h-full w-full object-cover"
    />
    <div class={`absolute inset-0 -z-10 bg-gradient-to-t ${styles.gradient}`}>
    </div>
    <div class={`absolute inset-0 -z-10 rounded-2xl`}></div>

    <div
        class={`flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 ${styles.text}`}
    >
        <time datetime="2020-03-16" class="mr-8">
            {moment(post.id.date_time).format("ddd hh:mm, DD MMM YYYY")}
        </time>
        <div class="-ml-4 flex items-center gap-x-4">
            <svg
                viewBox="0 0 2 2"
                class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50"
            >
                <circle cx="1" cy="1" r="1"></circle>
            </svg>
            <div class="flex gap-x-2.5">
                {post.id.author_name}
            </div>
        </div>
    </div>
    <h3 class="mt-1 text-lg font-semibold leading-6 text-white">
        <a href={`/blog/${post.id.slug}`}>
            <span class="absolute inset-0"></span>
            {post.id.title}
        </a>
    </h3>
</article>
