---
const { quote, styles } = Astro.props;
---

<figure
    class={`${styles.bg} flex-none w-96 h-64 rounded-lg shadow-lg p-4 flex flex-col`}
>
    <blockquote class={`text-xs leading-2 ${styles.text}`}>
        <p>
            <span class={`font-bold text-xl ${styles.text2}`}> " </span>
            {quote.id.body}
            <span class={`font-bold text-xl ${styles.text2}`}> " </span>
        </p>
    </blockquote>
    <figcaption class="mt-10 flex items-center gap-x-6">
        <div class="text-base flex flex-col gap-2">
            <div class="flex flex-col gap-1">
                <span class={`font-semibold ${styles.text}`}>
                    {quote.id.award_winner.person.name}
                </span>

                <span class={`text-xs ${styles.text2}`}>
                    Founder,
                    {
                        quote.id.award_winner.social_venture[0].organisations_id
                            .name
                    }
                </span>
            </div>

            <div
                class={`flex flex-row gap-1 items-center text-sm ${styles.text2}`}
            >
            </div>
        </div>
    </figcaption>
</figure>
