---
const { quote, styles } = Astro.props;
---

<figure
    class={`flex aspect-video h-44 lg:h-96 flex-none flex-col justify-end overflow-hidden rounded-2xl ${styles.bg} p-8 sm:inline-block text-sm leading-6`}
>
    <div class="flex flex-col justify-center">
        <blockquote class={`${styles.text}`}>
            <p class="text-sm leading-6">
                {quote.id.body}
            </p>
        </blockquote>
        <figcaption class="mt-6 flex items-center gap-x-4">
            <div>
                <div class={`font-semibold ${styles.text}`}>
                    {quote.id.award_winner.person.name}
                </div>
                <div class={`${styles.text2} text-xs`}>
                    {quote.id.award_winner.grant.name} | {
                        quote.id.award_winner.programme.name
                    } | Award Winner
                </div>
            </div>
        </figcaption>
    </div>
</figure>
