---
const { name, description, slug, type, placeholder, required } = Astro.props;
---

<div>
  <div class="flex justify-between">
    <label for={slug} class="block text-sm font-medium text-gray-700">{name}</label>
    <span class="text-sm text-gray-500" id="email-required">{ required === "true" && `Required`}</span>
  </div>
  <p class="mt-2 text-sm text-gray-500" id={`${slug}-description}`}>
    {description}
  </p>
  <div class="mt-1">
    <input
      type={type}
      name={slug}
      id={slug}
      class="text-gray-700 block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 sm:text-sm"
      placeholder={placeholder}
      aria-describedby={`${slug}-description}`}
    />
  </div>

</div>
