---
const { name, description, slug, type, placeholder, prefix, required } = Astro.props;
---

<div>
  <div class="flex justify-between">
    <label for={slug} class="block text-sm font-medium text-gray-700">{name}</label>
    <span class="text-sm text-gray-500" id="email-required">{ required === "true" && `Required`}</span>
  </div>
  <p class="mt-2 text-sm text-gray-500 leading-relaxed" id={`${slug}-description}`}>
    {description}
  </p>

  <div class="mt-1 flex rounded-md shadow-sm">
    { prefix && <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-gray-500 sm:text-sm">{ prefix }</span> }
  <input type={type} name={ slug } id={ slug } aria-describedby={`${slug}-description}`} placeholder={placeholder} class="text-gray-700 block w-full min-w-0 flex-1  border border-r-0 border-gray-300 px-3 py-2 focus:border-violet-500 focus:ring-violet-500 sm:text-sm rounded-md disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500" disabled placeholder={ placeholder }>
</div>

</div>
