---
const { name, description, slug, required, number } = Astro.props;
---

<div>
  <div class="relative flex items-start">
    <div class="flex h-5 items-center">
      <input
        id={`${slug}`}
        aria-describedby={`${slug}-description`}
        name={`${slug}`}
        type="checkbox"
        class="h-4 w-4 rounded border-violet-300 text-amber-600 focus:amber-amber-500"
      />
    </div>
    <div class="ml-3 text-sm">
      <div class="flex justify-between">
        <label for={slug} class="font-medium text-violet-700"
          ><span class="text-violet-400 text-sm mr-1">{number}.</span>
          {name}</label
        >
        <span class="text-sm text-violet-500" id="email-required"
          >{required === "true" && `Required`}</span
        >
      </div>
      <p
        id={`${slug}-description`}
        class="mt-2 text-sm text-violet-500 leading-relaxed"
      >
        {description}
      </p>
    </div>
  </div>
</div>
