---
import Icon from "@components/Icon.astro";
const {
  name,
  description,
  slug,
  input_type,
  required,
  disabled,
  prefix,
  suffix,
  number,
} = Astro.props;
import { marked } from "marked";
import { gfmHeadingId } from "marked-gfm-heading-id";
marked.use(gfmHeadingId());
let markdown;
if (description != null) {
  markdown = marked.parse(description);
}
---

<div>
  <div class="flex justify-between gap-5">
    <label for={slug} class="block text-sm font-medium text-violet-700"
      ><span class="text-violet-400 text-sm mr-1">{number}.</span> {name}</label
    >
    <span class="text-sm text-violet-400" id={`${slug}-required`}
      >{required == true && `Required`}</span
    >
  </div>
  <div
    class="mt-2 text-sm text-violet-500 leading-relaxed prose"
    id={`${slug}-description}`}
    set:html={markdown}
  />
  <div class="mt-1 flex rounded-md shadow-xs">
    {
      prefix && (
        <span class="inline-flex items-center rounded-l-md border border-r-0 border-violet-300 bg-violet-50 px-3 text-violet-500 sm:text-sm">
          {prefix}
        </span>
      )
    }

    {
      input_type == "file" ? (
        <div
          class={`flex w-full justify-center rounded-md border-2 border-dashed border-violet-300 px-6 pt-5 pb-6 ${
            disabled && "cursor-not-allowed bg-violet-100"
          }`}
        >
          <div class="space-y-1 text-center">
            <Icon name="table" style="solid" class="text-violet-400 text-3xl" />
            <div class="flex text-sm text-violet-600">
              <label
                for="file-upload"
                class={`relative cursor-pointer rounded-md font-medium  focus-within:outline-hidden focus-within:ring-2  focus-within:ring-offset-2 ${
                  disabled
                    ? "text-violet-500"
                    : "text-amber-600 focus-within:ring-amber-500"
                }`}
              >
                <span class={disabled && "cursor-not-allowed"}>
                  Upload a file
                </span>
                <input
                  id="file-upload"
                  name="file-upload"
                  type="file"
                  class="sr-only"
                  disabled={disabled}
                />
              </label>
              <p class="pl-1">or drag and drop</p>
            </div>
            <p class="text-xs text-violet-500">CSV, GSHEET, XLSX up to 2MB</p>
          </div>
        </div>
      ) : (
        <input
          type={input_type}
          name={slug}
          id={slug}
          aria-describedby={`${slug}-description}`}
          class={`block w-full border-violet-300 py-2 pl-3 pr-3 text-base focus:border-amber-500 focus:outline-hidden focus:ring-amber-500 sm:text-sm disabled:cursor-not-allowed disabled:border-violet-200 disabled:bg-gray-200 disabled:text-violet-500 ${
            prefix ? "rounded-none rounded-r-md" : "rounded-md"
          }`}
          disabled={disabled}
        />
      )
    }
  </div>
</div>
