---
import Template from "@layouts/Template.astro";
import Container from "@components/Container.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Hero from "@components/Hero.astro";
import { marked } from "marked";
import slugify from "slugify";
import moment from "moment";
import { palette } from "@data/palette.js";

import { panels } from "@data/panels.js";

export async function getStaticPaths() {
    try {
        return panels.map((panel) => {
            const name = `${moment(panel.date).format("DD-MM-YYYY")}`;
            const slug = slugify(name, {
                lower: false,
                strict: false,
                locale: "en",
                trim: true,
            });

            const breadcrumbs = [
                {
                    name: "Awards",
                    slug: `/award`,
                },
                {
                    name: name,
                    slug: `/award/${slug}`,
                },
            ];

            return {
                params: {
                    panel: slug,
                },
                props: {
                    name: name,
                    date: moment(panel.date).format("dddd, MMMM Do YYYY"),
                    programme: panel.programme,
                    positions: panel.positions,
                    breadcrumbs: breadcrumbs,
                },
            };
        });
    } catch (error) {
        console.error("🐛 ", error);
    }
}

const { name, date, programme, positions, breadcrumbs } = Astro.props;
---

<Template name={name} breadcrumbs={breadcrumbs}>
    <Container>
        <div class="py-12">
            <div class="grid grid-cols-1 gap-x-8 gap-y-20 xl:grid-cols-5">
                <div class="max-w-2xl xl:col-span-2 flex flex-col gap-3">
                    <div>
                        <p
                            class="text-base font-bold tracking-wide uppercase text-violet-300"
                        >
                            Your Award Panel
                        </p>
                        <h2
                            class="text-3xl font-bold tracking-tight text-violet-100"
                        >
                            Hello <span id="dos">social entrepreneur</span>!<br
                            />
                        </h2>
                        <p></p>
                    </div>
                    <div>
                        <h3 class="text-base tracking-tight text-violet-300">
                            Date
                        </h3>
                        <p
                            class="text-xl font-bold tracking-tight text-violet-200"
                        >
                            {date}
                        </p>
                    </div>
                    <div>
                        <h3 class="text-base tracking-tight text-violet-300">
                            Award Programme
                        </h3>
                        <a
                            href={`/award/${slugify(programme.name, {
                                lower: true,
                                strict: false,
                                locale: "en",
                                trim: true,
                            })}`}
                            class={`inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ${palette[programme.name].badge} ring-1 ring-inset gap-1`}
                        >
                            <i class={programme.icon}></i>
                            <span>{programme.name}</span>
                        </a>
                    </div>
                    <p class="mt-6 text-lg leading-8 text-violet-300">
                        We’re a dynamic group of individuals who are passionate
                        about what we do and dedicated to delivering the best
                        results for our clients.
                    </p>
                </div>
                <ul
                    role="list"
                    class="-mt-12 space-y-12 divide-y divide-violet-500 xl:col-span-3"
                >
                    {
                        positions.map((person) => (
                            <li class="flex flex-col gap-50 pt-12 sm:flex-row">
                                <div class="basis-1/3">
                                    {person.positions_id.person.image ? (
                                        <img
                                            class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover"
                                            src={`https://unltd.directus.app/assets/${person.positions_id.person.image.id}`}
                                            alt=""
                                        />
                                    ) : (
                                        <img
                                            class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover"
                                            src={`https://source.boringavatars.com/marble/128/untapped-products-shopping-with-purpose?colors=220353,3a0883,ce620c&square`}
                                            alt=""
                                        />
                                    )}
                                </div>

                                <div class="basis-2/3 ">
                                    <div>
                                        <h3 class="text-lg font-semibold leading-8 tracking-tight text-violet-100">
                                            {person.positions_id.person.name}
                                        </h3>
                                        <div class="flex items-center gap-1">
                                            {person.positions_id.person
                                                .gender_pronouns &&
                                                person.positions_id.person
                                                    .gender_pronouns.length >
                                                    0 && (
                                                    <div class="flex gap-1">
                                                        {person.positions_id.person.gender_pronouns?.map(
                                                            (item) => (
                                                                <span class="text-xs text-violet-200">
                                                                    {item}
                                                                </span>
                                                            ),
                                                        )}
                                                    </div>
                                                )}
                                            <div />
                                        </div>
                                    </div>
                                    <p class="text-base leading-7 text-violet-300">
                                        {person.positions_id.role.name} at
                                        {
                                            person.positions_id.role
                                                .organisation.name
                                        }
                                    </p>
                                    <p class="mt-6 text-base leading-7 text-violet-200">
                                        {person.positions_id.person.bio}
                                    </p>
                                    <ul role="list" class="mt-6 flex gap-x-6">
                                        {person.positions_id.person
                                            .linkedin && (
                                            <li>
                                                <a
                                                    href={
                                                        person.positions_id
                                                            .person.linkedin
                                                    }
                                                    class="text-violet-200 hover:text-violet-400"
                                                >
                                                    <span class="sr-only">
                                                        LinkedIn
                                                    </span>
                                                    <i class="fa-brands fa-linkedin text-xl" />
                                                </a>
                                            </li>
                                        )}
                                        {person.positions_id.person.website && (
                                            <li>
                                                <a
                                                    href={
                                                        person.positions_id
                                                            .person.website
                                                    }
                                                    class="text-violet-200 hover:text-violet-400"
                                                >
                                                    <span class="sr-only">
                                                        Website
                                                    </span>
                                                    <i class="fa-regular fa-globe text-xl" />
                                                </a>
                                            </li>
                                        )}
                                    </ul>
                                </div>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </Container>

    <script is:inline>
        const searchParams = new URLSearchParams(window.location.search);
        let name = searchParams.get("name");
        const nameElement = document.getElementById("dos");

        name = name.replace("%20", " ").trim();

        const regex = /^[a-zA-Z ]+$/;

        if (regex.test(name)) nameElement.textContent = name;
    </script>
</Template>
