---
import Template from "@layouts/Template.astro";
import Container from "@components/Container.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Hero from "@components/Hero.astro";
import { marked } from "marked";
import slugify from "slugify";
import Team from "@components/Team2.astro";

import { panels } from "@data/panels.js";

import Faqtemplate from "@components/Faqtemplate.astro";
import Faq from "@components/Faq.astro";
import Note from "@components/Note.astro";

export async function getStaticPaths() {
  return panels.map((panel) => {
    let breadcrumbs = [
      {
        name: "Awards",
        slug: `/award`,
      },
      {
        name: panel.date_time,
        slug: `/award/${slugify(panel.date_time, {
          lower: true,
          strict: true,
          locale: "en",
          trim: true,
        })}`,
      },
    ];

    panel.breadcrumbs = breadcrumbs;

    let item = {
      params: {
        panel: slugify(panel.date_time, {
          lower: true,
          strict: true,
          locale: "en",
          trim: true,
        }),
      },
      props: {
        ...panel,
      },
    };

    return item;
  });
}

const { date_time, people, breadcrumbs } = Astro.props;
---

<Template name={date_time} breadcrumbs={breadcrumbs}>
  <Container>
    <!-- <Hero name={name} description={description} updated={date_updated} /> -->
    <!-- <div
      set:html={marked.parse(body)}
      class="prose prose-slate dark:prose-invert lg:prose-lg prose-img:rounded-md prose-img:shadow-sm prose-img:w-full prose-a:font-bold prose-a:underline-offset-4 prose-a:decoration-amber-500 prose-a:decoration-1 hover:prose-a:decoration-2"
    /> -->
    <div>
      <Team
        name={`Panel members - ${date_time}`}
        description="..."
        people={people.map((person) => {
          return {
            name: person.positions_id.person.name,
            image: person.positions_id.person.image,
            gender_pronouns: person.positions_id.person.gender_pronouns,
            lgbtqia_plus: person.positions_id.person.lgbtqia_plus,
            linkedin: person.positions_id.person.linkedin,
            role: person.positions_id.role.name,
          };
        })}
      />
    </div>
  </Container>
</Template>
