---
import FormSection from "../../components/form/FormSection.astro";

import Input from "../../components/form/inputs/Input.astro";
// import Select from "../../components/form/inputs/Select.astro";
// import Datalist from "../../components/form/inputs/Datalist.astro";
// import Textarea from "../../components/form/inputs/Textarea.astro";
// import Checkboxes from "../../components/form/inputs/Checkboxes.astro";
// import Radios from "../../components/form/inputs/Radios.astro";

const { applications, application, sections, fields } = Astro.props;

let sectionFilter = sections.filter((sec) => {
  let dog;
  sec.applications.filter((seci) => {
    if (seci === application.id) {
      return (dog = sec);
    }
    return dog;
  });
  return dog;
});
---

<div class="flex flex-col gap-7 md:px-0">
  <div class="border-b border-violet-400 pb-5 sm:pb-0">
    <h3 class="text-lg font-medium leading-6 text-violet-100">
      How long has your venture been selling goods or/and services?
    </h3>
    <div class="mt-3 sm:mt-4">
      <div class="">
        <nav class="-mb-px flex space-x-8">
          {
            applications.map((appi, index) => (
              <a
                href={`/applications/${appi.slug}`}
                class={`whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm ${
                  application.id === appi.id
                    ? "border-violet-100 text-violet-100"
                    : "border-transparent text-violet-400 hover:text-violet-200 hover:border-violet-200"
                }`}
              >
                {appi.name}
              </a>
            ))
          }
        </nav>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-4">
    <aside
      class="col-span-12 md:col-span-4 lg:col-span-4 py-6 px-2 sm:px-6 lg:py-10 lg:px-10 flex flex-col gap-8 bg-white rounded-md flex-none md:self-start md:sticky md:top-7"
    >
      <div>
        {
          applications.map(
            (appi) =>
              application.id === appi.id && (
                <div class="flex flex-col gap-5">
                  <div class="">
                    <p class="text-xs text-black">
                      How long has your venture been selling goods or/and
                      services?
                    </p>
                    <p class="text text-2xl text-black">{appi.name}</p>
                  </div>
                  <div class="flex flex-col gap-7">
                    <div class="flex flex-col gap-2">
                      <p class="text-xs text-black">Grant up to</p>
                      <div class="flex flex-col">
                        <p class=" text-xl text-black">
                          {new Intl.NumberFormat("en-GB", {
                            maximumSignificantDigits: 3,
                            style: "currency",
                            currency: "GBP",
                          }).format(appi.amount)}
                        </p>
                        <p class="text-sm text-gray-500">{appi.use}</p>
                      </div>
                    </div>
                  </div>
                </div>
              )
          )
        }
      </div>

      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
      </div>

      <div class="flex flex-col gap-1">
        {
          sectionFilter.map((section) => (
            <a
              href={`#${section.slug}`}
              class={`text-gray-700 hover:text-violet-900 hover:bg-violet-100 rounded-md flex items-center text-sm font-medium transition`}
            >
              <span class="truncate p-3">{section.name}</span>
            </a>
          ))
        }
      </div>

      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <div>
          <a
            href="#"
            class="rounded px-2.5 py-1.5 text-xs font-medium text-violet-900 hover:bg-violet-100 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2 transition"
            >Download PDF</a
          >
        </div>
        <div>
          <a
            href="#"
            class="rounded px-2.5 py-1.5 text-xs font-medium text-violet-900 hover:bg-violet-100 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2 transition"
            >Download GDOC (Google Docs)</a
          >
        </div>
        <div>
          <a
            href="#"
            class="rounded px-2.5 py-1.5 text-xs font-medium text-violet-900 hover:bg-violet-100 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2 transition"
            >Download DOCX (Microsoft 365 Word)</a
          >
        </div>
      </div>
    </aside>

    <main
      class="col-span-12 md:col-span-8 lg:col-span-5 flex flex-col gap-4 md:top-10"
    >
      {
        sectionFilter.map((singlesectionfilter) => {
          return (
            <FormSection
              name={singlesectionfilter.name}
              slug={singlesectionfilter.slug}
              description={singlesectionfilter.description}
            >
              {fields.map((field) => {
                if (
                  field.sections.length == 1 &&
                  field.sections == singlesectionfilter.id
                ) {
                  // return (
                  //   <{`${field.input}`} slug={field.slug}
                  //     name={field.input}
                  //     description={field.description}
                  //   />
                  // );
                  return <p class="text-green-700">{field.name}</p>;
                } else if (field.sections.length > 1) {
                  return <p class="text-blue-700">{field.name}</p>;
                  field.sections.map((fieldsection) => {
                    if (fieldsection == singlesectionfilter.id) {
                      return (
                        <div>
                          <p class="text-blue-700">{field.name}</p>
                        </div>
                      );
                    }
                  });
                }
              })}
            </FormSection>
          );
        })
      }
    </main>

    <div
      class="col-span-12 lg:col-span-3 p-3 lg:self-start lg:sticky lg:top-10 flex-none"
    >
      <h3 class="text font-medium leading-6 text-white">
        Ready to start your Awards application?
      </h3>
      <div
        class="mt-2 sm:flex flex-col gap-3 sm:items-start sm:justify-between"
      >
        <div class="max-w-xl text-sm text-violet-300">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            voluptatibus corrupti atque repudiandae nam.
          </p>
        </div>
        <div class="mt-5 sm:mt-0 sm:flex sm:flex-shrink-0 sm:items-center">
          <a
            href="https://unltdb2cprod.b2clogin.com/042ca636-5cc6-4423-87a1-9811e4643125/B2C_1_signin_signup/api/CombinedSigninAndSignup/unified?local=signup&csrf_token=T1d3bjYwZGJYbkppbFlkTi9KcmRBRE9kRDVqWkFjbmZFbU1OcTljaHA3alhVMFhMWGRac091RU9LdXJEaXN3eSs1ZWlkelU4cWNMZ2tlR3dUQnhmZmc9PTsyMDIyLTEyLTAyVDExOjMxOjQ5LjQyODE3ODlaO1ZnM0NwbDJaUHVrWmw0VUtNa0Nyemc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&tx=StateProperties=eyJUSUQiOiIzMmYzMzI1Ny1mZWRkLTQ2ZGUtYTVlMy01OTk0YTYzNTVmNGYifQ&p=B2C_1_signin_signup"
            class="inline-flex items-center rounded-md border border-transparent bg-white px-4 py-2 font-medium text-violet-900 shadow-sm hover:bg-violet-200 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2 sm:text-sm transition"
            >Sign-up</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
