---
import Aside from "../../components/form/Aside.astro";
import Maino from "../../components/form/Maino.astro";
import Right from "../../components/form/Right.astro";

import { marked } from "marked";

const { applications, application, sections, fields } = Astro.props;

let sectionFilter = sections.filter((sec) => {
  let dog;
  sec.applications.filter((seci) => {
    if (seci === application.id) {
      return (dog = sec);
    }
    return dog;
  });
  return dog;
});
---

<!-- <script is:inline>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const intersecting = entry.isIntersecting;
      entry.target.style.backgroundColor = intersecting ? "blue" : "orange";
    });
  });

  observer.observe(document.getElementsByClassName("orange"));
</script> -->
<div class="flex flex-col gap-7 md:px-0">
  <div class="border-b border-violet-400 pb-5 sm:pb-0">
    <h3 class="text-lg font-medium leading-6 text-violet-100">
      How long has your venture been selling goods or/and services?
    </h3>
    <div class="mt-3 sm:mt-4">
      <div class="">
        <nav class="-mb-px flex space-x-8">
          {
            applications.map((appi, index) => (
              <a
                href={`/applications/${appi.slug}`}
                class={`whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm ${
                  application.id === appi.id
                    ? "border-violet-100 text-violet-100"
                    : "border-transparent text-violet-400 hover:text-violet-200 hover:border-violet-200"
                }`}
              >
                {appi.name}
              </a>
            ))
          }
        </nav>
      </div>
    </div>
  </div>

  <div class="grid gap-x-4 grid-cols-12">
    <Aside
      applications={applications}
      application={application}
      sections={sections}
    />

    <div class="col-span-12 md:col-span-1 lg:col-span-1 lg:auto-cols-fr"></div>

    <Maino sections={sectionFilter} fields={fields} />

    <Right />
  </div>
</div>
