---
import nav from "../../../data/nav.json";
import Logo from "../../Logo.astro";
import Anchor from "./Anchor.astro";
import Dropdown from "./Dropdown.astro";
---

<script is:inline>
  function hideButton(dropdownButton) {
    if (dropdownButton.getAttribute("aria-expanded") === "true") {
      dropdownButton.setAttribute("aria-expanded", false);
    }
  }

  function hideContent(dropdownContent) {
    if (!dropdownContent.classList.contains("hidden")) {
      dropdownContent.classList.add("hidden");
    }
  }

  window.onclick = function (event) {
    if (!event.target.dataset.dropdown) {
      let dropdownContents = document.querySelectorAll(
        "[data-dropdown=dropdownContent]"
      );

      let dropdownButtons = document.querySelectorAll(
        "[data-dropdown=dropdownButton]"
      );

      for (let i = 0; i < dropdownContents.length; i++) {
        hideContent(dropdownContents[i]);
      }

      for (let i = 0; i < dropdownButtons.length; i++) {
        hideButton(dropdownButtons[i]);
      }
    }
  };

  function desktop(item) {
    let dropdownContentId = "dropdownContent-" + item;
    let dropdownButtonId = "dropdownButton-" + item;
    let dropdownContent = document.getElementById(dropdownContentId);
    let dropdownButton = document.getElementById(dropdownButtonId);

    let dropdownButtons = document.querySelectorAll(
      "[data-dropdown=dropdownButton]"
    );

    let dropdownContents = document.querySelectorAll(
      "[data-dropdown=dropdownContent]"
    );

    for (let i = 0; i < dropdownButtons.length; i++) {
      if (!(dropdownButtons[i].id === dropdownButtonId)) {
        hideButton(dropdownButtons[i]);
      }
    }

    for (let i = 0; i < dropdownContents.length; i++) {
      if (!(dropdownContents[i].id === dropdownContentId)) {
        hideContent(dropdownContents[i]);
      }
    }

    dropdownContent.classList.toggle("hidden");

    if (dropdownButton.getAttribute("aria-expanded") === "true") {
      dropdownButton.setAttribute("aria-expanded", "false");
    } else {
      dropdownButton.setAttribute("aria-expanded", "true");
    }
  }
</script>

<header class="bg-violet-900">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between lg:border-none">
      <div class="flex items-center justify-between">
        <a href="/">
          <span class="sr-only">UnLtd</span>
          <Logo />
        </a>
      </div>
      <div class="ml-10 space-x-4 flex gap-5 flex-col flex-end flex-wrap">
        <div class="hidden lg:flex lg:ml-auto lg:flex-end">
          <a
            href="/"
            class="py-1 px-8 rounded-full text-base font-medium border-solid border-2 border-white text-white hover:text-amber-500"
            >My award account</a
          >
        </div>
        <ul class="navbar hidden ml-10 space-x-8 lg:flex list-none">
          {
            nav.header.map((navItem) => (
              <>
                <li>
                  {navItem.children.length >= 1 ? (
                    <Dropdown
                      name={navItem.name}
                      slug={navItem.slug}
                      children={navItem.children}
                    />
                  ) : (
                    <Anchor
                      name={navItem.name}
                      slug={navItem.slug}
                      link={navItem.link}
                    />
                  )}{" "}
                </li>
              </>
            ))
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- <nav>
  <ul class="hidden lg:flex gap-10 p-10 items-center" data-dropdown="dropdown">
    {
      nav.header.map((navItem) => (
        <>
          <li>
            {navItem.children.length >= 1 ? (
              <Dropdown
                name={navItem.name}
                slug={navItem.slug}
                children={navItem.children}
              />
            ) : (
              <Anchor
                name={navItem.name}
                slug={navItem.slug}
                link={navItem.link}
              />
            )}{" "}
          </li>
        </>
      ))
    }
  </ul>
</nav> -->
