---
const { name, slug, children } = Astro.props;
import Button from "./Button.astro";
import Anchor from "./Button.astro";
---

<Button name={name} slug={slug} />

<ul
  id={`dropdownContent-${slug}`}
  class="flex flex-col gap-4 p-3 bg-white text-black rounded-md absolute z-10 hidden"
  data-dropdown="dropdownContent"
>
  {
    children.map((navItem) => (
      <li>
        <a
          href={
            navItem.slug && !navItem.link
              ? `/${navItem.slug}`
              : `${navItem.link}`
          }
          target={!navItem.slug && navItem.link && "_blank"}
          class="block text-sm font-medium p-2 hover:bg-violet-100 rounded-md"
          data-dropdown="dropdownA"
        >
          <span>{navItem.name}</span>
          {!navItem.slug && navItem.link && (
            <i class="text-xs fa-solid fa-arrow-trend-up" />
          )}
        </a>
      </li>
    ))
  }
</ul>
