---
import Template from "@layouts/Template.astro";
import Container from "@components/Container.astro";
import Default from "@components/heroes/Default.astro";
import Post from "@components/Post.astro";
import { posts } from "@data/posts.js";
import slugify from "slugify";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Icon from "@components/Icon.astro";

export function getStaticPaths() {
  const title = "Blog";
  const description = "Read our posts.";

  const slug = slugify(title, {
    lower: true,
    strict: true,
    locale: "en",
    trim: true,
  });

  const yearsArray = [
    ...new Set(posts.map((post) => new Date(post.date_time).getFullYear())),
  ].sort((a, b) => b - a);

  const years = yearsArray.map((year) => ({
    params: { year: year.toString() },
    props: {
      name: title,
      description: description,
      posts: posts.filter(
        (post) => new Date(post.date_time).getFullYear() === year,
      ),
      years: yearsArray,
      breadcrumbs: [
        {
          name: title,
          path: `/${slug}`,
        },
        {
          name: year,
          path: year,
        },
      ],
    },
  }));

  years.push({
    params: { year: undefined },
    props: {
      name: title,
      description: description,
      posts: posts,
      years: yearsArray,
      breadcrumbs: [
        {
          name: title,
          path: slug,
        },
      ],
    },
  });

  return years;
}

const { name, description, posts, years, breadcrumbs } = Astro.props;
---

<Template name={name} description={description}>
  <Container>
    <Breadcrumbs breadcrumbs={breadcrumbs} />
    <Default name={name} description={description} />
    <div>
      <div class="grid grid-cols-1 sm:hidden">
        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
        <select
          aria-label="Select a tab"
          id="picker"
          onchange="javascript:location.href = this.value;"
          class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-2 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
        >
          {
            years.map((year) => (
              <option
                value={`/blog/${year}`}
                selected={
                  Astro.url.pathname === `/blog/${year}` ||
                  Astro.url.pathname === `/blog/${year}/`
                }
              >
                {year}
              </option>
            ))
          }
        </select>
        <Icon
          name="chevron-down"
          style="solid"
          class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-violet-500"
        />
      </div>
      <div class="hidden sm:block">
        <div class="border-b border-violet-800">
          <nav class="-mb-px flex space-x-8" aria-label="Tabs">
            <a
              href={`/blog`}
              class={`border-b-2 border-transparent px-1 py-4 text-sm font-medium whitespace-nowrap text-violet-400 hover:border-violet-300 hover:text-violet-300 ${(Astro.url.pathname === "/blog" || Astro.url.pathname === "/blog/") && "text-violet-200 border-violet-400"}`}
              >All</a
            >
            {
              years.map((year) => (
                <a
                  href={`/blog/${year}`}
                  class={`border-b-2 border-transparent px-1 py-4 text-sm font-medium whitespace-nowrap text-violet-400 hover:border-violet-300 hover:text-violet-300 ${(Astro.url.pathname === `/blog/${year}` || Astro.url.pathname === `/blog/${year}/`) && "text-violet-200 border-violet-400"}`}
                >
                  {year}
                </a>
              ))
            }
          </nav>
        </div>
      </div>
    </div>

    <ul
      role="list"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
    >
      {
        posts.map((post) => (
          <Post
            slug={slugify(post.title, {
              lower: true,
              strict: true,
              locale: "en",
              trim: true,
            })}
            title={post.title}
            description={post.description}
            image={{
              url: post.image,
              alt: post.image_alt,
              caption: post.image_caption,
            }}
            author={{ name: post.author_name, position: post.author_position }}
            published={post.date_time}
            tag={post.tag}
            status={post.status}
          />
        ))
      }
    </ul>
  </Container>
</Template>

<script>
  function myFunction() {
    const x = document.getElementById("picker").value;
    window.location.href = x;
  }
</script>
