---
import Card from "./cards/Card.astro";

const colorVariants = {
  slate: "dark:bg-slate-400/10 dark:text-slate-400 dark:ring-slate-400/20",
  gray: "dark:bg-gray-400/10 dark:text-gray-400 dark:ring-gray-400/20",
  zinc: "dark:bg-zinc-400/10 dark:text-zinc-400 dark:ring-zinc-400/20",
  neutral:
    "dark:bg-neutral-400/10 dark:text-neutral-400 dark:ring-neutral-400/20",
  stone: "dark:bg-stone-400/10 dark:text-stone-400 dark:ring-stone-400/20",
  red: "dark:bg-red-400/10 dark:text-red-400 dark:ring-red-400/20",
  orange: "dark:bg-orange-400/10 dark:text-orange-400 dark:ring-orange-400/20",
  amber: "dark:bg-amber-400/10 dark:text-amber-400 dark:ring-amber-400/20",
  yellow: "dark:bg-yellow-400/10 dark:text-yellow-400 dark:ring-yellow-400/20",
  lime: "dark:bg-lime-400/10 dark:text-lime-400 dark:ring-lime-400/20",
  green: "dark:bg-green-400/10 dark:text-green-400 dark:ring-green-400/20",
  emerald:
    "dark:bg-emerald-400/10 dark:text-emerald-400 dark:ring-emerald-400/20",
  teal: "dark:bg-teal-400/10 dark:text-teal-400 dark:ring-teal-400/20",
  cyan: "dark:bg-cyan-400/10 dark:text-cyan-400 dark:ring-cyan-400/20",
  sky: "dark:bg-sky-400/10 dark:text-sky-400 dark:ring-sky-400/20",
  blue: "dark:bg-blue-400/10 dark:text-blue-400 dark:ring-blue-400/20",
  indigo: "dark:bg-indigo-400/10 dark:text-indigo-400 dark:ring-indigo-400/20",
  violet: "dark:bg-violet-400/10 dark:text-violet-400 dark:ring-violet-400/20",
  purple: "dark:bg-purple-400/10 dark:text-purple-400 dark:ring-purple-400/20",
  fuchsia: "dark:bg-fuchsia-400/10 dark:text-fuchsia-400 dark:ring-v-400/20",
  pink: "dark:bg-pink-400/10 dark:text-pink-400 dark:ring-pink-400/20",
  rose: "dark:bg-rose-400/10 dark:text-rose-400 dark:ring-rose-400/20",
};

const { name, description, amount, features, eligibilities, programmes } =
  Astro.props;
---

<Card>
  <div class="flex flex-col gap-10 p-8">
    <div>
      <h2
        class="text-lg font-semibold leading-8 text-violet-900 dark:text-violet-100"
      >
        {name}
      </h2>
    </div>

    <div class="flex flex-col gap-2">
      <p class="flex flex-col items-baseline gap-x-1">
        <span
          class="text-sm font-semibold leading-6 text-violet-600 dark:text-violet-400"
        >
          Up to
        </span>
        <span
          class="text-4xl font-bold tracking-tight text-violet-900 dark:text-violet-100"
        >
          £{amount}
        </span>
      </p>

      <div class="flex flex-col gap-3">
        {
          features.map((feature) => (
            <p class={`truncate text-sm font-medium flex gap-2 items-center`}>
              <i
                class={`${feature.icon} text-violet-500 dark:text-violet-200`}
              />
              <span class={`text-violet-600 dark:text-violet-200`}>
                {feature.name}
              </span>
            </p>
          ))
        }
      </div>
    </div>

    <div>
      <p class="text-violet-600 dark:text-violet-200">Programmes available:</p>
      <ul class="flex-inline space-x-1">
        {
          programmes.map((programme) => (
            <>
              <span
                class={`inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset ${colorVariants[programme.colour]}`}
              >
                {programme.name}
              </span>
            </>
          ))
        }
      </ul>
    </div>
  </div>

  <div
    class={`flex flex-col gap-5 bg-violet-100 dark:bg-violet-950 rounded-b-3xl p-8`}
  >
    <div>
      <h3 class={`text-base text-violet-600 dark:text-violet-200`}>
        Social venture eligibility
      </h3>
      <p class="text-sm leading-6 text-violet-600 dark:text-violet-300">
        {description}
      </p>
    </div>
    <ul class="flex flex-col gap-6">
      {
        eligibilities.map((eligibility) => (
          <li class="flex flex-col gap-1">
            <p class={`truncate text-xs uppercase flex gap-2 items-center`}>
              <i
                class={`${eligibility.icon} text-violet-600 dark:text-violet-400`}
              />
              <span class={`text-violet-600 dark:text-violet-400`}>
                {eligibility.name}
              </span>
            </p>
            <p
              class={`text-sm font-medium tracking-tight text-violet-600 dark:text-violet-300`}
            >
              {eligibility.value}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</Card>
