---
import Container from "../Container.astro";
import Grant from "./Grant.astro";
import List from "./cards/List.astro";
const grants = [
  {
    name: "Starting Up",
    demographic: "Social entrepreneur",
    description:
      "You have an idea or have started to make a difference to people's lives, your community, or have ambitions to create change at a national level.",
    amount: "8,000",
    features: [
      {
        name: "For social venture costs",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "This is feature two",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "This is feature three",
        icon: "fa-solid fa-circle-check",
      },
    ],
    eligibilities: [
      {
        name: "Incorporated",
        value: "Not yet or less 4 years",
        icon: "fa-solid fa-pen-nib",
      },
      {
        name: "Selling goods and services",
        value: "Less than 1 year",
        icon: "fa-solid fa-bag-shopping",
      },
      {
        name: "Working with marginalised people",
        value: "Not yet or yes",
        icon: "fa-solid fa-people-line",
      },
    ],
    programmes: [
      { name: "Core", colour: "orange" },
      { name: "Access to Employment", colour: "violet" },
      { name: "Financial Inclusion", colour: "red" },
      { name: "Healthy Ageing", colour: "green" },
      { name: "Movement for Change", colour: "blue" },
    ],
  },
  {
    name: "Scaling Up",
    description:
      "You are already running a social venture that is making a positive difference and you have compelling evidence of your impact.",
    amount: "18,000",
    features: [
      {
        name: "For social venture costs",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "For social entrepreneur living costs",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "This is feature three",
        icon: "fa-solid fa-circle-check",
      },
    ],
    eligibilities: [
      {
        name: "Incorporated",
        value: "Less 4 years",
        icon: "fa-solid fa-pen-nib",
      },
      {
        name: "Selling goods and services",
        value: "1 to 4 years",
        icon: "fa-solid fa-bag-shopping",
      },
      {
        name: "Working with marginalised people",
        value: "Yes",
        icon: "fa-solid fa-people-line",
      },
    ],
    programmes: [
      { name: "Core", colour: "orange" },
      { name: "Access to Employment", colour: "violet" },
      { name: "Financial Inclusion", colour: "red" },
      { name: "Healthy Ageing", colour: "green" },
      { name: "Movement for Change", colour: "blue" },
    ],
  },
];
---

<Container light="violet-100" dark="violet-900">
  <div class="mx-auto max-w-4xl text-center mb-10 pt-20">
    <h2
      id="funding"
      class="text-base font-semibold leading-7 text-orange-600 dark:text-orange-500"
    >
      Funding
    </h2>
    <p
      class="mt-2 text-4xl font-bold tracking-tight text-violet-900 dark:text-violet-100 sm:text-5xl"
    >
      Your grant
    </p>
    <p
      class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-violet-600 dark:text-violet-400"
    >
      We combine funding and support to help you to get started or grow.
      Depending on your stage of development we can offer up to £18,000.
    </p>
  </div>

  <List>
    {
      grants.map((grant) => (
        <Grant
          name={grant.name}
          description={grant.description}
          amount={grant.amount}
          features={grant.features}
          eligibilities={grant.eligibilities}
          programmes={grant.programmes}
        />
      ))
    }
  </List>
</Container>
