---
import Card from "./cards/Card.astro";
import Badge from "./cards/Badge.astro";

import { programmeColours } from "../../data/programmeColours.js";

const { name, description, amount, features, eligibilities, programmes } =
  Astro.props;
---

<div
  class={`flex-1 grow divide-y rounded-2xl shadow-md border-2 ${programmeColours.divide["violet"]} ${programmeColours.border1["violet"]} `}
>
  <div class="bg-violet-50 dark:bg-violet-950 rounded-t-3xl px-8 py-6">
    <h2 class="text-2xl font-semibold text-violet-900 dark:text-violet-100">
      {name}
    </h2>
  </div>

  <div class="flex flex-col gap-4 p-8 bg-violet-50 dark:bg-violet-950">
    <div class="flex gap-10">
      <div class="flex flex-1 flex-col gap-2">
        <p class="flex flex-col items-baseline gap-x-1">
          <span
            class="text-sm font-semibold leading-6 text-violet-600 dark:text-violet-400"
          >
            Up to
          </span>
          <span
            class="text-4xl font-bold tracking-tight text-violet-900 dark:text-violet-100"
          >
            £{amount}
          </span>
        </p>
        <p class="text-xs text-violet-600 dark:text-violet-300">
          {description}
        </p>

        <div class="flex flex-col gap-3">
          {
            features.map((feature) => (
              <p class={`truncate text-xs font-medium flex gap-2 items-center`}>
                <i
                  class={`${feature.icon} text-violet-500 dark:text-violet-200`}
                />
                <span class={`text-violet-600 dark:text-violet-200`}>
                  {feature.name}
                </span>
              </p>
            ))
          }
        </div>
      </div>

      <div class="flex flex-1 flex-col gap-2">
        <p class="text-xs font-semibold text-violet-600 dark:text-violet-200">
          Programmes available:
        </p>
        <ul class="flex flex-col gap-1">
          {
            programmes.map((programme) => (
              <div>
                <Badge
                  icon={programme.icon}
                  name={programme.name}
                  colour={programmeColours.badge[programme.colour]}
                />
              </div>
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <div
    class={`flex flex-col gap-5 bg-violet-50 dark:bg-violet-950 rounded-b-3xl p-8`}
  >
    <div class="flex flex-col gap-1">
      <h3 class={`text-xs font-semibold text-violet-600 dark:text-violet-200`}>
        Social venture eligibility
      </h3>
    </div>
    <ul class="flex flex-row gap-10">
      {
        eligibilities.map((eligibility) => (
          <li class="flex flex-col gap-1">
            <p class={`truncate text-xs uppercase flex gap-2 items-center`}>
              <i
                class={`${eligibility.icon} text-violet-600 dark:text-violet-300`}
              />
              <span class={`text-xs text-violet-600 dark:text-violet-300`}>
                {eligibility.name}
              </span>
            </p>
            <p
              class={`text-xs font-medium tracking-tight text-violet-600 dark:text-violet-200`}
            >
              {eligibility.value}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</div>
