---
import Card from "./cards/Card.astro";
const { image, icon, colour, name, slug, features, eligibilities } =
  Astro.props;

function isValidUrl(string) {
  try {
    new URL(string);
    return true;
  } catch (e) {
    return false;
  }
}
---

<Card url={slug && `/award/${slug}`}>
  <article
    class="relative isolate flex flex-col justify-end overflow-hidden rounded-t-2xl bg-slate-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-40"
  >
    <img
      src={isValidUrl(image)
        ? image
        : `https://unltd.directus.app/assets/${image}`}
      alt=""
      class="absolute inset-0 -z-10 h-full w-full object-cover brightness-50"
    />
    <div class={`absolute inset-0 -z-10 bg-${colour}-600/60`}></div>
    <div
      class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-slate-900/10"
    >
    </div>
    <div class="flex flex-col gap-3">
      <span class="relative inline-block">
        <div
          class={`flex items-center justify-center h-14 w-14 rounded-md bg-${colour}-100 dark:bg-${colour}-400`}
        >
          <i
            class={`${icon} text-${colour}-600 dark:text-${colour}-800 text-2xl`}
          ></i>
        </div>
      </span>
      <div class="flex flex-col gap-1">
        <h3 class={`text-base font-bold leading-6 text-${colour}-100 `}>
          {name}
        </h3>
        <p class={`text-${colour}-200 text-sm font-semibold`}>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </article>
  <div class="p-8 flex flex-col gap-6">
    <div class="flex flex-col gap-3">
      {
        features.map((feature) => (
          <div>
            <p class={`truncate text-sm font-medium flex gap-2 items-center`}>
              <i
                class={`${feature.icon} text-${colour}-500 dark:text-${colour}-200`}
              />
              <span class={`text-slate-500 dark:text-slate-500`}>
                {feature.name}
              </span>
            </p>
          </div>
        ))
      }
    </div>
  </div>

  <div class={`flex flex-col gap-3 bg-slate-100 rounded-b-3xl p-8`}>
    <p class={`text-sm text-slate-600 dark:text-slate-200`}>
      Social Entrepreneur eligibility:
    </p>
    <ul class="flex flex-col gap-6">
      {
        eligibilities.map((eligibility) => (
          <li class="flex flex-col gap-1">
            <p
              class={`truncate text-xs font-medium uppercase flex gap-2 items-center`}
            >
              <i
                class={`${eligibility.icon} text-slate-600 dark:text-slate-500`}
              />
              <span class={`text-slate-600 dark:text-slate-200`}>
                {eligibility.name}
              </span>
            </p>
            <p class={`text-sm font-semibold tracking-tight text-slate-600`}>
              {eligibility.value}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</Card>
