---
import Card from "./cards/Card.astro";
const { image, icon, colour, name, slug, features, eligibilities } =
  Astro.props;

const title = {
  amber: "text-amber-100 dark:text-amber-100",
  blue: "text-blue-100 dark:text-blue-100",
  teal: "text-teal-100 dark:text-teal-100",
  purple: "text-purple-100 dark:text-purple-100",
  red: "text-red-100 dark:text-red-100",
  stone: "text-stone-100 dark:text-stone-100",
};

const skin = {
  amber: "text-amber-600 dark:text-amber-100 bg-amber-100 dark:bg-amber-600",
  blue: "text-blue-600 dark:text-blue-100 bg-blue-100 dark:bg-blue-600",
  teal: "text-teal-600 dark:text-teal-100 bg-teal-100 dark:bg-teal-600",
  purple:
    "text-purple-600 dark:text-purple-100 bg-purple-100 dark:bg-purple-600",
  red: "text-red-600 dark:text-red-100 bg-red-100 dark:bg-red-600",
  stone: "text-stone-600 dark:text-stone-100 bg-stone-100 dark:bg-stone-600",
};

const bg = {
  amber: "bg-amber-400/60 dark:bg-amber-600/60",
  blue: "bg-blue-400/60 dark:bg-blue-600/60",
  teal: "bg-teal-400/60 dark:bg-teal-600/60",
  purple: "bg-purple-400/60 dark:bg-purple-600/60",
  red: "bg-red-400/60 dark:bg-red-600/60",
  stone: "bg-stone-400/60 dark:bg-stone-600/60",
};

const bg2 = {
  amber: "bg-amber-300/60 dark:bg-amber-700/60",
  blue: "bg-blue-300/60 dark:bg-blue-700/60",
  teal: "bg-teal-300/60 dark:bg-teal-700/60",
  purple: "bg-purple-300/60 dark:bg-purple-700/60",
  red: "bg-red-300/60 dark:bg-red-700/60",
  stone: "bg-stone-300/60 dark:bg-stone-700/60",
};

const outline = {
  amber: "ring-amber-200 dark:ring-amber-800",
  blue: "ring-blue-200 dark:ring-blue-800",
  teal: "ring-teal-200 dark:ring-teal-800",
  purple: "ring-purple-200 dark:ring-purple-800",
  red: "ring-red-200 dark:ring-red-800",
  stone: "ring-stone-200 dark:ring-stone-800",
};

const divide = {
  amber: "divide-amber-100 dark:divide-amber-900",
  blue: "divide-blue-100 dark:divide-blue-900",
  teal: "divide-teal-100 dark:divide-teal-900",
  purple: "divide-purple-100 dark:divide-purple-900",
  red: "divide-red-100 dark:divide-red-900",
  stone: "divide-stone-100 dark:divide-stone-900",
};

const tick = {
  amber: "text-amber-500 dark:text-amber-200",
  blue: "text-blue-500 dark:text-blue-200",
  teal: "text-teal-500 dark:text-teal-200",
  purple: "text-purple-500 dark:text-purple-200",
  red: "text-red-500 dark:text-red-200",
  stone: "text-stone-500 dark:text-stone-200",
};

const description = {
  amber: "text-amber-200",
  blue: "text-blue-200",
  teal: "text-teal-200",
  purple: "text-purple-200",
  red: "text-red-200",
  stone: "text-stone-200",
};

const border = {
  amber: "border-amber-400",
  blue: "border-blue-400",
  teal: "border-teal-400",
  purple: "border-purple-400",
  red: "border-red-400",
  stone: "border-stone-400",
};

function isValidUrl(string) {
  try {
    new URL(string);
    return true;
  } catch (e) {
    return false;
  }
}
---

<Card
  url={slug && `/award/${slug}`}
  outline={outline[colour]}
  divide={divide[colour]}
>
  <article
    class="relative isolate flex flex-col justify-end overflow-hidden rounded-t-2xl bg-violet-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-40"
  >
    <img
      src={isValidUrl(image)
        ? image
        : `https://unltd.directus.app/assets/${image}?width=384`}
      alt=""
      class="absolute inset-0 -z-10 h-full w-full object-cover opacity-50"
    />
    <div class={`absolute inset-0 -z-10 ${bg[colour]}`}></div>
    <div
      class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-violet-900/10"
    >
    </div>
    <div class="flex flex-col gap-3">
      <span class="relative inline-block">
        <div
          class={`flex items-center justify-center h-14 w-14 rounded-md ${skin[colour]} border border-1 ${border[colour]} shadow-2xl`}
        >
          <i class={`${icon} text-2xl`}></i>
        </div>
      </span>
      <div class="flex flex-col gap-1">
        <h3 class={`text-base font-bold leading-6 ${title[colour]} `}>
          {name}
        </h3>
        <p class={`${description[colour]} text-sm font-semibold`}>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </article>
  <div class={`p-8 flex flex-col gap-6 ${bg[colour]}`}>
    <div class="flex flex-col gap-3">
      {
        features.map((feature) => (
          <div>
            <p class={`truncate text-sm font-medium flex gap-2 items-center`}>
              <i class={`${feature.icon} ${tick[colour]}`} />
              <span class={`text-violet-800 dark:text-violet-200`}>
                {feature.name}
              </span>
            </p>
          </div>
        ))
      }
    </div>
  </div>

  <div class={`flex flex-col gap-3  rounded-b-2xl p-8 ${bg2[colour]}`}>
    <p class={`text-sm text-violet-600 dark:text-violet-200`}>
      Social entrepreneur eligibility:
    </p>
    <ul class="flex flex-col gap-6">
      {
        eligibilities.map((eligibility) => (
          <li class="flex flex-col gap-1">
            <p class={`truncate text-xs uppercase flex gap-2 items-center`}>
              <i
                class={`${eligibility.icon} text-violet-600 dark:text-violet-400`}
              />
              <span class={`text-violet-600 dark:text-violet-400`}>
                {eligibility.name}
              </span>
            </p>
            <p
              class={`text-sm font-medium tracking-tight text-violet-600 dark:text-violet-300`}
            >
              {eligibility.value}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</Card>
