---
import { programmes } from "../../data/programmes.js";
import List from "./cards/List.astro";
import { services } from "../../data/services.js";
import truncate from "truncate";

import Container from "../../components/Container.astro";
import Programme from "../../components/award/Programme.astro";
import { Description } from "../catalyst/fieldset";
import { sesm } from "../../data/sesm.js";

const programmesLocal = [
  {
    name: "Core",
    image:
      "https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80",
    slug: "core",
    colour: "amber",
    icon: "fa-solid fa-award",
    features: [
      {
        name: "Support Manager",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Expert advice and guidance",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Pro-bono consultancy",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Upskill with your peers",
        icon: "fa-solid fa-circle-check",
      },
    ],
    eligibilities: [
      {
        name: "Age",
        value: "16+",
        icon: "fa-solid fa-spinner",
      },
      {
        name: "Geography",
        value: "United Kingdom",
        icon: "fa-solid fa-location-dot",
      },
      {
        name: "Sectors",
        value: "All sectors",
        icon: "fa-solid fa-vector-square",
      },
    ],
  },
  {
    name: "Access to Employment",
    slug: "access-to-employment",
    colour: "violet",
    features: [
      {
        name: "Everything in Core",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Monthly online meet-up",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Learning Circles",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Subsidised Consultancy",
        icon: "fa-solid fa-circle-check",
      },
    ],
    eligibilities: [
      {
        name: "Age",
        value: "16+",
        icon: "fa-solid fa-spinner",
      },
      {
        name: "Geography",
        value: "United Kingdom",
        icon: "fa-solid fa-location-dot",
      },
      {
        name: "Sectors",
        value: "Access to Employment",
        icon: "fa-solid fa-vector-square",
      },
    ],
  },
  {
    name: "Financial Inclusion",
    slug: "financial-inclusion",
    colour: "red",
    features: [
      {
        name: "Everything in Core",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Monthly online meet-up",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Learning Circles",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Subsidised Consultancy",
        icon: "fa-solid fa-circle-check",
      },
    ],
    eligibilities: [
      {
        name: "Age",
        value: "16 - 30",
        icon: "fa-solid fa-spinner",
      },
      {
        name: "Geography",
        value: "United Kingdom",
        icon: "fa-solid fa-location-dot",
      },
      {
        name: "Sectors",
        value: "Finance",
        icon: "fa-solid fa-vector-square",
      },
    ],
  },
  {
    name: "Healthy Ageing",
    slug: "healthy-ageing",
    colour: "emerald",
    features: [
      {
        name: "Everything in Core",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Monthly online meet-up",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Learning Circles",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Subsidised Consultancy",
        icon: "fa-solid fa-circle-check",
      },
    ],
    eligibilities: [
      {
        name: "Age",
        value: "16+",
        icon: "fa-solid fa-spinner",
      },
      {
        name: "Geography",
        value: "United Kingdom",
        icon: "fa-solid fa-location-dot",
      },
      {
        name: "Sectors",
        value: "Healthy Ageing",
        icon: "fa-solid fa-vector-square",
      },
    ],
  },
  {
    name: "Movement for Change",
    slug: "movement-for-change",
    colour: "blue",
    features: [
      {
        name: "Everything in Core",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Monthly online meet-up",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Learning Circles",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Subsidised Consultancy",
        icon: "fa-solid fa-circle-check",
      },
    ],
    eligibilities: [
      {
        name: "Age",
        value: "16+",
        icon: "fa-solid fa-spinner",
      },
      {
        name: "Geography",
        value: "England",
        icon: "fa-solid fa-location-dot",
      },
      {
        name: "Sectors",
        value: "Sports and physical activities",
        icon: "fa-solid fa-vector-square",
      },
    ],
  },
  {
    name: "Technical Assistance Fund",
    slug: "technical-assistance-fund",
    colour: "gray",
    features: [
      {
        name: "Everything in Core",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Monthly online meet-up",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Learning Circles",
        icon: "fa-solid fa-circle-check",
      },
      {
        name: "Subsidised Consultancy",
        icon: "fa-solid fa-circle-check",
      },
    ],
    eligibilities: [
      {
        name: "Age",
        value: "18+",
        icon: "fa-solid fa-spinner",
      },
      {
        name: "Geography",
        value: "United Kingdom",
        icon: "fa-solid fa-location-dot",
      },
      {
        name: "Sectors",
        value: "All sectors",
        icon: "fa-solid fa-vector-square",
      },
    ],
  },
];

programmes.map((programme) => {
  programmesLocal.map((programmeLocal) => {
    if (programmeLocal.name.toLowerCase() == programme.name.toLowerCase()) {
      programme.eligibilities = programmeLocal.eligibilities;
      programme.features = programmeLocal.features;
      programme.slug = programmeLocal.slug;
    }
  });
});
---

<Container light="slate-100" dark="slate-900">
  <div class="mx-auto max-w-4xl text-center mb-10 pt-16">
    <h2
      id="support"
      class="text-base font-semibold leading-7 text-amber-600 dark:text-amber-500"
    >
      Support
    </h2>
    <p
      class="mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100 sm:text-5xl"
    >
      Your programme
    </p>
    <p
      class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-slate-600 dark:text-slate-400"
    >
      Considering your age, geographic location, and the sectors in which you
      and your social venture operate, you will be assigned to one of our
      tailored programs for a duration of one year. These programs are designed
      to provide specialised support that aligns precisely with the unique needs
      of you and social venture.
    </p>
  </div>

  <List>
    <Programme
      icon={programmesLocal[0].icon}
      image={programmesLocal[0].image}
      colour={programmesLocal[0].colour}
      name={programmesLocal[0].name}
      features={programmesLocal[0].features}
      eligibilities={programmesLocal[0].eligibilities}
    />
    {
      programmes.map((programme, i) => (
        <Programme
          image={programme.image.id}
          icon={programme.icon}
          colour={programme.colour}
          name={programme.name}
          slug={programme.slug}
          eligibilities={programme.eligibilities}
          features={programme.features}
        />
      ))
    }
  </List>
  <!-- support services -->

  <div class="bg-slate-100 dark:bg-slate-900 pb-20">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
        >
          {
            services.map((service) => (
              <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7">
                  <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-full bg-slate-200 dark:bg-slate-800">
                    <i
                      class={`${service.icon} text-slate-600 dark:text-slate-400 text-md`}
                    />
                  </div>
                  <span class="text-slate-700 dark:text-slate-300">
                    {service.name}
                  </span>
                  {service.name == "Support Manager" && (
                    <div class="flex -space-x-2 overflow-hidden mt-2">
                      {sesm.map((employee) => (
                        <img
                          class="inline-block h-8 w-8 rounded-full ring-2 ring-slate-200 dark:ring-slate-800"
                          src={`https://unltd.directus.app/assets/${employee.person.image}?height=64`}
                          alt={`${employee.person.name}`}
                        />
                      ))}
                    </div>
                  )}
                </dt>
                <dd class="mt-2 text-base leading-7 text-slate-600 dark:text-slate-400">
                  {service.description}
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</Container>
