---
import slugify from "slugify";

import { programmes } from "../../data/programmes.js";

import Container from "../../components/Container.astro";
import ProgrammeBig from "./programme/ProgrammeBig.astro";
import ProgrammeSmall from "./programme/ProgrammeSmall.astro";
---

<Container light="violet-50" dark="violet-950">
  <div class="py-20 flex flex-col gap-20">
    <div class="mx-auto max-w-4xl text-center">
      <h2
        id="support"
        class="text-base font-semibold leading-7 text-amber-500 dark:text-amber-500"
      >
        Support
      </h2>
      <p
        class="mt-2 text-4xl font-bold tracking-tight text-violet-900 dark:text-violet-100 sm:text-5xl"
      >
        Programmes
      </p>
      <p
        class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-violet-800 dark:text-violet-200"
      >
As an Award Winner you will have access to the advice, guidance and expertise needed to build on the foundations of your social venture and grow your impact.
      </p>
    </div>

    <div class="mx-auto max-w-7xl">
                  <ProgrammeBig
              image={
                programmes[0].image && programmes[0].image.id
                  ? programmes[0].image.id
                  : false
              }
              icon={programmes[0].icon}
              colour={programmes[0].colour}
              name={programmes[0].name}
              age={programmes[0].age}
              geography={programmes[0].geography}
              sectors={programmes[0].sectors}
              slogan={programmes[0].slogan}
              description={programmes[0].description}
              slug={slugify(programmes[0].name, {lower: true, strict: true, locale: "en", trim: true,})},
              services={programmes[0].services}
              eligibilities={programmes[0].eligibilities}
              />
    </div>

    <div>
      <div class="mx-auto max-w-4xl text-center">
        <p
          class="mx-auto mb-14 max-w-2xl text-center text-lg leading-8 text-violet-800 dark:text-violet-200"
        >
          Considering your age, location, and the sectors in which you and your social venture operate, you will be assigned to one of our tailored programmes for support for up to a year. Our programmes are designed to provide specialised support that align with the needs of you and your social venture.
        </p>
      </div>
      <!-- <div role="list" class="flex flex-col lg:flex-row gap-6"> -->
<div class="grid grid-cols-4 gap-4  ">
        {
          programmes.filter(programme => programme.name !== "Millennium Awards Trust").map((programme, i) => (
            <ProgrammeSmall
              key={i}
              image={
                programme.image && programme.image.id
                  ? programme.image.id
                  : false
              }
              icon={programme.icon}
              colour={programme.colour}
              name={programme.name}
              logo={
                programme.logo && programme.logo.id
                  ? programme.logo.id
                  : false
              }
              age={programme.age}
              geography={programme.geography}
              sectors={programme.sectors}
              slogan={programme.slogan}
              description={programme.description}
              slug={slugify(programme.name, {lower: true, strict: true, locale: "en", trim: true,})},
              services={programme.services}
              eligibilities={programme.eligibilities}
            />
          ))
        }
      </div>
    </div>
  </div>
</Container>
