---
import { Code } from "astro:components";
import { marked } from "marked";
import Container from "../../components/Container.astro"

import slugify from "slugify";

const steps = [
  {
    name: "Check your eligibility",
    slug: "check-your-eligibility",
    body: `
## Social Entrepreneur

### Eligible
- The founder and lead of the Social Venture.
- Are 16+ years old.
- Living in the United Kingdom.

### Not eligible
- Looking for funding for a one-off or short-term project where there is limited potential for a sustained and longer-term impact.
- Requests for support which are predominately for the individual to undertake academic qualifications or overseas travel.
- Individuals who plan to employ others to undertake most of the work on their behalf.

## Social Venture

### Eligible
- Your social venture should have the potential to be financially sustainable with our support.
- Can demonstrate a clear need for your idea or social venture.
- Is clearly driven by its social purpose.
- Needs both our financial and non-financial support to make it happen.

### Not eligible
- Is predominantly focused on having an impact on people or places outside the UK.
- Incorporated for over four years at the time of application (Companies House or Charity Commission registration).
- Had a turnover of over £250,000 in its last financial year.
- Involves political, or religious campaigning.
- Involves activities outside of the law, against public policy or anything which encourages ethnic, religious, or commercial disharmony.
- Social ventures whose focus is predominantly on raising awareness of social issues.
`,
    button: "I am eligible",
    alt: {
      name: "Not eligible? Check out other funding and support",
      link: "/learn/other-funding-and-support-available-for-social-entrepreneurs/"
    }
  },
  {
    name: "Check your suitability",
    slug: "check-your-suitability",
    body: `
We receive many more applications than we can support. While we do not want to discourage social entrepreneurs from applying, we want you to be confident that our awards are right for you and your social venture before applying.

## Social Entreprneur

- We support individuals. This means that the application must be completed by the founder; the social entrepreneur who needs our financial and non-financial support
- We don't discriminate based on who you are and where you come from and to support our equity commitments at least 50% of our Awards will support entrepreneurs who come from a disabled and/or Black, Asian or minority ethnic background.
- We are looking for people who have lived experience of the issues they are looking to tackle. We believe that having a deep understanding of the challenges you want to tackle makes you a passionate and determined social entrepreneur.
- We are not looking for people who know everything they need to know to run a social venture, in fact, we are looking for people who need the non-financial support just as much as the financial support we offer. 

## Social Venture

- We are looking to support Social Ventures which have the potential to be financially sustainable, with prospects for growth. We want to support you to create long-lasting change for people, communities, and the planet. 
- We are particularly interested in social ventures which are tackling inequality and reaching the most marginalised people and communities in the UK.
- We want to help your social venture to succeed. If you need a lot more money than we can offer, without a clear plan for how you will get it, you are unlikely to get our support.
- You might not have secured your first customers yet if you are starting out, but you will have an idea who might pay for your product or service. 
- If you have already started trading (selling goods or services) and are applying for our Scaling Up award, we will be looking at your potential to grow your impact alongside your revenue. 


If you are working to achieve impact in an area listed below, we would like to hear from you if you are able to demonstrate:

## Access to Employment
You have an idea or are supporting people into employment, either through direct employment, supporting people to become more employable, or helping people who face additional barriers to remaining in employment. We are particularly interested in social ventures which are helping people to access good jobs and meaningful employment, supporting the most marginalised in the labour market. 

## Healthy Ageing
You have an idea or are reducing health inequalities for older adults in the UK, or improving the experience of later life in by providing products and services that meet the needs and aspirations of older adults. We are particularly interested in social ventures which are working with marginalised older adults. 

## Movement for Change
You have an idea or are providing opportunities for marginalised communities to access the experiences and benefits of sport and physical activity. We are particularly looking to support ventures which are looking to grow their impact and ensure they continue to reach those who face the most barriers to engaging in physical activity, particularly considering the cost of living. 
`,
    button: "I am suitable",
    alt: {
      name: "Not suitable? Check out other funding and support",
      link: "/learn/other-funding-and-support-available-for-social-entrepreneurs/"
    }
  },
  {
    name: "Review the application form",
    slug: "review-the-application-form",
    body: `
Before you make an account and start your application, you can review the application form to see if it is managable and something you think you can proceed with. We have 3 different application forms depending on how long Social Venture has been trading:

### Starting Up

#### Up to £8,000 | Any programme<br/>[Your Social Venture is not yet trading](/award/forming-i-have-an-idea)

#### Up to £8,000 | Any programme<br/>[Your Social Venture has been trading for less than 1 year](/award/ive-been-trading-for-less-than-1-year)

### Starting Up

#### Up to £18,000 | Any programme<br/>[Your Social Venture has been trading between 1 to 4 years](/award/ive-been-trading-for-1-year-or-more)

---

## Based in Wales?
If you and your Social Venture are based in Wales and identify as a marginalised individual, we can offer 1 to 1 assistance with making an application and signposting to other funding and support.
[Learn more about the extra support for marginlised individuals in Wales](/extra-support-for-marginalised-individuals-in-wales).

`,
    button: "I understand what the application form requires",
    alt: {
      name: "Do you want help reviewing the application form?",
      link: "/enquiries/award-enquiry"
    }
  },
    {
    name: "Review application deadlines",
    slug: "review-application-deadlines",
    body: `
Apply **before 31 March** and you should get your results by the **week commencing 24 June**.

| Application submitted   | Application assessed    | Application result |
| ------------------------ | ------------------------ | -------------------- |
| 1 Jan 2024 - 31 Mar 2024 | 1 Apr 2024 - 30 Jun 2024 | 24 Jun 2024          |
| 1 Apr 2024 - 30 Jun 2024 | 1 Jul 2024 - 30 Sep 2024 | 23 Sep 2024          |
| 1 Jul 2024 - 30 Sep 2024 | 1 Oct 2024 - 31 Dec 2024 | 9 Dec 2024           |
`,
    button: "Submit your application",
        alt: {
      name: "Do you want help submitting your application?",
      link: "/enquiries/award-enquiry"
    }
  },
  {
    name: "Create your account",
    slug: "create-an-account",
    body: `
Go to the [UnLtd Portal](https://unltd.microsoftcrmportals.com/applications) and click 'Sign up now' to create an account.
![This is how you create an account](/img/signup.webp)
`,
    button: "I have created an account",
    alt: {
      name: "Do you want help creating an account?",
      link: "/enquiries/award-enquiry"
    }
  },
  {
    name: "Create and submit your application",
    slug: "Create and submit your application",
    body: `
Click 'Start a new application'.
![This is how you create an account](/img/create.png)
Complete each section of the form. You can save and come back to it at any time.
![This is how you create an account](/img/steps.png)
`,
    alt: {
      name: "Need help?",
      link: "/enquiries/award-enquiry"
    }

},
  {
    name: "Assessment process",
    slug: "accessment-process",
    body: `
## 1. Support Manager assessment
If the application meets our eligibility and suitability criteria, our team will then review the application based on impact, inclusion and sustainability.

## 2. Peer review
If your applications shows potential it will be reviewed and discussed by our Support Managers. If we think your application has potential we will invite you to a panel stage.

## 3. Panel stage
Here you will have the opportunity to discuss your application with a panel made up of UnLtd staff and other Social Entrepreneurs.

## 4. Result
If you pass, we will recommend your application to the Awards Committee (a group of our trustees which also includes Social Entrepreneurs) who make the final decision on your application. You will be informed over email of the outcome of your application.`,
    alt: {
      name: "Need help?",
      link: "/enquiries/award-enquiry"
    }

},
];
---

<Container>
  <div class="flex flex-col gap-10">
  <div>
    <h2
      id="support"
      class="text-base font-semibold leading-7 text-amber-600 dark:text-amber-500"
    >
      Apply
    </h2>
    <p
      class="mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100 sm:text-5xl"
    >
      How to get an Award
    </p>
  <p
    class="mt-6 max-w-2xl text-lg leading-8 text-slate-600"
  >
We recommend that you read through all of the following steps to guide you in your application.
  </p>
</div>
<div
  class="w-full"
  x-data="{ activeTab: 'tab0', tabClass: function(i) { return this.activeTab === `tab${i}` ? 'border-b-3 border-2 border-b-amber-500 border-slate-200 text-amber-600 bg-slate-100' :'bg-slate-50'}}"
>
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select
    @change="activeTab = $event.target.value"
      id="tabs"
      name="tabs"
      class="block w-full rounded-md border-slate-300 focus:border-amber-500 focus:ring-amber-500"
    >
      {
        steps.map((step, i) => (
          <option value={`tab${i}`} selected={i == 0 && true}>
            {i + 1}. {step.name}
          </option>
        ))
      }
    </select>
  </div>
  <div class="hidden sm:block">
    <nav class="flex space-x-4" aria-label="Tabs">
      <!-- Current: "bg-slate-200 text-slate-700 hover:text-slate-100 dark:bg-slate-200 dark:text-slate-300 dark:hover:text-slate-900" -->

      <!-- Default: "bg-slate-100 text-slate-500 hover:text-slate-700 dark:bg-slate-900 dark:text-slate-500 dark:hover:text-slate-300" -->
      {
        steps.map((step, i) => (
          <button id={`${slugify(step.name, {lower: true, strict: true, locale: "en", trim: true,})}`}
            @click=`activeTab = 'tab${i}'`
            :class={`tabClass(${i})`}
            class={`rounded-t-md px-4 py-4 flex flex-col justify-center items-center gap-2 text-slate-500 hover:text-slate-700 dark:bg-slate-900 dark:text-slate-500 dark:hover:text-slate-300 border-b-2 hover:bg-slate-100 transition duration-200`}
          >
            <span
              class={`text-xs font-medium rounded-full p-2 h-4 w-4 flex justify-center items-center outline outline-slate-300 text-slate-500`}
            >
              {i + 1}
            </span>
            <span
              class={`text-xs font-medium ${i == 0 ? "text-slate-700 hover:text-slate-700 dark:text-slate-700 dark:hover:text-slate-700" : "text-slate-500 hover:text-slate-600 dark:text-slate-500 dark:hover:text-slate-500"}`}
            >
              {step.name}
            </span>
          </button>
        ))
      }
    </nav>
  </div>
  <!-- Tab Content -->
  {
    steps.map((step, i) => {
      let basePath = step.button && `/award#${slugify(steps[i+1].name, {lower: true, strict: true, locale: "en", trim: true})}`;
      return (<div x-show={`activeTab === 'tab${i}'`} class={`bg-slate-100 rounded-b-md border border-slate-200 shadow-sm`} x-cloak>
        <div
          class={`px-10 py-6 ${i==0 && "rounded-tr-md"} ${i==4 && "rounded-tl-md"}`}
        >
        <div class={`prose prose-slate dark:prose-invert prose-sm prose-img:rounded-md prose-img:shadow-sm prose-img:w-full prose-a:font-bold prose-a:underline-offset-4 prose-a:decoration-amber-500 prose-a:decoration-1 hover:prose-a:decoration-2`} set:html={marked.parse(step.body)}></div>
        </div>
        <div class="rounded-b-md border-t border-slate-300 px-10 py-6 flex justify-between items-center">
          { step.button && <a href={basePath}><button type="button" @click=`activeTab = 'tab${i+1}'` class="rounded-full bg-amber-600 px-4 py-2.5 font-semibold text-slate-50 shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 flex gap-2 items-center"><i class="fa-regular fa-circle-check text-lg"></i><span class="text-sm">{step.button}</span></button></a> }
        { step.alt && <a href={step.alt.link} class="flex gap-2 items-center"><i class="fa-solid fa-circle-question text-slate-500 dark:text-slate-500 text-lg"></i> <span class="text-slate-600 dark:text-slate-400 text-sm">{step.alt.name}</span></a> }
        </div>
      </div>)
    })
  }
</div>
</div>
</Container>