---
import { Code } from "astro:components";

const steps = [
  {
    name: "Check your eligibility",
    slug: "check-your-eligibility",
    body: "This is the body 1. Show eligibility for different grants",
    button: "I am eligible",
    altbutton: "I am not eligible",
    altbody: "Here is a link to more funders and support"
  },
  {
    name: "Create your account",
    slug: "create-an-account",
    body: "This is the body 2.",
    button: "I have created an account"
  },
  {
    name: "Start your application",
    slug: "start-your-application",
    body: "This is the body 3. Application preview is useful.",
    button: "Submit your application"

  },
  {
    name: "Submit your application",
    slug: "submit-your-application",
    body: "This is the body 4. Show dates",
    button: "Submit your application"
  },
  {
    name: "Final steps",
    slug: "final-steps",
    body: "This is the body 5. Explain panel.",
  },
];
---

<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <!-- Content goes here -->
</div>


<div
  class="mx-auto max-w-7xl sm:px-6 lg:px-8"
  x-data="{ activeTab: 'tab1', tabClass: function(i) { return this.activeTab === `tab${i}` ? 'border-b-2 border-blue-500 text-blue-600' : '';} }"
>

<div>
    <h2
      class="mt-2 text-4xl font-bold tracking-tight text-slate-900 sm:text-5xl"
    >
      How to apply
  </h2>
  <p
    class="mt-6 max-w-2xl text-lg leading-8 text-slate-600"
  >
    We combine funding and support to help you to get started or grow. Depending
    on your stage of development we can offer up to £18,000. We recommend you
    check the eligibility criteria closely to ensure you are eligible as our
    awards are competitive.
  </p>
</div>

  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select
    @change="activeTab = $event.target.value"
      id="tabs"
      name="tabs"
      class="block w-full rounded-md border-slate-300 focus:border-amber-500 focus:ring-amber-500"
    >
      {
        steps.map((step, i) => (
          <option value={`tab${i}`} selected={i == 0 && true}>
            {i + 1}. {step.name}
          </option>
        ))
      }
    </select>
  </div>
  <div class="hidden sm:block">
    <nav class="flex space-x-4" aria-label="Tabs">
      <!-- Current: "bg-amber-100 text-amber-700 hover:text-slate-100 dark:bg-amber-900 dark:text-amber-300 dark:hover:text-slate-900" -->

      <!-- Default: "bg-slate-100 text-slate-500 hover:text-slate-700 dark:bg-slate-900 dark:text-slate-500 dark:hover:text-slate-300" -->
      {
        steps.map((step, i) => (
          <button
            @click=`activeTab = 'tab${i}'`
            :class="tabClass(i)"
            class={`rounded-t-md px-5 py-4 flex justify-center items-center gap-2 ${i == 0 ? "bg-slate-200 text-slate-700 hover:text-slate-100 dark:bg-slate-200 dark:text-slate-300 dark:hover:text-slate-900" : "bg-slate-50 text-slate-500 hover:text-slate-700 dark:bg-slate-900 dark:text-slate-500 dark:hover:text-slate-300"}`}
          >
            <span
              class={`text-xs font-medium rounded-full p-2 h-4 w-4 flex justify-center items-center outline ${i == 0 ? "bg-slate-100 text-slate-700 hover:text-slate-700 dark:bg-slate-900 dark:text-slate-300 dark:hover:text-slate-900" : "outline-slate-300 text-slate-500"}`}
            >
              {i + 1}
            </span>
            <span
              class={`text-sm font-medium ${i == 0 ? "text-slate-700 hover:text-slate-700 dark:text-slate-700 dark:hover:text-slate-700" : "text-slate-500 hover:text-slate-600 dark:text-slate-500 dark:hover:text-slate-500"}`}
            >
              {step.name}
            </span>
          </button>
        ))
      }
    </nav>
  </div>
  <!-- Tab Content -->
  {
    steps.map((step, i) => (
      <div
        x-show={`activeTab === 'tab${i}'`}
        class={`bg-slate-200 rounded-b-md p-6 ${i==0 && "rounded-tr-md"} ${i==4 && "rounded-tl-md"}`}
        x-cloak
      >
        <span>{step.body}</span>
        { step.button && <button type="button" @click=`activeTab = 'tab${i}'` class="rounded-full bg-amber-600 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 flex gap-2 items-center"><i class="fa-solid fa-circle-check"></i> <span>{step.button}</span></button> }
        </div>
    ))
  }
</div>

<!-- <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex flex-col gap-10">
  <div class="px-4 py-5 sm:px-6 flex flex-col gap-4">
    <div class="border-b border-slate-200 flex flex-col gap-3">
      <i class="text-4xl text-slate-700 fa-solid fa-circle-1"></i>
      <div>
        <h3 class="text-2xl font-semibold leading-6 text-slate-900">
          Check if you and your business are eligibile
        </h3>
        <p class="mt-1 text-sm text-slate-500 md:w-96"></p>
      </div>
    </div>
    <div class="flex flex-row gap-2">
      <div>
        <p class="mt-1 text-sm text-slate-500 md:w-96">You</p>
        <ul class="list-disc">
          <li>Are 16 years old or older</li>
          <li>Are located in England, Northern Ireland, Scotland or Wales</li>
          <li>
            Have no plan to employ others to undertake most of the work on your
            behalf
          </li>
          <li>
            Have no plan to use the grant predominately for you to undertake
            academic qualifications or overseas travel
          </li>
        </ul>
      </div>

      <div>
        <p class="mt-1 text-sm text-slate-500 md:w-96">Your business</p>
        <ul class="list-disc">
          <li>Does not involve political or religious campaigning</li>
          <li>
            Does not predominantly focus on raising awareness of social issues
          </li>
          <li>Is located in England, Northern Ireland, Scotland or Wales</li>
          <li>
            Has or will have the majority of its impact in England, Northern
            Ireland, Scotland or Wales
          </li>
          <li>Earned Under £250,000 last financial year</li>
          <li>Has or will have any legal structure</li>
          <li>Is working with marginalised people in any areas</li>
          <li>Is having an impact on marginalised people in any areas</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="px-4 py-5 sm:px-6 flex flex-col gap-4">
    <div class="border-b border-slate-200 flex flex-col gap-2">
      <i class="text-4xl text-slate-700 fa-solid fa-circle-2"></i>
      <div>
        <h3 class="text-2xl font-semibold leading-6 text-slate-900">
          Create an Award account to start an application
        </h3>
        <p class="mt-1 text-sm text-slate-500 md:w-96">
          Lorem ipsum dolor sit amet consectetur adipisicing elit quam corrupti
          consectetur.
        </p>
      </div>
    </div>
    <div>
      <p>
        Apply before 30 September and you will get your results week commencing
        11 December.
      </p>
      <span
        >Your application will be reviewed between 1 October to 10 December.</span
      >
      <table class="min-w-full divide-y divide-slate-300">
        <thead>
          <tr>
            <th
              scope="col"
              class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-slate-900 sm:pl-0"
              >Applications accepted</th
            >
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900"
              >Applications accessed</th
            >
            <th
              scope="col"
              class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900"
              >Results week commencing</th
            >
          </tr>
        </thead>
        <tbody class="divide-y divide-slate-200">
          <tr>
            <td
              class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-slate-900 sm:pl-0"
              >1 Oct 2023 - 31 Dec 2023</td
            >
            <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
              >1 Jan 2024 - 31 Mar 2024</td
            >
            <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
              >25 Mar 2024</td
            >
          </tr>

          <tr>
            <td
              class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-slate-900 sm:pl-0"
              >1 Jan 2024 - 31 Mar 2023</td
            >
            <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
              >1 Apr 2024 - 31 Mar 2024</td
            >
            <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
              >24 Jun 2024</td
            >
          </tr>

          <tr>
            <td
              class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-slate-900 sm:pl-0"
              >1 Apr 2024 - 30 Jun 2024</td
            >
            <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
              >1 Jul 2024 - 31 Sep 2024</td
            >
            <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
              >23 Sep 2024</td
            >
          </tr>

          <tr>
            <td
              class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-slate-900 sm:pl-0"
              >1 Jul 2024 - 30 Sep 2024</td
            >
            <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
              >1 Oct 2024 - 31 Dec 2024</td
            >
            <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
              >9 Dec 2024</td
            >
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div
    class="border-b border-slate-200 bg-white px-4 py-5 sm:px-6 flex flex-col gap-3"
  >
    <i class="text-4xl text-slate-700 fa-solid fa-circle-3"></i>
    <div>
      <h3 class="text-2xl font-semibold leading-6 text-slate-900">
        Submit your application
      </h3>
      <p class="mt-1 text-sm text-slate-500 md:w-96">
        We recommend getting your application in early so that we have time to
        ensure we have everything we need to assess it.
      </p>
    </div>
  </div>

  <div
    class="border-b border-slate-200 bg-white px-4 py-5 sm:px-6 flex flex-col gap-3"
  >
    <i class="text-4xl text-slate-700 fa-solid fa-circle-4"></i>
    <div>
      <h3 class="text-2xl font-semibold leading-6 text-slate-900">
        Application preview
      </h3>
      <p class="mt-1 text-sm text-slate-500 md:w-96">
        If the application meets our eligibility criteria, our team will then
        review the application based on impact, inclusion and sustainability.
        Applications which show potential will be discussed alongside others at
        peer review to progress those with the most potential to meet our panel
      </p>
    </div>
  </div>

  <div
    class="border-b border-slate-200 bg-white px-4 py-5 sm:px-6 flex flex-col gap-3"
  >
    <i class="text-4xl text-slate-700 fa-solid fa-circle-5"></i>
    <div>
      <h3 class="text-2xl font-semibold leading-6 text-slate-900">Panel</h3>
      <p class="mt-1 text-sm text-slate-500 md:w-96">
        Here you will have the opportunity to discuss your application with a
        panel made up of staff and other entrepreneurs.
      </p>
    </div>
  </div>

  <div
    class="border-b border-slate-200 bg-white px-4 py-5 sm:px-6 flex flex-col gap-3"
  >
    <i class="text-4xl text-slate-700 fa-solid fa-circle-6"></i>
    <div>
      <h3 class="text-2xl font-semibold leading-6 text-slate-900">
        Award results
      </h3>
      <p class="mt-1 text-sm text-slate-500 md:w-96">
        If the application meets our eligibility criteria, our team will then
        review the application based on impact, inclusion and sustainability.
        Applications which show potential will be discussed alongside others at
        peer review to progress those with the most potential to meet our panel
      </p>
    </div>
  </div>
</div> -->
