---
// LAYOUT
import Template from "../../layouts/Template.astro";
import Container from "../../components/Container.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

// DATA
import { funds } from "../../data/directus/funds.js";
import { grants } from "../../data/directus/grants.js";
import { rounds } from "../../data/directus/rounds.js";

const name = "Awards";
const description =
  "We go beyond funding. Explore our support and tailor it to your needs";

const breadcrumbs = [
  {
    name: name,
    slug: "grants-&-support",
  },
];

grants.map((grant) => {
  const slugify = (text) =>
    text
      .toString()
      .normalize("NFD")
      .replace(/[\u0300-\u036f]/g, "")
      .toLowerCase()
      .trim()
      .replace(/\s+/g, "-")
      .replace(/[^\w-]+/g, "")
      .replace(/--+/g, "-");

  grant.slug = slugify(grant.name);
});

// let activeGrants = rounds.filter((round) => {
//   let date = new Date();
//   let roundopen = new Date(round.open);
//   let roundclose = new Date(round.close);
//   let fundopen = new Date(round.open);
//   let fundclose = new Date(round.close);

//   if (
//     roundopen < date &&
//     roundclose > date &&
//     fundopen < date &&
//     fundclose > date
//   ) {
//     return activeGrant;
//   }
// });
---

<Template name={name} description={description}>
  <Container>
    <Breadcrumbs breadcrumbs={breadcrumbs} />
    <div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{name}</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">{description}</p>
    </div>
  </div>
</div>

    <div class="flex flex-col gap-20 mx-4 lg:mx-0">
      <a href="/funds" class="text-amber-700 underline">Funds</a>
      <a href="/grants-&-support/faq" class="text-amber-700 underline">FAQ</a>
      <a
        href="/grants-&-support/application-preview"
        class="text-amber-700 underline">Application preview</a
      >
            <a
        href="/grants-&-support/contact-us"
        class="text-amber-700 underline">Contact us</a
      >
      <!-- <Hero2
        name={name}
        description={description}
        features={[
          { icon: "user", name: "Availble to Grantees for 12 months" },
          { icon: "user", name: "Availble for Investees indefinitely" },
          { icon: "earth-europe", name: "Across the United Kingdom" },
          { icon: "certificate", name: "Free forever" },
        ]}
      /> -->

      <ul
        role="list"
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
      >
        {
          funds.map((fund) => (
            <li class="col-span-1 flex flex-col divide-y divide-slate-200 rounded-lg bg-white text-center shadow">
              <div class="flex flex-1 flex-col p-8">
                <img
                  class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
                  src={`https://unltd.directus.app/assets/${fund.logo}`}
                  alt=""
                />
                <h3 class="mt-6 text-sm font-medium text-slate-900">
                  {fund.name}
                </h3>
                <dl class="mt-1 flex flex-grow flex-col justify-between">
                  <dt class="sr-only">Fund name</dt>
                  <dd class="text-sm text-slate-500">{fund.name}</dd>
                  <dt class="sr-only">Grant amount</dt>
                  <dd class="mt-3">
                    <span class="rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-800">
                      {new Intl.NumberFormat("en-GB", {
                        maximumSignificantDigits: 3,
                        style: "currency",
                        currency: "GBP",
                      }).format(fund.minimum_amount)}{" "}
                      -{" "}
                      {new Intl.NumberFormat("en-GB", {
                        maximumSignificantDigits: 3,
                        style: "currency",
                        currency: "GBP",
                      }).format(fund.maximum_amount)}
                    </span>
                  </dd>
                </dl>
              </div>
              <div>
                <div class="-mt-px flex divide-x divide-slate-200">
                  <div class="-ml-px flex w-0 flex-1">
                    <a
                      href={`/funds/${fund.slug}`}
                      class="relative inline-flex w-0 flex-1 items-center justify-center rounded-br-lg border border-transparent py-4 text-sm font-medium text-slate-700 hover:text-slate-500"
                    >
                      <span class="text-xs">Visit fund</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          ))
        }
      </ul>

  </Container>
</Template>
