---
import Template from "../../../layouts/Template.astro";
import Container from "../../../components/Container.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import Main from "../../../components/application-preview/Main.astro";
import AsideRight from "../../../components/application-preview/AsideRight.astro";

import { applications } from "../../../data/applications.js";

Astro.props;

export function getStaticPaths() {
  const breadcrumbs = [
    {
      name: "Award",
      slug: "/award",
    },
    {
      name: "Application preview",
      slug: `/award/application-preview`,
    },
  ];
  const pages = [];

  applications.map((app) => {
    // copy breadcrumb
    let copyBreadcrumb = breadcrumbs.map((x) => x);

    copyBreadcrumb.push({
      name: app.name,
      slug: `/award/application-preview/${app.slug}`,
    });

    pages.push({
      params: { application_preview: app.slug },
      props: {
        slug: app.slug,
        name: app.name,
        description: app.description,
        grant_title: app.grant_title,
        grant_amount: app.grant_amount,
        grant_description: app.grant_description,
        disclaimer: app.disclaimer,
        pdf: app.pdf,
        docx: app.docx,
        xlsx: app.xlsx,
        sections: app.sections,
        breadcrumbs: copyBreadcrumb,
      },
    });
  });

  return pages;
}

const { application_preview } = Astro.params;
const {
  slug,
  name,
  description,
  grant_title,
  grant_amount,
  grant_description,
  pdf,
  docx,
  xlsx,
  sections,
  breadcrumbs,
} = Astro.props;
---

<Template name={name} description={description}>
  <Container>
    <Breadcrumbs breadcrumbs={breadcrumbs} />

    <div class="flex flex-col gap-2">
      <div class="flex flex-col sm:flex-row gap-10">
        <div
          class="basis-full lg:basis-1/4 sm:auto-cols-fr sm:self-start sm:sticky sm:top-10"
        >
          <aside class="flex flex-col gap-5">
            <div>
              {
                sections.map((section, index) => (
                  <a
                    href={`#${section.sections_id.slug}`}
                    class={`hover:text-slate-200 active:text-slate-800 active:bg-slate-800 hover:bg-amber-100 rounded-md flex items-center text-xs font-medium transition py-3 flex-row gap-2 group`}
                  >
                    <span class="text-slate-500 border-full h-5 w-5 bg-white bg-opacity-10 flex justify-center items-center rounded-full group-hover:scale-125 group-hover:bg-transparent">
                      {index + 1}
                    </span>
                    <span class="text-slate-600 truncate active:text-white">
                      {section.sections_id.name}
                    </span>
                  </a>
                ))
              }
            </div>
          </aside>
        </div>
        <div
          class="flex flex-col gap-5 lg:flex-row basis-full lg:basis-3/4 lg:auto-cols-fr"
        >
          <div class="block lg:hidden lg:basis-4/12">
            <AsideRight pdf={pdf} docx={docx} xlsx={xlsx} slug={slug} />
          </div>
          <div class="lg:basis-7/12">
            <Main
              slug={slug}
              name={name}
              description={description}
              grant_title={grant_title}
              grant_amount={grant_amount}
              grant_description={grant_description}
              sections={sections}
            />
          </div>
          <div
            class="hidden lg:block lg:basis-5/12 sm:self-start sm:sticky sm:top-10"
          >
            <AsideRight pdf={pdf} docx={docx} xlsx={xlsx} slug={slug} />
          </div>
        </div>
      </div>
    </div>
  </Container>
</Template>
