---
import Template from "../../../layouts/Template.astro";
import Hero from "../../../components/Hero.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import Container from "../../../components/Container.astro";
import Grant from "../../../components/GrantCard1.astro";
import { applications } from "../../../data/applications.js";

const {
  name = "Application preview",
  slug = "application-preview",
  description = "Preview our application form or download the questions so that you can prepare your application before you sign up for an Award account",
  breadcrumbs = [
    {
      name: "Award",
      slug: "/award",
    },
    {
      name: name,
      slug: `/award/${slug}`,
    },
  ],
} = Astro.props;
---

<Template name={name} description={description}>
  <Container>
    <Breadcrumbs breadcrumbs={breadcrumbs} />
    <Hero name={name} description={description} />
    <div class="col-span-12 flex flex-row gap-3 mb-5">
      <div class="flex flex-col gap-1">
        <h2 class="text-3xl font-bold">What is your stage of development?</h2>
        <p class="">
          Select the option that best matches the stage of your venture
        </p>
      </div>
    </div>
    <div
      class="grid xs:grid-rows-3 xs:git-flow-row lg:grid-cols-3 lg:grid-flow-col gap-4 col-span-12 flex-row"
    >
      {
        applications.map((application) => (
          <Grant application={application} url={application.slug} />
        ))
      }
    </div>
  </Container>
</Template>
