---
import slugify from "slugify";
const { name, rows, required } = Astro.props;

const slug = slugify(name, {
  lower: true,
  strict: true,
  locale: "en",
  trim: true,
});
---

<div class="sm:col-span-2">
  <div class="flex justify-between text-sm leading-6">
    <label
      for={slug}
      class="block text-sm font-semibold leading-6 text-violet-900 dark:text-violet-100"
      >{name}</label
    >
    {
      required == false && (
        <p id={`${slug}-description`} class="text-violet-400">
          Optional
        </p>
      )
    }
  </div>
  <div class="mt-2.5">
    <textarea
      name={slug}
      id={slug}
      rows={rows}
      class="block w-full rounded-md border-0 dark:bg-white/5 px-3.5 py-2 text-violet-900 dark:text-violet-100 shadow-sm ring-1 ring-inset ring-violet-300 dark:ring-white/10 focus:ring-2 focus:ring-inset focus:ring-orange-600 dark:focus:ring-orange-500 sm:text-sm sm:leading-6"
      required={required}></textarea>
  </div>
</div>
