---
const { name, icon, styles } = Astro.props;
---

<div>
    {
        name === "Millennium Awards Trust" ? (
            <div
                class={`flex items-center justify-center h-20 w-20 rounded-xl border shadow-2xl ${styles.bg} ${styles.border2}`}
            >
                <svg
                    class="h-9"
                    viewBox="0 0 500 500"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="249.5" cy="249.5" r="236.5" fill="#FDE68A" />
                    <path
                        d="M235.969 0.32158C187.045 3.07234 140.315 19.9699 101.051 49.0166C85.4307 60.5763 69.8758 75.3453 56.9407 90.9001C44.3658 106.029 31.8892 125.645 23.6369 143.328C10.7018 171 3.49741 197.82 0.615666 228.864C-0.104771 236.92 -0.235759 261.513 0.45193 269.47C5.33125 326.81 27.6321 377.765 66.2409 419.845C82.2215 437.267 102.918 453.902 123.81 466.15C153.348 483.407 187.242 494.672 221.069 498.504C231.647 499.715 234.692 499.846 249.887 499.846C265.54 499.846 268.585 499.683 279.85 498.34C362.373 488.549 434.941 437.791 472.895 363.291C486.878 335.849 495.72 305.623 498.732 274.874C500.533 256.764 500.239 236.297 497.914 218.057C492.576 175.682 475.94 134.683 450.168 100.364C407.564 43.6133 344.199 7.91891 273.956 1.10751C262.462 -0.00589168 247.267 -0.300616 235.969 0.32158ZM253.653 90.9984C262.003 92.0135 269.306 95.5502 275.069 101.281C281.062 107.339 284.664 115.035 285.417 123.549C285.614 125.612 285.745 140.578 285.745 158.195C285.745 175.289 285.778 189.24 285.843 189.24C285.909 189.24 303.265 186.718 324.419 183.64C345.574 180.595 364.109 177.975 365.648 177.877C372.852 177.385 381.236 179.841 387.752 184.36C390.994 186.587 395.644 191.499 397.707 194.872C400.917 200.046 402.619 205.646 402.881 211.868C403.34 222.249 400.065 230.927 392.894 238.426C388.374 243.109 383.135 246.253 376.913 247.988C375.014 248.545 361.98 250.542 339.614 253.752C320.719 256.47 305.066 258.729 304.837 258.762C304.64 258.795 315.512 280.408 329.528 307.784C343.314 334.703 355.103 357.888 355.726 359.263C360.605 370.299 359.36 383.463 352.516 393.615C350.748 396.3 346.786 400.393 344.002 402.424C335.684 408.613 324.256 410.807 314.071 408.187C310.174 407.172 304.509 404.454 301.431 402.129C298.615 399.968 295.111 396.267 293.244 393.418C292.393 392.141 282.306 372.689 270.78 350.126L249.821 309.127L228.765 350.29C217.205 372.918 207.054 392.468 206.202 393.746C201.65 400.59 193.726 406.091 185.179 408.318C181.38 409.3 174.929 409.562 170.966 408.875C159.243 406.812 149.746 399.738 144.605 389.194C140.675 381.203 139.922 371.314 142.542 362.963C143.557 359.721 141.821 363.225 170.868 306.376C184.196 280.31 195.068 258.926 195.003 258.86C194.937 258.795 179.251 256.502 160.16 253.752C138.154 250.575 124.433 248.479 122.664 247.955C109.696 244.288 99.8067 233.514 97.3179 220.35C96.5975 216.584 96.6303 210.165 97.4162 206.432C100.101 193.431 109.762 182.952 122.402 179.285C126.103 178.204 130.982 177.647 134.257 177.909C135.698 178.008 154.2 180.595 175.322 183.673C196.444 186.718 213.799 189.24 213.865 189.24C213.93 189.24 214.061 173.947 214.127 155.248C214.258 118.211 214.127 120.274 216.157 114.544C219.596 104.687 227.815 96.4344 237.77 92.865C242.912 91.0311 248.479 90.3762 253.653 90.9984Z"
                        fill="#D29248"
                    />
                </svg>
            </div>
        ) : (
            <div
                class={`flex items-center justify-center h-20 w-20 rounded-2xl border shadow-2xl ${styles.bg} ${styles.border}`}
            >
                <i class={`${icon} text-4xl ${styles.text}`} />
            </div>
        )
    }
</div>
