---
const { navItem } = Astro.props;
import Item from "./Item.astro";
---

<button
  id={`dropdownButton-${navItem.slug}`}
  class="dropdownButton p-3 text-sm font-medium bg-slate-200 text-slate-800 hover:bg-slate-300 hover:text-slate-900 focus:font-bold focus:bg-slate-300 focus:text-slate-900"
  onclick={`desktop("${navItem.slug}")`}
  aria-expanded="false"
>
  {navItem.name} &#5167;
</button>

<ul
  id={`dropdownContent-${navItem.slug}`}
  class="flex flex-col gap-4 p-3 bg-slate-300 border border-sky-500 dropdownContent absolute hidden"
>
  {
    navItem.children.map((navItemChild) => (
      <li>
        <Item item={navItemChild} />
      </li>
    ))
  }
</ul>
