---
import nav from "@data/nav.json";
import Logo from "@components/Logo.jsx";
---

<script is:inline>
  let mobileDropdownButtons = document.getElementsByClassName(
    "mobileDropdownButton",
  );
  let mobileDropdownContents = document.getElementsByClassName(
    "mobileDropdownContent",
  );

  function hideButton(mobileDropdownButton) {
    if (mobileDropdownButton.getAttribute("aria-expanded") === "true") {
      mobileDropdownButton.setAttribute("aria-expanded", false);
    }
  }

  function hideContent(mobileDropdownContent) {
    if (!mobileDropdownContent.classList.contains("hidden")) {
      mobileDropdownContent.classList.add("hidden");
    }
  }

  function hamburgerMenu() {
    let hamburgerButton = document.getElementById("hamburgerButton");
    let hamburgerMenu = document.getElementById("hamburgerMenu");
    hamburgerMenu.classList.toggle("hidden");

    if (hamburgerButton.getAttribute("aria-expanded") === "true") {
      hamburgerButton.setAttribute("aria-expanded", "false");
    } else {
      hamburgerButton.setAttribute("aria-expanded", "true");
    }
  }

  function mobile(item) {
    let mobileDropdownContentId = "mobileDropdownContent-" + item;
    let mobileDropdownButtonId = "mobileDropdownButton-" + item;
    let mobileDropdownContent = document.getElementById(
      mobileDropdownContentId,
    );
    let mobileDropdownButton = document.getElementById(mobileDropdownButtonId);

    for (let i = 0; i < mobileDropdownButtons.length; i++) {
      if (!(mobileDropdownButtons[i].id === mobileDropdownButtonId)) {
        hideButton(mobileDropdownButtons[i]);
      }
    }

    for (let i = 0; i < mobileDropdownContents.length; i++) {
      if (!(mobileDropdownContents[i].id === mobileDropdownContentId)) {
        hideContent(mobileDropdownContents[i]);
      }
    }

    mobileDropdownContent.classList.toggle("hidden");

    if (mobileDropdownButton.getAttribute("aria-expanded") === "true") {
      mobileDropdownButton.setAttribute("aria-expanded", "false");
    } else {
      mobileDropdownButton.setAttribute("aria-expanded", "true");
    }
  }
</script>

<nav class="flex flex-col lg:hidden gap-2 shadow-2xl">
  <div class="bar flex justify-between p-5">
    <div class="logo">
      <a href="/">
        <span class="sr-only">UnLtd</span>
        <Logo />
      </a>
    </div>
    <div>
      <button
        class="text-white"
        id="hamburgerButton"
        onclick="hamburgerMenu()"
        aria-expanded="false">&#9776;</button
      >
    </div>
  </div>

  <!-- <ul id="hamburgerMenu" class="flex flex-col gap-5 md:hidden mx-5">
    {
      nav.header.main.map((navItem) =>
        navItem.children.length >= 1 ? (
          <li class="mobileDropdown">
            <button
              id={`mobileDropdownButton-${navItem.slug}`}
              class="p-2 rounded-md mobileDropdownButtons text-sm font-medium text-white hover:bg-amber-800 hover:text-amber-200 focus:font-bold focus:bg-amber-800 focus:text-amber-200"
              onclick={`mobile("${navItem.slug}")`}
              aria-expanded="false"
            >
              <span>{navItem.name}</span> <i class="fa-solid fa-caret-down" />
            </button>

            <ul
              id={`mobileDropdownContent-${navItem.slug}`}
              class="mobileDropdownContent hidden p-3 bg-[#491A86] absolute shadow-2xl rounded-md"
            >
              <li class="flex flex-col gap-1 p-1 mobileDropdownItem">
                {navItem.children.map((navItemChild) => (
                  <a
                    href={`/${navItemChild.slug}`}
                    class="hover:text-amber-200 text-sm font-medium p-2 text-amber-100 block"
                  >
                    {navItemChild.name}
                  </a>
                ))}
              </li>
            </ul>
          </li>
        ) : navItem.slug ? (
          <li>
            <a
              href={`/${navItem.slug}`}
              class="text-sm font-medium text-white hover:text-amber-200 active:font-bold active:text-amber-600"
            >
              {navItem.name}
            </a>
          </li>
        ) : (
          <li>
            <a
              href={navItem.slug}
              target="_blank"
              class="text-sm font-medium text-white hover:text-amber-200 active:font-bold active:text-amber-600 flex flex-row gap-2 items-center"
            >
              <span>{navItem.name}</span>
              <i class="text-xs fa-solid fa-arrow-up-right-from-square" />
            </a>
          </li>
        )
      )
    }
  </ul> -->
</nav>
