---
import Badge from "@components/awards/cards/Badge.astro";

import { palette } from "@data/palette.js";
import { programmes } from "@data/programmes.js";

const { grant, styles } = Astro.props;
---

<div
  class={`flex flex-col flex-1 grow divide-y ${styles.divide} ${styles.bg2}`}
>
  <div class=" rounded-t-2xl px-8 py-6">
    <h2 class={`text-2xl font-semibold ${styles.text}`}>
      {grant.grants_id.name}
    </h2>
  </div>

  <div class={`flex grow flex-col gap-4 p-8`}>
    <div class="flex gap-10">
      <div class="flex flex-1 flex-col gap-4">
        <p class="flex flex-col items-baseline gap-x-1">
          <span
            class={`text-sm font-semibold leading-6 ${styles.text2}`}
          >
            Up to
          </span>
          <span
            class={`text-4xl font-bold tracking-tight ${styles.text}`}
          >
            {
              new Intl.NumberFormat("en-GB", {
                maximumSignificantDigits: 3,
                style: "currency",
                currency: "GBP",
              }).format(grant.grants_id.amount)
            }
          </span>
        </p>
        <div class="flex gap-5">
          <p class={`flex-1 text-xs ${styles.text}`}>
            {grant.grants_id.description}
          </p>
          <div class="flex-1 flex flex-col gap-3">
            <p class={`truncate text-xs font-medium flex gap-2 items-center`}>
              <i
                class={`fa-light fa-check ${styles.text2}`}
              ></i>
              <span class={`${styles.text}`}>
                {grant.grants_id.feature_1}
              </span>
            </p>
            {
              grant.grants_id.feature_2 && (
                <p
                  class={`truncate text-xs font-medium flex gap-2 items-center`}
                >
                  <i
                    class={`fa-light fa-check ${styles.text2}`}
                  />
                  <span class={`${styles.text}`}>
                    {grant.grants_id.feature_2}
                  </span>
                </p>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class={`flex flex-col gap-5 rounded-b-2xl p-8`}
  >
    <div class="flex flex-col gap-1">
      <h3 class={`text-xs font-semibold ${styles.text}`}>
        Social venture eligibility
      </h3>
    </div>
    <ul class="flex flex-row gap-10">
      <li class="flex flex-col gap-1">
        <p class={`truncate text-xs uppercase flex gap-2 items-center`}>
          <i class={`fa-light fa-pen-nib ${styles.text2}`}
          ></i>
          <span class={`text-xs ${styles.text2}`}>
            Incorporated
          </span>
        </p>
        <p
          class={`text-xs font-medium tracking-tight ${styles.text}`}
        >
          {grant.grants_id.incorporated}
        </p>
      </li>
      <li class="flex flex-col gap-1">
        <p class={`truncate text-xs uppercase flex gap-2 items-center`}>
          <i
            class={`fa-light fa-bag-shopping ${styles.text2}`}
          ></i>
          <span class={`text-xs ${styles.text2}`}>
            Selling goods and services
          </span>
        </p>
        <p
          class={`text-xs font-medium tracking-tight ${styles.text}`}
        >
          {grant.grants_id.selling_goods_and_services}
        </p>
      </li>
    </ul>
  </div>
</div>
