---
const { programme, styles } = Astro.props;
import { marked } from "marked";
marked.use({ mangle: false, headerIds: false });

import IconBig from "@components/awards/cards/IconBig.astro";
import Container from "@components/Container.astro";
import Status from "@components/awards/programme/Status.astro";
import Partners from "@components/awards/programme/Partners.astro";

import moment from "moment";
let todayDate = moment();
---

<div class={`relative isolate overflow-hidden ${styles.bg} py-20`}>
  <img
    src={`https://unltd.directus.app/assets/${programme.image.id}`}
    alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center brightness-50 blur-xs opacity-30"
  />
  <div
    class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
    aria-hidden="true"
  >
    <div
      class={`aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr ${styles.bg} opacity-20`}
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div
    class="absolute -top-52 left-1/2 -z-10 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:transform-gpu"
    aria-hidden="true"
  >
    <div
      class={`aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr ${styles.bg1} opacity-20`}
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8 xl:mb-10">
    <div class="col-span-4 flex flex-col gap-8 lg:flex-row">
      <div class="flex flex-col gap-16">
        <IconBig name={programme.name} icon={programme.icon} styles={styles} />
        <div class="flex flex-row gap-8 items-center">
          <div class="flex flex-col gap-3">
            <div class="flex flex-row gap-4">
              <div
                class={`flex flex-inline items-center gap-3 pr-3 border-r ${styles.border2} ${styles.text}`}
              >
                <i class={`fa-solid fa-award text-base ${styles.text2}`}
                ></i><span
                  class={`text-xs tracking-widest uppercase font-bold ${styles.text2}`}
                  >Award Programme</span
                >
              </div>
              <Status
                from={programme.from}
                till={programme.till}
                styles={styles}
              />
            </div>

            {
              programme.logo ? (
                <img
                  src={`https://unltd.directus.app/assets/${programme.logo.id}`}
                  class="w-96"
                  alt=""
                />
              ) : (
                <h1 class={`text-6xl font-bold ${styles.text} ${styles.font}`}>
                  {programme.name}
                </h1>
              )
            }
          </div>
        </div>
        <Partners
          name={programme.name}
          partners={programme.partners}
          styles={styles}
        />

        {
          programme.issue && programme.action && programme.outcome ? (
            <div class="mx-auto  max-w-2xl lg:max-w-none">
              <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                <div class="flex flex-col">
                  <dt
                    class={`flex items-center gap-x-3 text-2xl font-semibold leading-7 ${styles.text}`}
                  >
                    <i
                      class={`fa-light fa-triangle-exclamation flex-none ${styles.text2}`}
                    />
                    Issue
                  </dt>
                  <dd
                    class={`mt-4 flex flex-auto flex-col text-sm leading-6 ${styles.text2}`}
                  >
                    <p class="flex-auto">{programme.issue}</p>
                  </dd>
                </div>
                <div class="flex flex-col">
                  <dt
                    class={`flex items-center gap-x-3 text-2xl font-semibold leading-7 ${styles.text}`}
                  >
                    <i
                      class={`fa-light fa-wrench flex-none ${styles.text2}`}
                    />
                    Action
                  </dt>
                  <dd
                    class={`mt-4 flex flex-auto flex-col text-sm leading-6 ${styles.text2}`}
                  >
                    <p class="flex-auto">{programme.action}</p>
                  </dd>
                </div>
                <div class="flex flex-col">
                  <dt
                    class={`flex items-center gap-x-3 text-2xl font-semibold leading-7 ${styles.text}`}
                  >
                    <i
                      class={`fa-light fa-flag-checkered flex-none ${styles.text2}`}
                      />
                    Outcome
                  </dt>
                  <dd
                    class={`mt-4 flex flex-auto flex-col text-sm leading-6 ${styles.text2}`}
                  >
                    <p class="flex-auto">{programme.outcome}</p>
                  </dd>
                </div>
              </dl>
            </div>
          ) : (
            <div
              class={` max-w-4xl text-xl leading-relaxed prose:${styles.text2} prose:${styles.font}`}
            >
              {programme.description}
            </div>
          )
        }
      </div>
    </div>
  </div>
  {
    programme.spotlight && (
      <div class="relative overflow-hidden pt-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8 flex-none aspect-video rounded-lg shadow-lg">
          <iframe
            class={`w-full h-full object-cover rounded-lg`}
            src={programme.spotlight.url}
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          />
        </div>
      </div>
    )
  }
</div>
