---
import Icon from "@components/Icon.astro";
import { marked } from "marked";
marked.use({ mangle: false, headerIds: false });
const { grants, name } = Astro.props;
---

<div class="hidden lg:block">
  <table class="h-px w-full table-fixed">
    <caption class="sr-only">Grants plan comparison</caption>

    <tr>
      <th
        class="bg-violet-200 py-3 pl-6 text-left text-sm rounded-t-md"
        colspan="4"
        scope="colgroup"
      >
        <span class="font-medium text-violet-600">Grant</span></th
      >
    </tr>
    <thead>
      <tr>
        <th
          class="w-1/3 px-6 pb-4 text-left text-sm font-medium text-violet-900"
          scope="col"
        >
          <span class="sr-only">Feature by</span>
          <span>Name</span>
        </th>

        {
          grants.map((grant) => (
            <th
              class="w-1/3 px-6 pb-4 text-left text-lg font-medium leading-6 text-violet-900"
              scope="col"
            >
              <div class="flex flex-col">
                <span class="text-md">{name}</span>
                <span class="text-4xl">{grant.name}</span>
              </div>
            </th>
          ))
        }
      </tr>
    </thead>
    <tbody class="divide-y divide-violet-200 border-t border-violet-200">
      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-8 px-6 text-left align-top text-sm font-medium text-violet-900"
          scope="row">Amount</th
        >

        {
          grants.map((grant) => (
            <td class="h-full py-8 px-6 align-top">
              <div class="relative table h-full">
                <span class="text-base font-medium text-violet-500">From</span>
                <p>
                  <span class="text-4xl tracking-tight text-violet-600">
                    {new Intl.NumberFormat("en-GB", {
                      maximumSignificantDigits: 3,
                      style: "currency",
                      currency: "GBP",
                    }).format(grant.minimum_amount)}
                  </span>
                </p>
                <span class="text-base font-medium text-violet-500">to</span>
                <p>
                  <span class="text-4xl tracking-tight text-violet-600">
                    {new Intl.NumberFormat("en-GB", {
                      maximumSignificantDigits: 3,
                      style: "currency",
                      currency: "GBP",
                    }).format(grant.maximum_amount)}
                  </span>
                </p>
              </div>
            </td>
          ))
        }
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row"
        >
          <span class="font-normal text-violet-500"
            >Can grant be used for social entrepreneur salary?</span
          >
        </th>

        <td class="py-5 px-6">
          <Icon name="xmark" style="solid" class="text-violet-" />
          <span class="sr-only">Included in Starting up</span>
        </td>

        <td class="py-5 px-6">
          <Icon name="check" style="solid" />
          <span class="sr-only">Included in Scaling up</span>
        </td>
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row"
        >
          <span class="font-normal text-violet-500"
            >Can grant be used for social venture costs?</span
          >
        </th>

        <td class="py-5 px-6">
          <Icon name="check" style="solid" />
          <span class="sr-only">Included in Starting up</span>
        </td>

        <td class="py-5 px-6">
          <Icon name="check" style="solid" />
          <span class="sr-only">Included in Scaling up</span>
        </td>
      </tr>

      <tr>
        <th
          class="bg-violet-200 py-3 pl-6 text-left text-sm rounded-t-md"
          colspan="4"
          scope="colgroup"
        >
          <span class="font-medium text-violet-600">Support</span></th
        >
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-10 px-6 text-left text-sm font-normal text-violet-500 flex flex-col gap-3"
          scope="row"
        >
          <div class="flex flex-col">
            <Icon name="user-shield" style="solid" class="text-4xl" />
          </div>
          <div>
            <span class="font-medium text-violet-500"
              >Dedicated support manager</span
            >
            <span class="font-normal text-violet-400 block w-60"
              >Someone to coach, mentor and support you to achieve your goals.</span
            >
          </div>
        </th>

        <td class="py-5 px-6">
          <Icon name="check" style="solid" />
          <span class="sr-only">Included in Starting up</span>
        </td>

        <td class="py-5 px-6">
          <Icon name="check" style="solid" />
          <span class="sr-only">Included in Scaling up</span>
        </td>
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-10 px-6 text-left text-sm font-normal text-violet-500 flex flex-col gap-3"
          scope="row"
        >
          <div class="flex flex-col">
            <Icon name="hammer" style="solid" class="text-4xl" />
          </div>
          <div>
            <span class="font-medium text-violet-500"
              >Expert mentors and pro bono support</span
            ><span class="font-normal text-violet-400 block w-60"
              >Expert advice and mentoring through our generous community of
              business professionals, corporate partners and social
              entrepreneurs who volunteer their skills and expertise.</span
            >
          </div>
        </th>

        <td class="py-5 px-6">
          <Icon name="check" style="solid" />
          <span class="sr-only">Included in Starting up</span>
        </td>

        <td class="py-5 px-6">
          <Icon name="check" style="solid" />
          <span class="sr-only">Included in Scaling up</span>
        </td>
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-10 px-6 text-left text-sm font-normal text-violet-500 flex flex-col gap-3"
          scope="row"
        >
          <div class="flex flex-col">
            <Icon name="code-branch" style="solid" class="text-4xl" />
          </div>
          <div>
            <span class="font-medium text-violet-500"
              >Workshops and learning</span
            ><span class="font-normal text-violet-400 block w-60"
              >Through our regular workshops and support you will be able to
              learn about different aspects of running a social venture.</span
            >
          </div>
        </th>

        <td class="py-5 px-6">
          <Icon name="check" style="solid" />
          <span class="sr-only">Included in Starting up</span>
        </td>

        <td class="py-5 px-6">
          <Icon name="check" style="solid" />
          <span class="sr-only">Included in Scaling up</span>
        </td>
      </tr>

      <tr>
        <th
          class="bg-violet-200 py-3 pl-6 text-left text-sm rounded-t-md"
          colspan="4"
          scope="colgroup"
        >
          <span class="font-medium text-violet-600">Eligibility</span></th
        >
      </tr>

      <tr>
        <th
          class="bg-violet-100 py-3 pl-6 text-left text-sm"
          colspan="4"
          scope="colgroup"
        >
          <span class="font-medium text-violet-900">Social entrepreneur</span
          ><span class="font-normal text-violet-500 block w-60"
            >A individual who has started, or looking to start, a social
            venture, someone who is driven by their passion to make a
            difference. They are looking to make a sustained and long-term
            impact and need our funding and support to make it happen.</span
          >
        </th>
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row">How old are you?</th
        >
        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(`${grant.How_old_are_you}`)}
              />
            </td>
          ))
        }
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row">Where are you located?</th
        >

        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(`${grant.Where_are_you_located}`)}
              />
            </td>
          ))
        }
      </tr>

      <tr>
        <th
          class="bg-violet-100 py-3 pl-6 text-left text-sm"
          colspan="4"
          scope="colgroup"
        >
          <div class="flex flex-row gap-24 items-center">
            <div>
              <span class="font-medium text-violet-900">Social venture</span>
              <span class="font-normal text-violet-500 block w-60"
                >An organisation driven by social purpose to create impact and
                has a financially sustainable business model to continue to make
                a difference. It sits in between a commercial business and a
                charity, often described as 'profit for purpose'.
              </span>
            </div>
            <ul
              class="list-disc text-sm leading-loose font-normal text-violet-500"
            >
              <li>Must not employ others to undertake most of the work.</li>
              <li>Must not involve political or religious campaigning.</li>
              <li>
                Must not predominantly focus on raising awareness of social
                issues.
              </li>
            </ul>
          </div>
        </th>
      </tr>

      <!-- Basic info -->

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row">What legal structure are you?</th
        >

        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(`Any`)}
              />
            </td>
          ))
        }
      </tr>

      <!-- Basic info -->

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row">Where is your social venture located?</th
        >

        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(
                  `${grant.Where_is_your_social_venture_located}`,
                )}
              />
            </td>
          ))
        }
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row"
          >How much did your social venture earn last financial year?</th
        >
        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(
                  `${grant.How_much_did_your_social_venture_earn_last_financial_year}`,
                )}
              />
            </td>
          ))
        }
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row">How long has your social venture been incorporated?</th
        >
        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(
                  `${grant.How_long_has_your_social_venture_been_incorporated}`,
                )}
              />
            </td>
          ))
        }
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row"
          >How long has your social venture been selling goods and services?</th
        >

        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(
                  `${grant.How_long_has_your_social_venture_been_selling_goods_and}`,
                )}
              />
            </td>
          ))
        }
      </tr>

      <!-- Working with marginalised people -->

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row"
          >Is your social venture working with marginalised people?</th
        >
        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(
                  `${grant.Is_your_social_venture_working_with_marginalised_people}`,
                )}
              />
            </td>
          ))
        }
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row"
          >What areas is your social venture working with marginalised people
          in?</th
        >

        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(
                  `${grant.What_areas_is_your_social_venture_working_with_marginalised}`,
                )}
              />
            </td>
          ))
        }
      </tr>

      <!-- Impact on marginalised people -->

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row"
          >Is your social venture having an impact on marginalised people?</th
        >
        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(
                  `${grant.Is_your_social_venture_having_an_impact_on_marginalised}`,
                )}
              />
            </td>
          ))
        }
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row"
          >Where is the majority of your social ventures impact located?</th
        >
        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(
                  `${grant.Where_is_the_majority_of_your_social_ventures_impact_located}`,
                )}
              />
            </td>
          ))
        }
      </tr>

      <tr class="hover:bg-violet-50 transition">
        <th
          class="py-5 px-6 text-left text-sm font-normal text-violet-500"
          scope="row">What areas is your social venture having impact?</th
        >
        {
          grants.map((grant) => (
            <td class="py-5 px-6">
              <span
                class="block text-sm text-violet-700 prose"
                set:html={marked.parse(
                  `${grant.What_areas_is_your_social_venture_having_impact}`,
                )}
              />
            </td>
          ))
        }
      </tr>
    </tbody>
    <tfoot>
      <tr class="border-t border-violet-200"> </tr>
    </tfoot>
  </table>
</div>
