---
import { marked } from "marked";
marked.use({ mangle: false, headerIds: false });

import TableRecordIcon from "./TableRecordIcon.astro";
import TableRecordText from "./TableRecordText.astro";
import TableRecordDes from "./TableRecordDes.astro";

const { grants } = Astro.props;
---

        {
          grants.map((grant) => (
      <div class="lg:hidden">
        <section>
          <div class="mb-8">
            <h2 class="text-lg font-medium leading-6 text-slate-900">{grant.name}</h2>
            <p class="mt-4 flex flex-col">
              <span class="text-base font-medium text-slate-500">From</span>
              <span class="text-4xl font-bold tracking-tight text-slate-900"
                >{new Intl.NumberFormat("en-GB", {
                      maximumSignificantDigits: 3,
                      style: "currency",
                      currency: "GBP",
                    }).format(grant.minimum_amount)}</span>
                            <span class="text-base font-medium text-slate-500">To</span>
                                          <span class="text-4xl font-bold tracking-tight text-slate-900"
                >{new Intl.NumberFormat("en-GB", {
                      maximumSignificantDigits: 3,
                      style: "currency",
                      currency: "GBP",
                    }).format(grant.maximum_amount)}</span>
            </p>
          </div>

          <table class="w-full">
            <tbody class="divide-y divide-slate-200">
              <TableRecordIcon
                question="Can grant be used for social entrepreneur salary?"
                answer="No"
              />

              <TableRecordIcon
                question="Can grant be used for social venture costs?"
                answer="Yes"
              />
            </tbody>
          </table>

          <table class="w-full">
            <caption
              class="border-t border-slate-200 bg-slate-50 py-3 px-6 text-left text-sm font-medium text-slate-900 sm:px-4"
            >
              Support
            </caption>
            <tbody class="divide-y divide-slate-200">
              <TableRecordIcon
                question="Dedicated support manager"
                description="Someone to coach, mentor and support you to achieve your goals."
                answer="Yes"
              />

              <TableRecordIcon
                question="Expert mentors and pro bono support"
                description="Expert advice and mentoring through our generous community of business professionals, corporate partners and social entrepreneurs who volunteer their skills and expertise."
                answer="Yes"
              />

              <TableRecordIcon
                question="Workshops and learning"
                description="Through our regular workshops and support you will be able to learn about different aspects of running a social venture."
                answer="Yes"
              />
            </tbody>
          </table>

          <table class="w-full">
            <caption
              class="border-t border-slate-200 bg-slate-50 py-3 px-6 text-left text-sm font-medium text-slate-900 sm:px-4"
            >
              Eligibility
            </caption>
            <tbody class="divide-y divide-slate-200">
              <TableRecordDes
                name="Social entrepreneur"
                description="The name we give to people who have started, or looking to start, a social venture, someone who is driven by their passion to make a difference. They are looking to make a sustained and long-term impact and need our funding and support to make it happen."
              />

              <TableRecordText
                question="How old are you?"
                answer={grant.How_old_are_you}
              />

              <TableRecordText question="Where are you located?" answer={grant.Where_are_you_located} />

              <TableRecordDes
                name="Social venture"
                description="The name we give to people who have started, or looking to start, a social venture, someone who is driven by their passion to make a difference. They are looking to make a sustained and long-term impact and need our funding and support to make it happen."
                more='<ul class="list-disc text-sm leading-loose font-normal text-slate-500"><li>Must not employ others to undertake most of the work.</li><li>Must not involve political or religious campaigning.</li><li>Must not predominantly focus on raising awareness of social issues.</li></ul>'
              />

              <TableRecordText
                question="Where is your social venture located?"
                answer={grant.Where_is_your_social_venture_located}
                )}
              />

              <TableRecordText
                question="How much did your social venture earn last financial year?"
                answer={grant.How_much_did_your_social_venture_earn_last_financial_year}
                )}
              />

              <TableRecordText
                question="How long has your social venture been incorporated?"
                answer={grant.How_long_has_your_social_venture_been_incorporated}
              />

              <TableRecordText
                question="How long has your social venture been selling goods and services?"
                answer={grant.How_long_has_your_social_venture_been_selling_goods_and}
              />

              <TableRecordText
                question="Is your social venture working with marginalised people?"
                answer={grant.Is_your_social_venture_working_with_marginalised_people}
                )}
              />

              <TableRecordText
                question="Is your social venture having an impact on marginalised people?"
                answer={grant.Is_your_social_venture_having_an_impact_on_marginalised}
              />

              <TableRecordText
                question="Where is the majority of your social ventures impact located?"
                answer={grant.Where_is_the_majority_of_your_social_ventures_impact_located}
              />

              <TableRecordText
                question="What areas is your social venture having impact?"
                answer={grant.What_areas_is_your_social_venture_having_impact}
              />
            </tbody>
          </table>
        </section>
      </div>
      ))
}
