---
import Template from "@layouts/Template.astro";
import Container from "@components/Container.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Default from "@components/heroes/Default.astro";
import Content from "@components/markdoc/Content.astro";

import { marked } from "marked";
import slugify from "slugify";

import { pages } from "@data/pages.js";

export async function getStaticPaths() {
  return pages.map((page) => {
    // Use the slug field if it exists and is not empty, otherwise use the page name
    const pageSlug =
      page.slug && page.slug.trim() !== ""
        ? page.slug
        : slugify(page.name, {
            lower: true,
            strict: true,
            locale: "en",
            trim: true,
          });

    let breadcrumbs = [
      {
        name: page.name,
        path: `/${pageSlug}`,
      },
    ];

    page.breadcrumbs = breadcrumbs;

    let item = {
      params: {
        page: pageSlug,
      },
      props: {
        ...page,
      },
    };

    return item;
  });
}

const { name, description, body, breadcrumbs } = Astro.props;
---

<Template name={name} description={description}>
  <Container>
    <Breadcrumbs breadcrumbs={breadcrumbs} />
    <Default name={name} description={description} />
    <div class="pb-20">
      <Content body={body} />
    </div>
  </Container>
</Template>
