---
import HeaderAstro from "../layouts/HeaderAstro.astro";
const name = "Contact us";
const description = "djhjdkfkjdhjk";
const breadcrumbs = [
  {
    name: "Contact us",
    slug: "contact-us",
  },
];
---

<HeaderAstro name={name} description={description} breadcrumbs={breadcrumbs}>
  <h1>{name}</h1>
  <p>{description}</p>
</HeaderAstro>
