---
import Template from "@layouts/Template.astro";
import MainHero from "@components/MainHero.astro";
import Posts from "@components/Posts.astro";
import Mission from "@components/Mission.astro";
import Things from "@components/Things.astro";
import Testamonials from "@components/Testamonials.astro";
import { home } from "@data/home.js";
const name = "Home";
const description = "Home description";
---

<Template name={name} description={description}>
  <MainHero data={home} />
  <Mission data={home} />
  <div class="bg-violet-950 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base/7 font-semibold text-violet-400">Funding</h2>
        <p
          class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-violet-100 sm:text-5xl lg:text-balance"
        >
          Bespoke grants
        </p>
        <p class="mt-6 text-lg/8 text-violet-300">
          Quis tellus eget adipiscing convallis sit sit eget aliquet quis.
          Suspendisse eget egestas a elementum pulvinar et feugiat blandit at.
          In mi viverra elit nunc.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
        >
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-violet-100">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-violet-200"
              >
                <i class="fa-solid fa-fingerprint text-violet-900"></i>
              </div>
              The grant amount you get is unique to you
            </dt>
            <dd class="mt-2 text-base/7 text-violet-300">
              Morbi viverra dui mi arcu sed. Tellus semper adipiscing
              suspendisse semper morbi. Odio urna massa nunc massa.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-violet-100">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-violet-200"
              >
                <i class="fa-regular fa-lightbulb text-violet-900"></i>
              </div>
              An idea is good enough
            </dt>
            <dd class="mt-2 text-base/7 text-violet-300">
              Sit quis amet rutrum tellus ullamcorper ultricies libero dolor
              eget. Sem sodales gravida quam turpis enim lacus amet.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="bg-violet-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base/7 font-semibold text-violet-400">Support</h2>
        <p
          class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-violet-100 sm:text-5xl lg:text-balance"
        >
          Tailored services
        </p>
        <p class="mt-6 text-lg/8 text-violet-300">
          Quis tellus eget adipiscing convallis sit sit eget aliquet quis.
          Suspendisse eget egestas a elementum pulvinar et feugiat blandit at.
          In mi viverra elit nunc.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
        >
        {
          home.support.map((service) => (
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-violet-100">
                <div
                  class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-violet-200"
                >
                  <i class={`text-lg text-violet-600 ${service.icon}`}></i>
                </div>
                {service.title}
              </dt>
              <dd class="mt-2 text-base/7 text-violet-300">
                {service.text}
              </dd>
            </div>
          ))
        }
        </dl>
      </div>
    </div>
  </div>
  <Posts />
</Template>
