---
import Blank from "../layouts/Blank.astro";
// import List from "../components/List.astro";
import { positions } from "../data/directus/positions.js";

const name = "Meet the Team";
const description =
  "Our people are passionate about breaking down the barriers faced by social entrepreneurs and delivering market leading support to grow their impact";

const breadcrumbs = [
  {
    name: "Meet the Team",
    slug: "meet-the-team",
  },
];
---

<Blank name={name} description={description} breadcrumbs={breadcrumbs}>
  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-600 sm:text-4xl">
          Leadership
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-400">
          Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae
          elementum enim vitae ullamcorper suspendisse.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter((position) => position.role.team === "Leadership")
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={
                      position.person.image
                        ? `https://unltd.directus.app/assets/${position.person.image}`
                        : "/img/profile.webp"
                    }
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-600">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-gray-600">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm leading-6 text-gray-500">
                      {position.role.name}
                    </p>
                    {position.person.linkedin && (
                      <a
                        href={position.person.linkedin}
                        target="_blank"
                        class="text-gray-600"
                      >
                        <span class="sr-only">LinkedIn</span>
                        <i class="text-sm fa-brands fa-linkedin" />
                      </a>
                    )}
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-600 sm:text-4xl">
          Trustees
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-400">
          Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae
          elementum enim vitae ullamcorper suspendisse.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter((position) => position.role.team === "Trustees")
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={
                      position.person.image
                        ? `https://unltd.directus.app/assets/${position.person.image}`
                        : "/img/profile.webp"
                    }
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-600">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-gray-600">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm leading-6 text-gray-500">
                      {position.role.name}
                    </p>
                    {position.person.linkedin && (
                      <a
                        href={position.person.linkedin}
                        target="_blank"
                        class="text-gray-600"
                      >
                        <span class="sr-only">LinkedIn</span>
                        <i class="text-sm fa-brands fa-linkedin" />
                      </a>
                    )}
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-600 sm:text-4xl">
          Social Entrepreneur Support
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-400">
          Our Social Entrepreneur Support team are the people supporting
          applicants applying for awards and delivering market leading support
          through one-to-one coaching and peer to peer connections to the award
          winners we support and our alumni network.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter(
              (position) => position.role.team === "Social Entrepreneur Support"
            )
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={
                      position.person.image
                        ? `https://unltd.directus.app/assets/${position.person.image}`
                        : "/img/profile.webp"
                    }
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-600">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-gray-600">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm leading-6 text-gray-500">
                      {position.role.name}
                    </p>
                    {position.person.linkedin && (
                      <a
                        href={position.person.linkedin}
                        target="_blank"
                        class="text-gray-600"
                      >
                        <span class="sr-only">LinkedIn</span>
                        <i class="text-sm fa-brands fa-linkedin" />
                      </a>
                    )}
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-600 sm:text-4xl">
          Delivery and Investment
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-400">
          Designing and delivering market-leading support with and alongside our
          partners, supporters and colleagues. We are focussed on breaking down
          the barriers faced by social entrepreneurs. This includes accessing
          specialist expertise through our partnership work, and accessing the
          right investment through the Growth Impact Fund.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter(
              (position) => position.role.team === "Delivery and Investment"
            )
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={
                      position.person.image
                        ? `https://unltd.directus.app/assets/${position.person.image}`
                        : "/img/profile.webp"
                    }
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-600">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-gray-600">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm leading-6 text-gray-500">
                      {position.role.name}
                    </p>
                    {position.person.linkedin && (
                      <a
                        href={position.person.linkedin}
                        target="_blank"
                        class="text-gray-600"
                      >
                        <span class="sr-only">LinkedIn</span>
                        <i class="text-sm fa-brands fa-linkedin" />
                      </a>
                    )}
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-600 sm:text-4xl">
          Impact and Influence
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-400">
          Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae
          elementum enim vitae ullamcorper suspendisse.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter((position) => position.role.team === "Impact and Influence")
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={
                      position.person.image
                        ? `https://unltd.directus.app/assets/${position.person.image}`
                        : "/img/profile.webp"
                    }
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-600">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-gray-600">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm leading-6 text-gray-500">
                      {position.role.name}
                    </p>
                    {position.person.linkedin && (
                      <a
                        href={position.person.linkedin}
                        target="_blank"
                        class="text-gray-600"
                      >
                        <span class="sr-only">LinkedIn</span>
                        <i class="text-sm fa-brands fa-linkedin" />
                      </a>
                    )}
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-600 sm:text-4xl">
          Corporate Services
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-400">
          Look after our people, systems and finances to ensure a well governed
          organisation to always deliver value for money support to social
          entrepreneurs by maximising the impact of available financial
          resources and fostering a culture of inclusion and belonging for our
          colleagues.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter((position) => position.role.team === "Corporate Services")
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={
                      position.person.image
                        ? `https://unltd.directus.app/assets/${position.person.image}`
                        : "/img/profile.webp"
                    }
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-600">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-gray-600">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm leading-6 text-gray-500">
                      {position.role.name}
                    </p>
                    {position.person.linkedin && (
                      <a
                        href={position.person.linkedin}
                        target="_blank"
                        class="text-gray-600"
                      >
                        <span class="sr-only">LinkedIn</span>
                        <i class="text-sm fa-brands fa-linkedin" />
                      </a>
                    )}
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>
</Blank>
