---
import Blank from "../layouts/Blank.astro";
// import List from "../components/List.astro";
import { positions } from "../data/directus/positions.js";

const name = "Meet the Team";
const description =
  "Our people believe in social entrepreneurs and know how best to support them on their journeys";
const breadcrumbs = [
  {
    name: "Meet the Team",
    slug: "meet-the-team",
  },
];
---

<Blank name={name} description={description} breadcrumbs={breadcrumbs}>
  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">
          Leadership
        </h2>
        <p class="mt-6 text-lg leading-8 text-violet-300">
          Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae
          elementum enim vitae ullamcorper suspendisse.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter((position) => position.team.name === "Leadership")
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={position.person.image ? "" : "/img/profile.webp"}
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-200">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-violet-200">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm font-semibold leading-6 text-violet-300">
                      {position.role.name}
                    </p>
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">
          Trustees
        </h2>
        <p class="mt-6 text-lg leading-8 text-violet-300">
          Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae
          elementum enim vitae ullamcorper suspendisse.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter((position) => position.team.name === "Trustees")
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={position.person.image ? "" : "/img/profile.webp"}
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-200">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-violet-200">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm font-semibold leading-6 text-violet-300">
                      {position.role.name}
                    </p>
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">
          Social Entrepreneur Support
        </h2>
        <p class="mt-6 text-lg leading-8 text-violet-300">
          Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae
          elementum enim vitae ullamcorper suspendisse.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter(
              (position) => position.team.name === "Social Entrepreneur Support"
            )
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={position.person.image ? "" : "/img/profile.webp"}
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-200">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-violet-200">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm font-semibold leading-6 text-violet-300">
                      {position.role.name}
                    </p>
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">
          Delivery and Investment
        </h2>
        <p class="mt-6 text-lg leading-8 text-violet-300">
          Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae
          elementum enim vitae ullamcorper suspendisse.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter(
              (position) => position.team.name === "Delivery and Investment"
            )
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={position.person.image ? "" : "/img/profile.webp"}
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-200">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-violet-200">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm font-semibold leading-6 text-violet-300">
                      {position.role.name}
                    </p>
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">
          Impact and Influence
        </h2>
        <p class="mt-6 text-lg leading-8 text-violet-200">
          Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae
          elementum enim vitae ullamcorper suspendisse.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter((position) => position.team.name === "Impact and Influence")
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={position.person.image ? "" : "/img/profile.webp"}
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-200">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-violet-200">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm font-semibold leading-6 text-violet-300">
                      {position.role.name}
                    </p>
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>

  <div class="py-24 sm:py-32">
    <div
      class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3"
    >
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">
          Corporate Services
        </h2>
        <p class="mt-6 text-lg leading-8 text-violet-200">
          Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae
          elementum enim vitae ullamcorper suspendisse.
        </p>
      </div>

      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          positions
            .filter((position) => position.team.name === "Corporate Services")
            .map((position) => (
              <li>
                <div class="flex items-center gap-x-6">
                  <img
                    class="h-16 w-16 rounded-full"
                    src={position.person.image ? "" : "/img/profile.webp"}
                    alt=""
                  />
                  <div>
                    <div class="flex gap-2 items-center">
                      <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-200">
                        {position.person.name}
                      </h3>
                      <span class="text-xs text-violet-200">
                        {position.person.pronouns}
                      </span>
                    </div>
                    <p class="text-sm font-semibold leading-6 text-violet-300">
                      {position.role.name}
                    </p>
                  </div>
                </div>
              </li>
            ))
        }
      </ul>
    </div>
  </div>
</Blank>
