---
import Layout from "../layouts/Layout.astro";

import Tabs from "../components/Tabs.astro";
import Mention from "../components/Mention.astro";
import TypeCard from "../components/TypeCard.astro";
import Block from "../components/Block.astro";
import SupportCardGroup from "../components/SupportCardGroup.astro";

import users from "../data/users.json";
import funds from "../data/funds.json";
import supportGroups from "../data/support-groups.json";

import categories from "../data/support/categories.json";
import topics from "../data/support/topics.json";
import categoriesTopics from "../data/support/categoriesTopics.json";
import types from "../data/support/types.json";

import Hero from "../components/Hero.astro";

const name = "Support";
const description =
"We go beyond funding. Explore our library of topics delivered by our community of Social Entrepreneurs and Experts in the industry";
---

<Layout name="{ `${name}` }" description="{ `${description}` }">
    <div class="mx-auto max-w-7xl flex flex-col gap-20">
        <div class="flex flex-col gap-20 mx-4 lg:mx-0">
            <Hero name={name} description={description} features={[ { icon: "user", name: "Availble to Grantees for 12 months" },{ icon: "user", name: "Availble for Investees indefinitely" }, { icon: "earth-europe", name: "Across the United Kingdom" }, { icon: "certificate" , name: "Free forever" }, ]} />

            <Block name="Your induction" description="We will introduce to your support specific to your grant or investment. You will attend this with your peers, other fundee's who's got funding.">
                <div class="flex">
                <div>
                    <p>Grant funds</p>
                    <div class="flex gap-1">
                        { funds.map((fund) => fund.grants &&
                            <span class="inline-flex items-center rounded-full bg-pink-100 px-3 py-0.5 text-sm font-medium text-pink-800">
                                {fund.name}
                            </span>
                            )
                        }
                    </div>
                </div>

                <div>
                    <p>Investment funds</p>
                    <div>
                        { funds.map((fund) => fund.investments && 
                            <span class="inline-flex items-center rounded-full bg-pink-100 px-3 py-0.5 text-sm font-medium text-pink-800">
                                    {fund.name}
                                </span>
        
                                )
                            }
                    </div>
                </div>
            </div>
            </Block>

            <Block name="Your manager" description="You will be introduced to your manager, they will be your direct contact to UnLtd and are here to help you navigate your support and provide ">
                <Mention name="Investee Manager" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud." items={users} icon="headset" tag="For as long as you are an Investee" />
                <Mention name="Grantee Manager" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud." items={users} icon="headset" tag="12 months acccess" />
            </Block>

            <Block name="Your peers" description="We are run montly socials for Social Entrepreneurs working in specific sectors we feel need the most attendion. The monthly events are made up of speakers, ">

                <!-- <div>
                    { supportGroups.map((supportGroup) => { 
                        types.map((type) => supportGroup.type.id === type.id && (
                            <p>{ supportGroup.thing }</p>
                            // <SupportCardGroup support={supportGroup} type={ type }/>
                        ))
                    })}
                </div> -->

<div class="flex flex-col gap-3">
    {supportGroups.map((supportGroup) => {
        return (
          <Fragment>
            {types.map(
              (type) =>
                type.id === supportGroup.type.id && (
                    <SupportCardGroup support={supportGroup} type={ type }/>
                )
            )}
          </Fragment>
        );
    })}
</div>

        

                <!-- <div>
                    { supportGroups.map((supportGroup) => (
                        <div>
                            <p>{ supportGroup.thing }</p>
                        </div>
                    ))}
                </div> -->

            </Block>

            <div>

                <Block name="Your library" description="Something explaining how our support will involve interacting and learning from a bunch of people. By exploring our topics you will discoer Events and Experts to support you on your journey. Your manager will guide you and you will be on the same journey as your peers.">
                    <div class="mt-8 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-2">
                    <div class="col-span-1 flex justify-center py-8 px-8">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" alt="Workcation" />
                    </div>
                    <div class="col-span-1 flex justify-center py-8 px-8">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg" alt="Mirage" />
                    </div>
                    <div class="col-span-1 flex justify-center py-8 px-8">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg" alt="Tuple" />
                    </div>
                    <div class="col-span-1 flex justify-center py-8 px-8">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/laravel-logo-gray-400.svg" alt="Laravel" />
                    </div>
                    <div class="col-span-1 flex justify-center py-8 px-8">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg" alt="StaticKit" />
                    </div>
                    <div class="col-span-1 flex justify-center py-8 px-8">
                        <img class="max-h-12" src="https://tailwindui.com/img/logos/statamic-logo-gray-400.svg" alt="Statamic" />
                    </div>
                    </div>
                </Block>

                <Tabs parentItems={categories} childrenItems={topics} relationships={categoriesTopics} />

                <div
                    class=" flex flex-col text-gray-700 rounded-b-xl px-10 py-10 lg:px-20 lg:py-12 gap-24">
                    {
                        types.map((type) => (
                            <TypeCard type={type} />
                    ))
                    }
                </div>
            </div>

        </div>
    </div>
</Layout>