---
import Showcase from "../components/Banana.astro";

import Template from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Tabs from "../components/Tabs.astro";

import categories from "../data/support/categories.json";
import topics from "../data/support/topics.json";
import events from "../data/events.json";
import pathways from "../data/support/pathways.json";

import experts from "../data/experts/experts.json";

import funds from "../data/funds.json";

const name = "Support";
const description =
  "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia dolores corrupti labore tempora, rem quidem maximead asperiores eveniet maiores nobis assumenda facilis quisquam fugiat accusamus nulla similique tenetur hic?";
---

<Template name="{ `${name}` }" description="{ `${description}` }">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-5 p-10">
        <h1 class="text-8xl font-bold">{name}</h1>
        <p class="text-2xl">{description}</p>
      </div>

      <div class="flex">
        <div class="basis-3/6">
          <h2>Accessed through grants and Investment</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.anim id est laborum.
          </p>
        </div>
        <div class="basis-3/6">
          {
            funds.map((fund) => (
              <p class="bg-white text-gray-400 py-3 px-5 inline-block rounded">
                {fund.name}
              </p>
            ))
          }
        </div>
      </div>

      <div class="bg-white flex flex-col text-black p-10 rounded-xl">
        <p>Support Manager</p>
        <h2 class="text-2xl">Support Manager</h2>
        <p>
          A Support Manager will be with you throughout your 12 month journey
          with UnLtd.
        </p>
        <div class="flex">
          <div class="isolate flex -space-x-2 overflow-hidden">
            <img
              class="relative z-30 inline-block h-10 w-10 rounded-full ring-2 ring-white"
              src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="relative z-20 inline-block h-10 w-10 rounded-full ring-2 ring-white"
              src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="relative z-10 inline-block h-10 w-10 rounded-full ring-2 ring-white"
              src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="relative z-0 inline-block h-10 w-10 rounded-full ring-2 ring-white"
              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="bg-white flex flex-col text-black p-10 rounded-xl">
        <div class="border-b border-gray-200 pb-5 sm:pb-0">
          <h2 class="text-lg font-medium leading-6 text-gray-900">
            Explore our topics
          </h2>
          <p>Pick and mix from our topics to grow you and your venture.</p>
          <Tabs
            parentItems={categories}
            childrenItems={topics}
            pathways={pathways}
          >
            {
              categories.map((category) => (
                <div>
                  {topics.map((topic) => (
                    <div id={category.slug} class="tabcontent hidden">
                      <div>
                        <h3>{topic.name}</h3>
                        <p>{topic.description}</p>
                      </div>
                    </div>
                  ))}
                </div>
              ))
            }
          </Tabs>
        </div>
      </div>
    </div>
  </div>

  <!-- <Showcase name="Resources" subtitle="Documents, Videos, Audio, it all" bg="bg-blue-200" text="text-blue-600"
        px="px-3.0" icon="file"
        description="How we can support you etur In-person adipiscing elit, sed do eiusmod tempor Online ut labore et dolore magna aliqua. Ut enim ad minim Online veniam, quis nostrud exercitation ullamco In-person nisi ut aliquip ex ea commodo consequat.anim id est laborum.">
        {
      experts.map((expert) => (
        <div class="bg-white p-8 text-black rounded-b-xl">
          <h3>{expert.category_id} Experts</h3>
          <p>{expert.category_id} Experts</p>
          <div class="flex gap-2">
            {topics.map((topic) => (
              <div class="border inline-block p-3 rounded-full">
                <p class="text-sm">{topic.name}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
    </Showcase> -->

  <Showcase
    name="Events"
    subtitle="Jump on a call... or a bus"
    bg="bg-orange-200"
    text="text-orange-600"
    px="px-3.0"
    icon="calendar"
    description="How we can support you etur In-person adipiscing elit, sed do eiusmod tempor Online ut labore et dolore magna aliqua. Ut enim ad minim Online veniam, quis nostrud exercitation ullamco In-person nisi ut aliquip ex ea commodo consequat.anim id est laborum."
  >
    <div class="flex gap-2">
      {
        events.formats.map((format) => (
          <Badge bg="hover:bg-orange-100" text="text-orange-800">
            {format.name}
          </Badge>
        ))
      }
    </div>
    <div class="text-black">
      {events.formats.map((format, index) => <p>{format.description}</p>)}
    </div>
  </Showcase>

  <Showcase
    name="Experts"
    subtitle="Get paired with a pro"
    bg="bg-green-200"
    text="text-green-600"
    px="px-3.0"
    icon="bolt"
    description="An Expert is a employee of an organisations or a volunteer we have partnered with. Navigate our topics and see if an expert is available. If they are you will see summary of what expertise they can lend and what you could expect from being paired with them. One-off conversation or regular meetings."
  >

{
    categories.map((category) => (
      <div class="p-8 text-black rounded-xl basis-1/2 bg-grey-200">
        <h3 class="font-bold text-xl">{category.name} Experts</h3>
        <p>{category.description}</p>
        <div class="flex agap-2"></div>
        {pathways.map((pathway) => {
          if (category.id === pathway.category.id)
            return (
              <Fragment>
                {topics.map((topic) => (
                    topic.id === pathway.topic.id &&
                        <p class="bg-blue-200 m-2 inline py-2 px-4 rounded-full ">{topic.name}</p>
                    ))}
              </Fragment>
            );
        })}
      </div>
    ))
  }

    {
      categories.map((category) => {
        return <p class="text-black">{category.id}</p>;
        pathways.map((pathway) => {
          return <p class="text-black">{pathway.id}</p>;
          if (category.id === pathway.category.id) {
            return <p>{category.name}</p>;
            topics.map((topic) => {
              return <p>{topic.name}</p>;
            });
          }
        });
      })
    }
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white">
      <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <p class="text-center text-lg font-semibold text-gray-600">
          Our Experts are made up volunteers, independent and from organisations
        </p>
        <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
          <div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
            <img
              class="max-h-12"
              src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg"
              alt="Workcation"
            />
          </div>
          <div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
            <img
              class="max-h-12"
              src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg"
              alt="Mirage"
            />
          </div>
          <div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
            <img
              class="max-h-12"
              src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg"
              alt="Tuple"
            />
          </div>
          <div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
            <img
              class="max-h-12"
              src="https://tailwindui.com/img/logos/laravel-logo-gray-400.svg"
              alt="Laravel"
            />
          </div>
          <div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
            <img
              class="max-h-12"
              src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg"
              alt="StaticKit"
            />
          </div>
          <div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
            <img
              class="max-h-12"
              src="https://tailwindui.com/img/logos/statamic-logo-gray-400.svg"
              alt="Statamic"
            />
          </div>
        </div>
      </div>
    </div>
  </Showcase>

  <div class="fixed inset-x-0 bottom-0 pb-2 sm:pb-5">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="rounded-lg bg-indigo-600 p-2 shadow-lg sm:p-3">
        <div class="flex flex-wrap items-center justify-between">
          <div class="flex w-0 flex-1 items-center">
            <span class="flex rounded-lg bg-indigo-800 p-2">
              <!-- Heroicon name: outline/megaphone -->
              <svg
                class="h-6 w-6 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46"
                >
                </path>
              </svg>
            </span>
            <p class="ml-3 truncate font-medium text-white">
              <span class="md:hidden">We announced a new product!</span>
              <span class="hidden md:inline"
                >Big news! We're excited to announce a brand new product.</span
              >
            </p>
          </div>
          <div
            class="order-3 mt-2 w-full flex-shrink-0 sm:order-2 sm:mt-0 sm:w-auto"
          >
            <a
              href="#"
              class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-2 text-sm font-medium text-indigo-600 shadow-sm hover:bg-indigo-50"
              >Learn more</a
            >
          </div>
          <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-2">
            <button
              type="button"
              class="-mr-1 flex rounded-md p-2 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-white"
            >
              <span class="sr-only">Dismiss</span>
              <svg
                class="h-6 w-6 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Template>
