---
import Showcase from "../components/Showcase.astro";

import Template from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Tabs from "../components/Tabs.astro";
import Tabs2 from "../components/Tabs2.astro";

import organisations from "../data/organisations.json";
import categories from "../data/support/categories.json";
import topics from "../data/support/topics.json";
import events from "../data/events.json";
import pathways from "../data/support/pathways.json";
import quotes from "../data/quotes.json";

import experts from "../data/experts/experts.json";

import funds from "../data/funds.json";

const name = "Support";
const description =
  "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia dolores corrupti labore tempora, rem quidem maximead asperiores eveniet maiores nobis assumenda facilis quisquam fugiat accusamus nulla similique tenetur hic?";
---

<Template name="{ `${name}` }" description="{ `${description}` }">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-5 p-10">
        <h1 class="text-8xl font-bold">{name}</h1>
        <p class="text-2xl">{description}</p>
      </div>

      <div class="flex">
        <div class="basis-3/6">
          <h2>Accessed through grants and Investment</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.anim id est laborum.
          </p>
        </div>
        <div class="basis-3/6">
          {
            funds.map((fund) => (
              <p class="bg-white text-gray-400 py-3 px-5 inline-block rounded">
                {fund.name}
              </p>
            ))
          }
        </div>
      </div>

      <div class="bg-white flex flex-col text-black p-10 rounded-xl">
        <p>Support Manager</p>
        <h2 class="text-2xl">Support Manager</h2>
        <p>
          A Support Manager will be with you throughout your 12 month journey
          with UnLtd.
        </p>
        <div class="flex">
          <div class="isolate flex -space-x-2 overflow-hidden">
            <img
              class="relative z-30 inline-block h-10 w-10 rounded-full ring-2 ring-white"
              src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="relative z-20 inline-block h-10 w-10 rounded-full ring-2 ring-white"
              src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="relative z-10 inline-block h-10 w-10 rounded-full ring-2 ring-white"
              src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="relative z-0 inline-block h-10 w-10 rounded-full ring-2 ring-white"
              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="bg-white flex flex-col text-black p-10 rounded-xl">
        <div class="border-b border-gray-200 pb-5 sm:pb-0">
          <h2 class="text-lg font-medium leading-6 text-gray-900">
            Explore our topics
          </h2>
          <p>Pick and mix from our topics to grow you and your venture.</p>
          <Tabs
            parentItems={categories}
            childrenItems={topics}
            pathways={pathways}
          >
          </Tabs>
        </div>
      </div>
    </div>
  </div>

  <!-- <Showcase name="Resources" subtitle="Documents, Videos, Audio, it all" bg="bg-blue-200" text="text-blue-600"
        px="px-3.0" icon="file"
        description="How we can support you etur In-person adipiscing elit, sed do eiusmod tempor Online ut labore et dolore magna aliqua. Ut enim ad minim Online veniam, quis nostrud exercitation ullamco In-person nisi ut aliquip ex ea commodo consequat.anim id est laborum.">
        {
      experts.map((expert) => (
        <div class="bg-white p-8 text-black rounded-b-xl">
          <h3>{expert.category_id} Experts</h3>
          <p>{expert.category_id} Experts</p>
          <div class="flex gap-2">
            {topics.map((topic) => (
              <div class="border inline-block p-3 rounded-full">
                <p class="text-sm">{topic.name}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
    </Showcase> -->

  <Showcase
    name="Events"
    subtitle="Jump on a call... or a bus"
    bg="bg-orange-200"
    text="text-orange-600"
    px="px-3.0"
    icon="calendar"
    description="How we can support you etur In-person adipiscing elit, sed do eiusmod tempor Online ut labore et dolore magna aliqua. Ut enim ad minim Online veniam, quis nostrud exercitation ullamco In-person nisi ut aliquip ex ea commodo consequat.anim id est laborum."
  >
    <div class="flex gap-2 flex-wrap">
      {
        events.formats.map((format) => (
          <Badge bg="hover:bg-orange-100" text="text-orange-800">
            {format.name}
          </Badge>
        ))
      }
    </div>
    <div class="text-black">
      {events.formats.map((format, index) => <p>{format.description}</p>)}
    </div>

    <div class="flex gap-3 flex-wrap">
      {
        quotes.map((quote) => (
          <div class="text-black bg-gray-00 p-6 rounded-md flex flex-col gap-4">
            
            <i class="text-2xl fa-solid fa-quote-left"></i>
            <p class="">{ quote.description }</p>
            <div class="flex gap-2 items-center">
              <img src={ quote.img } alt="" class="w-10 h-10 rounded-full">
              <div class="flex flex-col">
                <span class=" text-xs p-1 inline">{ quote.type }</span>
                <p class="font-bold">{ quote.name }</p>
              <p class="text-sm">{ quote.organisation }</p>
              </div>
              
            </div>
          </div>
        ))
      }
    </div>
  </Showcase>

  <Showcase
    name="Experts"
    subtitle="Get paired with a pro"
    bg="bg-green-200"
    text="text-green-700"
    px="px-3.0"
    icon="bolt"
    description="An Expert is a employee of an organisations or a volunteer we have partnered with. Navigate our topics and see if an expert is available. If they are you will see summary of what expertise they can lend and what you could expect from being paired with them. One-off conversation or regular meetings."
  >
    <div class="flex flex-col gap-3">
      {
        categories.map((category) => (
          <div class="p-8 text-black rounded-xl basis-1/2 bg-gray-100 gap-4 flex flex-col">
            <div class="flex flex-col gap-1">
              <h3 class="font-bold text-xl">{category.name} Experts</h3>
              <p>{category.description}</p>
            </div>
            <div class="flex gap-2 flex-wrap">
              {pathways.map((pathway) => {
                if (category.id === pathway.category.id)
                  return (
                    <Fragment>
                      {topics.map(
                        (topic) =>
                          topic.id === pathway.topic.id && (
                            <p class="inline py-2 px-4 rounded-full text-xs font-bold text-green-700 bg-green-200">
                              {topic.name}
                            </p>
                          )
                      )}
                    </Fragment>
                  );
              })}
            </div>
          </div>  
        ))
      }

    </div>

      <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-10 lg:px-8">
        <p class="text-center text-lg font-semibold text-gray-600">
          Our Experts are made up volunteers, independent and from organisations
        </p>
        <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
          {
            organisations.map((organisation) => (
                (organisation.public && 
              <div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
                <img
                  class="max-h-12"
                  src={ organisation.img }
                  alt={ organisation.name }
                />
              </div>)
            ))
          }
        </div>
      </div>

      <div class="flex gap-3 flex-wrap">
        {
          quotes.map((quote) => (
            <div class="text-black bg-gray-00 p-6 rounded-md flex flex-col gap-4">
              <i class="text-2xl fa-solid fa-quote-left"></i>
              <p class="">{ quote.description }</p>
              <div class="flex gap-2 items-center">
                <img src={ quote.img } alt="" class="w-10 h-10 rounded-full">
                <div class="flex flex-col">
                  <p class="font-bold">{ quote.name }</p>
                <p>{ quote.organisation }</p>
                </div>
                
              </div>
            </div>
          ))
        }
      </div>

  </Showcase>
</Template>