---
import Template from "@layouts/Template.astro";
import Container from "@components/Container.astro";
import Default from "@components/heroes/Default.astro";
import Content from "@components/markdoc/Content.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import TableOfContents from "@components/TableOfContents.astro";

import slugify from "slugify";
import { allResources } from "@data/resources.js";

import { prepareMarkdown } from "@data/functions/prepareMarkdown.ts"; // returns a string of cleaned up markdown, still as a string, which has h1's removed, adds anchor links to every h2 and h3 and ensures their anchor id is unquie
import { prepareToc } from "@data/functions/prepareToc.ts"; // returns an array of objects which detial the table of content (using h2's and h3's) of the body

export async function getStaticPaths() {
  return allResources.map((resource) => {
    const slug = slugify(resource.name, {
      lower: true,
      strict: true,
      locale: "en",
      trim: true,
    });

    const body = prepareMarkdown(resource.body);
    const toc = prepareToc(body); // Retrieve all h2's and h3's

    return {
      params: {
        resource: slug,
      },
      props: {
        name: resource.name,
        slug: slug,
        description: resource.description,
        breadcrumbs: [
          {
            name: "Resources",
            path: "/resources",
          },
          {
            name: resource.name,
            path: `/resources/${slug}`,
          },
        ],
        body,
        toc, // Pass toc to props
      },
    };
  });
}

const { name, description, breadcrumbs, body, toc } = Astro.props;
---

<Template name={name} description={description}>
  <Container>
    <Breadcrumbs breadcrumbs={breadcrumbs} />
    <Default name={name} description={description} />
    <div class="grid grid-cols-3 gap-2">
        <TableOfContents headings={toc} />
      <div class="col-span-2">
        <Content body={body} />
      </div>
    </div>
  </Container>
</Template>
