---
import { fundraisers } from "@data/fundraisers.js";
import Template from "@layouts/Template.astro";
import Hero from "@components/Hero.astro";
import Container from "@components/Container.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";

import { marked } from "marked";
marked.use({ mangle: false, headerIds: false });

import moment from "moment";

export async function getStaticPaths() {
  return fundraisers.map((fundraiser) => {
    let breadcrumbs = [
      {
        name: "Fundraising",
        slug: "/fundraising",
      },
      {
        name: fundraiser.name,
        slug: `/fundraising/${fundraiser.slug}`,
      },
    ];

    fundraiser.breadcrumbs = breadcrumbs;

    let results = {
      params: {
        fundraising: fundraiser.slug,
      },
      props: {
        fundraiser: fundraiser,
      },
    };

    return results;
  });
}

let todayDate = moment();

const { fundraiser } = Astro.props;
---

<Template
  name={fundraiser.name}
  description={fundraiser.description}
  breadcrumbs={fundraiser.breadcrumbs}
>
  <Container>
    <div
      class="relative isolate overflow-hidden bg-violet-900 py-24 sm:py-32 rounded-lg"
    >
      <img
        src={`https://unltd.directus.app/assets/${fundraiser.image}`}
        alt=""
        class="absolute inset-0 -z-10 h-full w-full object-cover opacity-30"
      />
      <div
        class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
        aria-hidden="true"
      >
        <div
          class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-violet-950-600 to-amber-600 opacity-20"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
      </div>
      <div
        class="absolute -top-52 left-1/2 -z-10 -tranviolet-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:tranviolet-x-0 sm:transform-gpu"
        aria-hidden="true"
      >
        <div
          class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
      </div>
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
            {fundraiser.name}
          </h2>
          <p class="mt-6 text-lg leading-8 text-violet-100">
            {fundraiser.subheading}
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-20 pt-10">
      <div class="flex flex-1 flex-col gap-10">
        <div
          class="flex flex-col lg:flex-row items-start lg:items-center lg:justify-between gap-2"
        >
          {
            () => {
              if (
                !todayDate.isAfter(fundraiser.start) &&
                !todayDate.isAfter(fundraiser.finish)
              ) {
                return (
                  <span class="inline-flex items-center rounded-full bg-amber-50 px-2 py-1 text-xs font-medium text-amber-700 ring-1 ring-inset ring-amber-600/20">
                    Coming soon
                  </span>
                );
              } else if (!todayDate.isAfter(fundraiser.finish)) {
                return (
                  <span class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-600 ring-1 ring-inset ring-green-500/10">
                    Active
                  </span>
                );
              } else {
                return (
                  <span class="inline-flex items-center rounded-full bg-violet-50 px-2 py-1 text-xs font-medium text-violet-600 ring-1 ring-inset ring-violet-500/10">
                    Completed
                  </span>
                );
              }
            }
          }
          <div>
            <p class="text-xs text-violet-100">
              {
                !todayDate.isAfter(fundraiser.finish) ? (
                  <span>Closes</span>
                ) : (
                  <span>Closed</span>
                )
              }
              {moment(fundraiser.finish).format("dddd hh:mma, MMMM Do YYYY")}
            </p>
          </div>
        </div>

        <div>
          {
            (
              <div class="flex justify-between bg-violet-100 rounded-xl items-center border border-violet-200">
                <div class="flex flex-col pl-5 p-2">
                  <span class="text-sm text-violet-500">Goal</span>
                  <span class="text-4xl text-violet-700">
                    {new Intl.NumberFormat("en-GB", {
                      maximumSignificantDigits: 6,
                      style: "currency",
                      currency: "GBP",
                    }).format(fundraiser.amount)}
                  </span>
                </div>
                <a
                  href={`https://${fundraiser.link}`}
                  target="_blank"
                  class="p-7 flex gap-2 items-center rounded-r-xl bg-amber-600 text-sm font-semibold text-white shadow-sm 0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600"
                >
                  <>
                    <span>Donate now</span>
                    <i class="fa-solid fa-arrow-right" />
                  </>
                </a>
              </div>
            )
          }
        </div>

        <div class="flex flex-col">
          {
            todayDate.isAfter(fundraiser.start) ? (
              <span class="text-violet-100 text-xs">Started</span>
            ) : (
              <span class="text-violet-100 text-xs">Starting</span>
            )
          }
          <span class="text-sm text-violet-100"
            >{
              moment(fundraiser.start).format("dddd hh:mma, MMMM Do YYYY")
            }</span
          >
        </div>

        {
          fundraiser.website && (
            <div class="flex flex-col">
              <span class="text-violet-200 text-xs">Fundraiser website</span>
              <a
                href={`${
                  fundraiser.website.startsWith("https://") ? "" : "https://"
                }${fundraiser.website}`}
                target="_blank"
                class="text-sm text-violet-100 hover:underline"
              >
                {fundraiser.website}
              </a>
            </div>
          )
        }

        {
          fundraiser.link && (
            <div class="flex flex-col">
              <span class="text-violet-200 text-xs">Donations website</span>
              <a
                href={`${
                  fundraiser.link.startsWith("https://") ? "" : "https://"
                }${fundraiser.link}`}
                target="_blank"
                class="text-sm text-violet-100 hover:underline"
              >
                {fundraiser.link}
              </a>
            </div>
          )
        }

        <div class="flex flex-col gap-2">
          <span class="text-violet-100 text-xs"> Managed by</span>
          <div class="flex items-center">
            <div>
              <img
                class="inline-block h-9 w-9 rounded-full"
                src={`https://unltd.directus.app/assets/${fundraiser.manager.person.image}`}
                alt=""
              />
            </div>
            <div class="ml-3">
              <p
                class="text-sm font-medium text-violet-100 group-hover:text-violet-900"
              >
                {fundraiser.manager.person.name}
              </p>
              <p
                class="text-xs font-medium text-violet-100 group-hover:text-violet-700"
              >
                {fundraiser.manager.role.name}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-5 flex-1 flex-col">
        <div
          class="text-violet-100 prose"
          set:html={marked.parse(`${fundraiser.description}`)}
        />
      </div>
    </div>
  </Container>
</Template>
