---
const { name, image, description, published, author, tag, status } =
    Astro.props.frontmatter || Astro.props;

const isScheduled =
    status === "published" && new Date(published).getTime() > Date.now();
---

<section
    class="flex flex-col md:flex-row gap-10 items-center my-10 rounded-2xl bg-linear-to-r from-violet-950 to-violet-900 p-4"
>
    <div class="basis-1/2">
        {
            image.url !== null && (
                <figure class="flex flex-col gap-2">
                    <img
                        src={`https://unltd.directus.app/assets/${image.url}`}
                        alt={image.alt ? image.alt : ""}
                        class=" rounded-2xl"
                    />
                    {image.caption && (
                        <figcaption class="text-xs text-violet-300">
                            {image.caption}
                        </figcaption>
                    )}
                </figure>
            )
        }
    </div>

    <div class="flex flex-col gap-4 basis-1/2">
        <div class="flex items-center">
            <span
                class="rounded-full text-xs bg-violet-100 dark:bg-violet-800 px-3 py-1.5 font-medium text-violet-600 dark:text-violet-300 border border-violet-600"
            >
                {tag}
            </span>
            {
                status === "draft" && (
                    <span class="ml-2 relative z-10 rounded-full bg-red-100 dark:bg-red-900 px-3 py-1.5 font-medium text-red-600 dark:text-red-300">
                        DRAFT
                    </span>
                )
            }
            {
                isScheduled && (
                    <span class="ml-2 relative z-10 rounded-full bg-blue-100 dark:bg-blue-900 px-3 py-1.5 font-medium text-blue-600 dark:text-blue-300">
                        SCHEDULED
                    </span>
                )
            }
        </div>
        <div class="group">
            <h3
                class="text-4xl font-semibold text-violet-700 dark:text-violet-100"
            >
                <span class=""></span>
                {name}
            </h3>
            <p class="text-2xl leading-8 text-violet-600 dark:text-violet-300">
                {description}
            </p>
        </div>
        <div>
            <p class="text-xs text-violet-600 dark:text-violet-400">
                By <span class="text-violet-700 dark:text-violet-300"
                    >{author.name}, {author.position}</span
                >
            </p>
            <time
                datetime={published}
                class="text-violet-600 dark:text-violet-400 text-xs"
            >
                Published <span class="text-violet-700 dark:text-violet-300"
                    >{
                        new Date(published).toLocaleDateString("en-GB", {
                            weekday: "short",
                            hour: "2-digit",
                            minute: "2-digit",
                            day: "2-digit",
                            month: "short",
                            year: "numeric",
                        })
                    }</span
                >
            </time>
        </div>
    </div>
</section>

<div class="relative">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-violet-900"></div>
    </div>
</div>
