---
const { navItem } = Astro.props;
import Item from "./Item.astro";
---

<button
  id={`dropdownButton-${navItem.slug}`}
  class="dropdownButton p-3 text-sm font-medium bg-gray-200 text-gray-800 hover:bg-gray-300 hover:text-gray-900 focus:font-bold focus:bg-gray-300 focus:text-gray-900"
  onclick={`desktop("${navItem.slug}")`}
  aria-expanded="false"
>
  {navItem.name} &#5167;
</button>

<ul
  id={`dropdownContent-${navItem.slug}`}
  class="flex flex-col gap-4 p-3 bg-gray-300 border border-sky-500 dropdownContent absolute hidden"
>
  {
    navItem.children.map((navItemChild) => (
      <li>
        <Item item={navItemChild}></Item>
      </li>
    ))
  }
</ul>
