---
const { name, href, target, icon, description } = Astro.props;
---

<div>
  <a
    href={href}
    target={target}
    class="inline-flex flex-col gap-1 rounded-md border border-white border-opacity-30 px-4 py-2 shadow-sm hover:bg-orange-50 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2 transition group"
  >
    <div class="flex flex-row gap-3 items-center">
      {
        icon.position == 0 && (
          <i
            class={`text-violet-500 text-xs group-hover:text-violet-500 fa-solid fa-${icon.name}`}
          />
        )
      }
      <div class="flex flex-col">
        <span
          class="text-violet-60 font-medium text-xs group-hover:text-violet-800"
          >{name}</span
        >

        {
          description && (
            <span class="text-violet-500 group-hover:text-violet-600 text-xs">
              {description}
            </span>
          )
        }
      </div>
      {
        icon.position == 1 && (
          <i
            class={`text-xs group-hover:text-violet-500 fa-solid fa-${icon.name}`}
          />
        )
      }
    </div>
  </a>
</div>
