---
import nav from "../data/json/nav-new.json";
import Logo from "./WhiteLogo.astro";
---

<footer
  class="bg-gray-600 print:hidden flex items-center"
  aria-labelledby="footer-heading"
>
  <div
    class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 flex flex-col lg:flex-row lg:justify-between gap-10"
  >
    <div class="flex flex-col gap-10 items-start">
      <div class="flex flex-col lg:flex-col gap-5 lg:gap-10">
        <div class="flex flex-col items-start">
          <Logo color="white" />

          <ul role="list" class="mt-4 flex flex-row gap-5">
            {
              nav.footer.socials.map((navItem) => (
                <li>
                  {navItem.link && navItem.icon && (
                    <a
                      href={`${navItem.link}`}
                      target="_blank"
                      id={navItem.name}
                      class="text-base hover:text-slate-300 text-white"
                    >
                      <i class={`fa-brands fa-${navItem.icon}`} />
                    </a>
                  )}
                </li>
              ))
            }
          </ul>
        </div>
        <div class="flex">
          <div class="flex flex-col sm:flex-row gap-3 items">
            <div>
              <div class="flex flex-col gap-3">
                <address class="text-sm text-white">
                  {nav.footer.address.address1}<br />{
                    nav.footer.address.address2
                  }<br />{nav.footer.address.address3}
                </address>
                <a
                  class="text-sm text-white hover:underline"
                  href=`tel:${nav.footer.address.phone}`
                  >{nav.footer.address.phone}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-4 lg:flex-row lg:gap-20">
        {
          nav.footer.numbers.map((navItem) => (
            <div>
              <p class="text-gray-400 text-xs">{navItem.name}</p>
              <a
                class="text-sm text-white hover:underline"
                href={navItem.link}
                target="_blank"
              >
                {navItem.number}
              </a>
            </div>
          ))
        }
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-20">
      <div>
        <h3
          class="text-sm font-semibold tracking-wider uppercase text-gray-400"
        >
          Legal
        </h3>
        <ul role="list" class="mt-2 flex flex-col gap-3">
          {
            nav.footer.legal.map((navItem) => (
              <li>
                <a
                  href={
                    navItem.slug && !navItem.link
                      ? `/${navItem.slug}`
                      : `${navItem.link}`
                  }
                  target={!navItem.slug && navItem.link && "_blank"}
                  class="flex flex-row items-center gap-2 text-sm text-white hover:text-gray-300"
                >
                  <span>{navItem.name}</span>
                  {!navItem.slug && navItem.link && (
                    <i class="text-xs fa-solid fa-arrow-up-right-from-square" />
                  )}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3
          class="text-sm font-semibold tracking-wider uppercase text-gray-400"
        >
          Other
        </h3>
        <ul role="list" class="mt-2 flex flex-col gap-3">
          {
            nav.footer.other.map((navItem) => (
              <li>
                <a
                  href={
                    navItem.slug && !navItem.link
                      ? `/${navItem.slug}`
                      : `${navItem.link}`
                  }
                  target={!navItem.slug && navItem.link && "_blank"}
                  class="flex flex-row items-center gap-2 text-sm text-white hover:text-grey-300"
                >
                  <span>{navItem.name}</span>
                  {!navItem.slug && navItem.link && (
                    <i class="text-xs fa-solid fa-arrow-up-right-from-square" />
                  )}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</footer>
