---
import nav from "../data/json/nav.json";
import Logo from "./WhiteLogo.astro";
---

<footer
  class="bg-gray-600 print:hidden flex items-center"
  aria-labelledby="footer-heading"
>
  <div
    class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 flex flex-col lg:flex-row lg:justify-between gap-10"
  >
    <div class="flex flex-col gap-10 items-start">
      <div class="flex flex-col lg:flex-row gap-5 lg:gap-20 items-center">
        <div class="flex flex-col items-start">
          <Logo color="white" />

          <ul role="list" class="mt-4 flex flex-row gap-5">
            {
              nav.socials.map((navItem) => (
                <li>
                  {navItem.link && navItem.icon && (
                    <a
                      href={`${navItem.link}`}
                      target="_blank"
                      class="text-base hover:text-slate-300 text-white"
                    >
                      <i class={`fa-brands fa-${navItem.icon}`} />
                    </a>
                  )}
                </li>
              ))
            }
          </ul>
        </div>
        <div class="">
          <div class="flex flex-col sm:flex-row gap-3 items">
            <div>
              <p class="text-gray-400 text-xs">London Office</p>
              <div class="flex flex-col gap-3">
                <a
                  class="text-sm text-white hover:underline"
                  href="tel:02075661100"
                  >020 7566 1100
                </a>
                <address class="text-sm text-white">
                  123 Whitecross Street,<br />Islington, London<br />EC1Y 8JJ
                </address>
              </div>
            </div>

            <div>
              <p class="text-gray-400 text-xs">Birmingham Office</p>
              <a
                class="text-sm text-white hover:underline"
                href="tel:01217664570"
                >0121 766 4570
              </a>
            </div>

            <div>
              <p class="text-gray-400 text-xs">Bradford Office</p>
              <a
                class="text-sm text-white hover:underline"
                href="tel:01274750630"
                >01274 750 630
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-4 lg:flex-row lg:gap-20">
        <div>
          <p class="text-gray-400 text-xs">
            Charity Commission for England and Wales
          </p>
          <a
            class="text-sm text-white hover:underline"
            href="https://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/SearchResultHandler.aspx?RegisteredCharityNumber=1090393"
            target="_blank"
            >1090393
          </a>
        </div>

        <div>
          <p class="text-gray-400 text-xs">Scottish Charity Regulator</p>
          <a
            class="text-sm text-white hover:underline"
            href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC032445"
            target="_blank"
            >SC032445
          </a>
        </div>

        <div>
          <p class="text-gray-400 text-xs">Companies House</p>
          <a
            class="text-sm text-white hover:underline"
            href="https://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/SearchResultHandler.aspx?RegisteredCharityNumber=1090393"
            target="_blank"
            >1090393
          </a>
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-20">
      <div>
        <h3
          class="text-sm font-semibold tracking-wider uppercase text-gray-400"
        >
          Legal
        </h3>
        <ul role="list" class="mt-2 flex flex-col gap-2">
          {
            nav.footer.map((navItem) => (
              <li>
                <a
                  href={`/${navItem.slug}`}
                  class="text-sm hover:underline text-white"
                >
                  {navItem.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3
          class="text-sm font-semibold tracking-wider uppercase text-gray-400"
        >
          Other
        </h3>
        <ul role="list" class="mt-2 flex flex-col gap-2">
          {
            nav.other.map((navItem) => (
              <li>
                {navItem.slug && (
                  <a
                    href={`/${navItem.slug}`}
                    class="text-sm hover:underline text-white"
                  >
                    {navItem.name}
                  </a>
                )}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</footer>
