---
const { endpoint, name, description, email, icon, fields } = Astro.props;

import Input from "@components/newfields/Input.astro";
import Textarea from "@components/newfields/Textarea.astro";
import Select from "@components/newfields/Select.astro";

const componentMap = {
  Input: Input,
  Textarea: Textarea,
  Select: Select,
  // Add other component mappings as needed
};
---

<div class="relative isolate">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="relative px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 lg:py-48">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <div
          class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden bg-violet-50 dark:bg-violet-950 lg:w-1/2"
        >
        </div>
        <div
          class="flex h-10 w-10 shrink-0 items-center justify-center rounded-lg outline outline-offset-2 outline-violet-300 dark:outline-violet-700"
        >
          <i class={`text-violet-800 dark:text-violet-200 fa-solid ${icon}`}
          ></i>
        </div>

        <h2
          class="text-3xl font-bold tracking-tight text-violet-900 dark:text-violet-200 mt-4"
        >
          {name}
        </h2>
        <p class="mt-6 text-lg leading-8 text-violet-600 dark:text-violet-400">
          {description}
        </p>

        <div class="flex items-center gap-3 mt-6">
          <i class="text-violet-600 dark:text-violet-400 fa-regular fa-envelope"
          ></i>
          <a
            class="text-violet-700 hover:text-violet-800 dark:text-violet-300 hover:dark:text-violet-200 text-lg leading-8 font-bold underline underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
            href={`mailto:${email}`}>{email}</a
          >
        </div>
      </div>
    </div>
    <form
      action={endpoint}
      name={name}
      method="POST"
      class="px-6 pb-24 pt-20 sm:pb-32 lg:px-8 lg:py-48"
      data-netlify="true"
    >
      <div
        class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg bg-white dark:bg-violet-900 p-10 rounded-xl shadow"
      >
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
          {
            fields.map((field) => {
              const Component = componentMap[field.component];
              if (!Component) {
                return null; // Or handle unknown components as you see fit
              }
              return (
                <Component
                  name={field.name}
                  type={field.type}
                  rows={field.rows}
                  required={field.required}
                  options={field.options}
                />
              );
            })
          }
        </div>
        <div class="mt-8 flex justify-end">
          <div class="cf-turnstile" data-sitekey="0x4AAAAAAA7WX5YoqLQOPiIW">
          </div>
          <button
            type="submit"
            class="rounded-md bg-amber-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600"
            >Send message</button
          >
        </div>
      </div>
    </form>
  </div>
</div>
