---
const {
  slug,
  name,
  description,
  grant_title,
  grant_amount,
  grant_description,
  url = false,
} = Astro.props;

let Element = "div";

if (url) {
  Element = "a";
}
---

<Element
  href={Element == "a" && `/awards/application-preview/${slug}`}
  class={`border-b border-gray-200 bg-violet-50 px-4 py-5 sm:px-6 rounded-sm ${
    Element == "a" &&
    "hover:shadow-xl hover:scale-105 hover:bg-white hover:border-opacity-50 hover:bg-opacity-5"
  }`}
>
  <div class="flex flex-col gap-7 justify-between">
    <div class="flex gap-5 flex-col justify-between">
      <div class="h-26">
        <h2 class="text-lg flex flex-col gap-3 mt-2">
          {name}
        </h2>
        <p class="text-sm flex flex-col gap-3 mt-2">
          {description}
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <p class="text-sm tracking-tight font-bold">
          {grant_title} Award
        </p>
        <div class="flex flex-col gap-1">
          <p class="text-xs uppercase tracking-tight">Up to</p>
          <p class="text-3xl font-bold">
            {
              new Intl.NumberFormat("en-GB", {
                maximumSignificantDigits: 3,
                style: "currency",
                currency: "GBP",
              }).format(grant_amount)
            }
          </p>
          <p class="text-sm tracking-tight">
            {grant_description}
          </p>
        </div>
      </div>
    </div>
  </div>
</Element>
