---
import Icon from "@components/Icon.astro";
const { application, url = false } = Astro.props;
import { marked } from "marked";
marked.use({ mangle: false, headerIds: false });

let Element = "div";

if (url) {
  Element = "a";
}
---

<Element
  href={Element == "a" && `/awards/application-preview/${application.slug}`}
  class={`flex flex-col gap-1 justify-between rounded-md  transition border-white border border-opacity-20 shadow-md py-7 px-7 col-span-1 ${
    Element == "a" &&
    "hover:shadow-xl hover:scale-105 hover:bg-white hover:border-opacity-50 hover:bg-opacity-5"
  }`}
>
  <div class="flex flex-col gap-7 justify-between">
    <div class="flex gap-5 flex-col justify-between">
      <div class="h-24">
        <h2 class="text-lg flex flex-col gap-3 mt-2">
          {application.name}
        </h2>
        <p class="text-sm flex flex-col gap-3 mt-2">
          {application.description}
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <p class="text-sm tracking-tight font-bold">
          {application.grant_title} Award
        </p>
        <div class="flex flex-col gap-1">
          <p class="text-xs uppercase tracking-tight">Up to</p>
          <p class="text-3xl font-bold">
            {
              new Intl.NumberFormat("en-GB", {
                maximumSignificantDigits: 3,
                style: "currency",
                currency: "GBP",
              }).format(application.grant_amount)
            }
          </p>
          <p class="text-sm tracking-tight">
            {application.grant_description}
          </p>
        </div>
      </div>
      {
        application.disclaimer && (
          <div class="rounded-md border bg-amber-100 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <Icon
                  name="triangle-exclamation"
                  style="solid"
                  class="text-amber-700"
                />
              </div>
              <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-amber-700">{application.disclaimer}</p>
              </div>
            </div>
          </div>
        )
      }
    </div>
  </div>
</Element>
