---
const { application, url = false } = Astro.props;
import { marked } from "marked";
marked.use({ mangle: false, headerIds: false });
application.body = marked.parse(application.body);
application.grant_description = marked.parse(application.grant_description);

let Element = "div";

if (url) {
  Element = "a";
}
---

<Element
  href={Element == "a" &&
    `/grants-&-support/application-preview/${application.slug}`}
  class={`flex flex-col gap-1 justify-between rounded-md  ${
    Element == "a" &&
    "flex flex-col gap-1 transition border-white border border-opacity-20 shadow-md hover:shadow-xl hover:scale-105 hover:bg-white hover:border-opacity-50 hover:bg-opacity-5 py-7 px-7 col-span-1"
  }`}
>
  <div class="flex flex-col gap-7">
    <!-- <div class="text-white flex flex-row items-center gap-3">
        <img
          class="inline-block h-10 w-10 rounded-md"
          src="/awards.webp"
          alt="Awards"
        />
        <div class="flex flex-col">
          <p class="text-xs text-amber-300">Awards</p>
          <p class="text-sm">{application.awards}</p>
        </div>
      </div> -->
    <div class="flex gap-2 f flex-col">
      <div
        class="text-sm text-white flex flex-col gap-3 mt-2"
        set:html={application.body}
      />
      <p class="text-white tracking-tight">
        {application.awards} Award
      </p>
      <div class="flex flex-row items-center gap-2">
        <p class="text-xs uppercase text-amber-400 tracking-tight">Up to</p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-amber-100 text-3xl font-bold">
          {
            new Intl.NumberFormat("en-GB", {
              maximumSignificantDigits: 3,
              style: "currency",
              currency: "GBP",
            }).format(application.grant_amount)
          }
        </p>
        <div
          class="text-sm text-white flex flex-col gap-3 mt-2"
          set:html={application.grant_description}
        />
        <!-- <div class="flex flex-col gap-1">
            <div class="flex flex-row gap-2 items-center">
              {
                application.social_venture_costs && (
                  <>
                    <i class="text-xs opacity-50 h-4 w-4 flex justify-center rounded-full items-center bg-amber-200 fa-solid fa-check" />
                    <p class="text-sm text-amber-200">
                      For social venture costs
                    </p>
                  </>
                )
              }
            </div>
            <div class="flex flex-row gap-2 items-center">
              {
                application.social_entrepreneur_salary && (
                  <>
                    <i class="text-xs opacity-50 h-4 w-4 flex justify-center rounded-full items-center bg-amber-200 fa-solid fa-check" />
                    <p class="text-sm text-amber-200">
                      For social entrepreneur salary
                    </p>
                  </>
                )
              }
            </div>
          </div> -->
      </div>
    </div>

    <!-- <div class="flex flex-col gap-7">
        <div class="flex flex-col gap-3">
          <div class="flex flex-row gap-2 items-center">
            <p class="text-amber-400 uppercase text-xs tracking-tight">
              Your social venture must be...
            </p>
          </div>

          <div class="flex flex-col gap-5">
            <div>
              <span class="bg-opacity-30 rounded-full py-1 flex flex-row gap-2">
                <i
                  class="text-amber-200 text-xs fa-solid fa-tag bg-amber-100 bg-opacity-20 h-5 w-5 flex justify-center items-center rounded-md"
                ></i>
                <div>
                  <p
                    class="text-amber-200 text-opacity-80 text-xs uppercase tracking-wide"
                  >
                    Selling goods and services
                  </p>
                  <p class="text-amber-200 text-sm">
                    {application.selling_goods_and_services}
                  </p>
                </div>
              </span>
            </div>

            <div>
              <span class="bg-opacity-30 rounded-full py-1 flex flex-row gap-2">
                <i
                  class="text-amber-200 text-xs fa-solid fa-heart bg-amber-100 bg-opacity-20 h-5 w-5 flex justify-center items-center rounded-md"
                ></i>
                <div>
                  <p
                    class="text-amber-200 text-opacity-80 text-xs uppercase tracking-wide"
                  >
                    Making a positive difference
                  </p>
                  <p class="text-amber-200 text-sm">
                    {application.positive_impact}
                  </p>
                </div>
              </span>
            </div>

            <div>
              <span class="bg-opacity-30 rounded-full py-1 flex gap-2">
                <i
                  class="text-amber-200 text-xs fa-solid fa-certificate bg-amber-100 bg-opacity-20 h-5 w-5 flex justify-center items-center rounded-md"
                ></i>
                <div>
                  <p
                    class="text-amber-200 text-opacity-80 text-xs uppercase tracking-wide"
                  >
                    Incorporated
                  </p>
                  <p class="text-amber-200 text-sm">
                    {application.incorporated}
                  </p>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</Element>
