---
const { data } = Astro.props;
---

<div class="bg-violet-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="flex flex-col">
                <h2
                    class="text-3xl font-bold tracking-tight text-violet-50 sm:text-4xl"
                >
                    {data.info_title}
                </h2>
                <div class="flex gap-4">
                    <p class="mt-4 text-md leading-8 text-violet-200 w-3/5">
                        {data.info_text}
                    </p>
                    <p class="mt-4 text-md leading-8 text-violet-200 w-3/5">
                        {data.info_callout}
                    </p>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <dl
                    class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-3"
                >
                    {
                        data.statistics.map((stat) => (
                            <div class="flex flex-col bg-violet-950 gap-4 p-8">
                                <i class={`${stat.icon} text-6xl text-violet-200`}></i>
                                <div>
                                <dd class="text-lg font-semibold tracking-tight text-violet-100">
                                    {stat.title}
                                </dd>
                                <dt class="text-sm font-semibold leading-6 text-violet-300">
                                    {stat.text}
                                </dt>
                            </div>
                            </div>
                        ))
                    }
                </dl>
                <p class="text-violet-200 text-xs">
                    Read our <a
                        href="https://unltd.directus.app/assets/9e2fdbbe-de2d-4f0f-a1e3-2b5a28fcc75e.pdf"
                        class="underline font-bold underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
                        >2021 - 2022 Impact Report</a
                    > to learn more.
                </p>
            </div>
        </div>
    </div>
</div>
