---
const { data } = Astro.props;
---

<div class="bg-violet-900 py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
            <h2
                class="text-3xl font-bold tracking-tight text-violet-100 sm:text-4xl"
            >
                {data.info_title}
            </h2>
            <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
                <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
                    <p class="text-xl leading-8 text-violet-200">
                        {data.info_text}
                    </p>
                    <div class="rounded-md bg-violet-50 p-4 mt-10">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <svg
                                    class="h-5 w-5 text-violet-400"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="ml-3 flex-1 md:flex md:justify-between">
                                <p class="text-sm text-violet-700">
                                    {data.info_callout}
                                </p>
                                <p class="mt-3 text-sm md:ml-6 md:mt-0">
                                    <a
                                        href="#"
                                        class="whitespace-nowrap font-medium text-violet-700 hover:text-violet-600"
                                    >
                                        Details
                                        <span aria-hidden="true"> &rarr;</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:flex lg:flex-auto lg:justify-center">
                    <dl class="space-y-8 xl:w-80">
                        {
                            data.statistics.map((stat) => (
                                <div class="flex flex-col-reverse gap-y-4">
                                    <dt class="text-base leading-7 text-violet-200">
                                        {stat.text}
                                    </dt>
                                    <dd class="text-2xl font-semibold tracking-tight text-violet-100">
                                        {stat.title}
                                    </dd>
                                </div>
                            ))
                        }
                        <p class="text-violet-200 text-xs">
                            Read our <a
                                href="/UnLtd_Impact_Report_2022.pdf"
                                class="underline font-bold underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
                                >2021 - 2022 Impact Report</a
                            > to learn more.
                        </p>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
