---
const { name, subtitle, description, bg, text, icon } = Astro.props;
---

<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 m-5 text-slate-950">
  <div class="bg-slate-100 p-10 rounded-t-xl flex flex-col gap-5">
    <div class="flex gap-3 items-center">
      <i class={`fa-solid fa-${icon} ${bg} ${text} inline p-4 rounded-full`}
      ></i>
      <span class={`font-bold ${text}`}>{name}</span>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-3xl font-bold">{subtitle}</h2>
      <p class="text-xl">
        {description}
      </p>
    </div>
    <div class="flex gap-10">
      <p class="font-bold">UK-wide experts</p>
      <p class="font-bold">Non-judgemental</p>
      <p class="font-bold">92% of rated the support as excellent</p>
    </div>
  </div>
  <div class="gap-10 bg-white p-10 rounded-b-xl">
    <slot />
  </div>
</div>
