---
const { sup, topic } = Astro.props;
---

<div class={`text-black rounded-xl flex flex-col border border-violet-100 transition ease-in-out delay-50 duration-300 hover:-translate-y-1 hover:scale-100`}>
  <div class="bg-white p-6 w-96 rounded-t-xl flex flex-col gap-2">
    <div>
      <span
      class={`inline-flex items-center rounded-full bg-orange-100 px-2.5 py-0.5 text-xs font-medium text-orange-800 capitalize gap-1`}
    >
      <i class={`fa-solid fa-${topic.icon}`}></i>
      <p>{topic.name}</p>
    </span>
    </div>

    <p class="font-bold text-orange-800">{sup.thing} to {topic.name}</p>
    <p class="text-sm">{sup.location} | {sup.duration} minutes</p>

    <div class="flex gap-2">
      {
        sup.support.topic.name === "Workshops" &&
      <p class="text-sm">Attendees: {sup.fundee}</p>
      <p class="text-sm">Fund: {sup.fund}</p>
      <p class="text-sm">Countries: {sup.countries}</p>
      }
    </div>
  </div>
  {
    sup &&
  <div class={`bg-gray-50 p-6 w-96 rounded-b-xl flex flex-col gap-3`}>
    <i class="fa-solid fa-quote-left text-gray-700"></i>
    <p class="text-sm">{sup.review.description}</p>
    <div class="flex gap-2 items-center">
      <img src={sup.review.img} alt="" class="w-10 h-10 rounded-full" />
      <div class="flex flex-col">
        <p class="text-sm font-bold">{sup.review.name}</p>
        <p class="text-sm text-gray-600">{sup.review.organisation}</p>
      </div>
    </div>
  </div>
}
</div>
