---
const { name, description, positions, slug } = Astro.props;
---

<script is:inline>
function playsound(name) {
  const slugify = (text) =>
    text
      .toString()
      .normalize("NFD")
      .replace(/[\u0300-\u036f]/g, "")
      .toLowerCase()
      .trim()
      .replace(/\s+/g, "-")
      .replace(/[^\w-]+/g, "")
      .replace(/--+/g, "-");

  let slug = slugify(name);
  var audio = document.getElementById(`audio-${slug}`);
  audio.play();
}
</script>

<div class="py-5 sm:py-10">
  <div
    class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3 bg-slate-100 p-28 rounded-3xl"
  >
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-slate-600 sm:text-4xl">
        {name}
      </h2>
      <p class="mt-6 text-lg leading-8 text-slate-500">
        {description}
      </p>
    </div>

    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      {
        positions
          .filter((position) => position.role.team === name)
          .map((position) => (
            <li>
              <div class="flex items-center gap-x-6">
                <img
                  class="h-16 w-16 rounded-full"
                  src={
                    position.person.image
                      ? `https://unltd.directus.app/assets/${position.person.image}`
                      : "/img/profile.webp"
                  }
                  alt=""
                />
                <div class="flex flex-col gap-1">
                  <div class="flex gap-2 items-center">
                    <h3 class="text-base font-semibold leading-7 tracking-tight text-slate-600 items-center">
                      {position.person.name}
                    </h3>
                    <!-- <button onclick={`playsound("${position.person.name}")`}>
                      <i class="fa-solid fa-volume-high text-slate-500 text-xs" />
                    </button> -->
                    <audio
                      id={`audio-${position.person.name
                        .toString()
                        .normalize("NFD")
                        .replace(/[\u0300-\u036f]/g, "")
                        .toLowerCase()
                        .trim()
                        .replace(/\s+/g, "-")
                        .replace(/[^\w-]+/g, "")
                        .replace(/--+/g, "-")}`}
                      src="/name.m4a"
                    />
                  </div>
                  <div class="flex items-center gap-1">
                    { position.person.gender_pronouns && position.person.gender_pronouns.length > 0 &&
                    <div class="flex gap-1">
                      { position.person.gender_pronouns?.map((item) => (
                        <span class="text-xs text-slate-600">
                          {item}
                        </span>
                      )) } 
                    </div>  }
                    <div>
                    {position.person.lgbtqia_plus && (
                      <div>
                        <span
                          role="img"
                          class="text-xl"
                          aria-label="rainbow flag"
                        >
                          &#x1F3F3;&#xFE0F;&#x200D;&#x1F308;
                        </span>
                        <span class="sr-only">
                          Member of the LGBTQ+ community
                        </span>
                      </div>
                    )}
                    </div>
                  </div>
                  <div>
                    <p class="text-sm leading-2 text-slate-500">
                    {position.role.name}
                  </p>
                  {position.person.linkedin && (
                    <a
                      href={position.person.linkedin}
                      target="_blank"
                      class="text-slate-600"
                    >
                      <span class="sr-only">LinkedIn</span>
                      <i class="text-sm fa-brands fa-linkedin" />
                    </a>
                  )}
                    </div>
                </div>
              </div>
            </li>
          ))
      }
    </ul>
  </div>
</div>
