---
import slugify from "slugify";

import { programmes } from "@data/programmes.js";
import { sessions } from "@data/sessions.js";
import { palette } from "@data/palette.js";

import Container from "@components/Container.astro";
import ProgrammeBig from "@components/awards/programme/ProgrammeBig.astro";
import ProgrammeSmall from "@components/awards//programme/ProgrammeSmall.astro";

---

<Container bg="bg-violet-50 dark:bg-violet-950">
  <div class="py-20 flex flex-col gap-20">
    <div class="mx-auto max-w-4xl text-center">
      <h2
        id="support"
        class="text-base font-semibold leading-7 text-amber-500 dark:text-amber-500"
      >
        Support
      </h2>
      <p
        class="mt-2 text-4xl font-bold tracking-tight text-violet-900 dark:text-violet-100 sm:text-5xl"
      >
        Programmes
      </p>
      <p
        class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-violet-800 dark:text-violet-200"
      >
As an Award Winner you will have access to the advice, guidance and expertise needed to build on the foundations of your social venture and grow your impact.
      </p>
    </div>

    <div class="mx-auto max-w-7xl">
                  <ProgrammeBig
              image={
                programmes[0].image && programmes[0].image.id
                  ? programmes[0].image.id
                  : false
              }
              icon={programmes[0].icon}
              styles={palette[programmes[0].name]}
              name={programmes[0].name}
              stage={programmes[0].stage}
              age={programmes[0].age}
              geography={programmes[0].geography}
              focus={programmes[0].focus}
              slogan={programmes[0].slogan}
              description={programmes[0].description}
              slug={slugify(programmes[0].name, {lower: true, strict: true, locale: "en", trim: true,})},
              services={programmes[0].services}
              eligibilities={programmes[0].eligibilities}
              code={programmes[0].code}
              partners={programmes[0].partners}
              />
    </div>

    <div>
      <div class="mx-auto max-w-4xl text-center">
        <p
          class="mx-auto mb-14 max-w-2xl text-center text-lg leading-8 text-violet-800 dark:text-violet-200"
        >
          Considering your age, location, and the sectors in which you and your social venture operate, you will be assigned to one of our tailored programmes for support for up to a year. Our programmes are designed to provide specialised support that align with the needs of you and your social venture.
        </p>
      </div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        {
          programmes.filter(programme => programme.name !== "Millennium Awards Trust").map((programme, i) => (
            <ProgrammeSmall
              key={i}
              image={
                programme.image && programme.image.id
                  ? programme.image.id
                  : false
              }
              icon={programme.icon}
              styles={palette[programme.name]}
              name={programme.name}
              logo={
                programme.logo && programme.logo.id
                  ? programme.logo.id
                  : false
              }
              stage={programme.stage}
              age={programme.age}
              geography={programme.geography}
              focus={programme.focus}
              slogan={programme.slogan}
              description={programme.description}
              slug={slugify(programme.name, {lower: true, strict: true, locale: "en", trim: true,})},
              services={programme.services}
              eligibilities={programme.eligibilities}
              code={programme.code}
            />
          ))
        }
      </div>
        <div class={`mx-auto max-w-7xl flex flex-col lg:flex-row gap-6 my-20`}>
        {
            sessions.map((session) => {
              const date = new Date(session.datetime);
              
              return (
              <article class={`flex max-w-xl flex-row items-start justify-between flex-1 lg:basis-1/2 p-4 border-solid border-2 bg-violet-200 border-violet-300 rounded-xl group relative gap-4`}>

                    <div class="basis-1/4 flex-none flex gap-2 flex-col bg-violet-200 rounded-lg p-2 items-center justify-center border-dashed border-2 border-violet-300">
                      <span class="text-xs text-violet-950 font-bold">{ date.toLocaleString('en-GB', { weekday: 'long' })}</span>
                      <div class="flex flex-col items-center gap-1">
                      <span class="uppercase text-xs text-violet-950">{ date.toLocaleString('en-GB', { month: 'long' })}</span>
                      <span class="text-xl font-bold text-violet-50 w-10 h-10 bg-violet-900 group-hover:bg-violet-700 rounded-full flex justify-center items-center">{ date.getDate() }</span>

                      </div>
                      <span class="uppercase text-sm text-violet-950">{date.toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' })}</span>
                    </div>
  
                  <div class="basis-3/4 flex flex-col gap-1 items-center">
                    <p class={`truncate text-xs flex gap-2 items-center`}>
                      <i class={`fa-regular fa-wifi text-violet-900`}></i>
                      <span class={`text-violet-900 uppercase`}> Online </span>
                    </p>
                    <h3 class="text-base font-semibold leading-6 text-violet-800 group-hover:text-violet-700">
                      <a href={session.link}>
                        <span class="absolute inset-0"></span>
                        {session.name}
                      </a>
                    </h3>
                    <div class="flex flex-row gap-3">
                      { session.programme && (<span class={`inline-flex items-center rounded-md bg-blue-400/10 px-2 py-1 text-xs font-medium text-blue-400 ring-1 ring-inset ring-blue-400/30`}>{session.programme.name}</span>)}
                    </div>
                </div>
              </article>
            )})
        }
      </div>
    </div>
  </div>
</Container>
