---
import { fundraisers } from "../../../data/directus/fundraisers.js";
import Template from "../../../layouts/Template.astro";
import Hero from "../../../components/Hero.astro";
import Container from "../../../components/Container.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import moment from "moment";

export async function getStaticPaths() {
  return fundraisers.map((fundraiser) => {
    let breadcrumbs = [
      {
        name: "Fundraisers",
        slug: "/fundraisers",
      },
      {
        name: fundraiser.name,
        slug: `/fundraisers/${fundraiser.slug}`,
      },
    ];

    fundraiser.breadcrumbs = breadcrumbs;

    let results = {
      params: {
        fundraiser: fundraiser.slug,
      },
      props: {
        fundraiser: fundraiser,
      },
    };

    return results;
  });
}

let todayDate = moment();

const { fundraiser } = Astro.props;
---

<Template name={fundraiser.name} description={fundraiser.description}>
  <Container>
    <Breadcrumbs breadcrumbs={fundraiser.breadcrumbs} />

    <div
      class="relative isolate overflow-hidden bg-slate-900 py-24 sm:py-32 rounded-lg"
    >
      <img
        src=`https://unltd.directus.app/assets/${fundraiser.image}`
        alt=""
        class="absolute inset-0 -z-10 h-full w-full object-cover opacity-20"
      />
      <div
        class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
        aria-hidden="true"
      >
        <div
          class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-slate-950-600 to-amber-600 opacity-20"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
      </div>
      <div
        class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
        aria-hidden="true"
      >
        <div
          class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
      </div>
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
            {fundraiser.name}
          </h2>
          <p class="mt-6 text-lg leading-8 text-slate-100">
            {fundraiser.subheading}
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-20 pt-10">
      <div class="flex flex-1 flex-col gap-10">
        <div
          class="flex flex-col lg:flex-row items-start lg:items-center lg:justify-between gap-2"
        >
          {
            !todayDate.isAfter(fundraiser.finish) ? (
              <span class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                Active
              </span>
            ) : (
              <span class="inline-flex items-center rounded-full bg-slate-50 px-2 py-1 text-xs font-medium text-slate-600 ring-1 ring-inset ring-slate-500/10">
                Completed
              </span>
            )
          }
          <div>
            <p class="text-xs text-slate-400">
              {
                !todayDate.isAfter(fundraiser.finish) ? (
                  <span>Closes</span>
                ) : (
                  <span>Closed</span>
                )
              }
              {moment(fundraiser.finish).format("dddd hh:mma, MMMM Do YYYY")}
            </p>
          </div>
        </div>

        <div>
          {
            todayDate.isAfter(fundraiser.finish) ? (
              <div class="flex flex-col">
                <span class="text-xs text-slate-500">Raised</span>
                <span class="text-4xl font-bold">
                  {new Intl.NumberFormat("en-GB", {
                    maximumSignificantDigits: 3,
                    style: "currency",
                    currency: "GBP",
                  }).format(fundraiser.raised)}
                </span>
                {fundraiser.link && (
                  <a
                    href={`https://${fundraiser.link}`}
                    target="_blank"
                    class="text-sm text-amber-800 hover:underline"
                  >
                    Go to fundraiser page
                  </a>
                )}
              </div>
            ) : (
              <div class="flex justify-between bg-slate-100 rounded-xl items-center border border-slate-200">
                <div class="flex flex-col pl-5 p-2">
                  <span class="text-xs text-slate-500">Goal</span>
                  <span class="text-lg">
                    {new Intl.NumberFormat("en-GB", {
                      maximumSignificantDigits: 3,
                      style: "currency",
                      currency: "GBP",
                    }).format(fundraiser.amount)}
                  </span>
                </div>
                <a
                  href={fundraiser.link}
                  target="_blank"
                  class="p-5 rounded-r-xl bg-amber-600 text-sm font-semibold text-white shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600"
                >
                  Donate now
                </a>
              </div>
            )
          }
        </div>

        <div>
          <p class="text-lg text-slate-800">{fundraiser.description}</p>
        </div>

        <div class="flex flex-col gap-3">
          <p class="text-xl">Raising funds for</p>
          {
            fundraiser.funds.length > 0 ? (
              <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                {fundraiser.funds.map((fund) => (
                  <div class="relative flex items-center space-x-3 rounded-lg border border-slate-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-amber-500 focus-within:ring-offset-2 hover:border-slate-400">
                    <div class="flex-shrink-0">
                      <img
                        class="h-10 w-10 rounded-md drop-shadow-md"
                        src={`https://unltd.directus.app/assets/${fund.funds_id.logo}`}
                        alt=""
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <a
                        href={`/funds/${fund.funds_id.slug}`}
                        class="focus:outline-none"
                      >
                        <span class="absolute inset-0" aria-hidden="true" />
                        <p class="text-sm font-medium text-slate-900">
                          {fund.funds_id.name}
                        </p>
                      </a>
                    </div>
                  </div>
                ))}
              </div>
            ) : (
              <div class="flex flex-col gap-1 w-full p-10 items-center justify-center text-xs text-slate-600 bg-slate-100 rounded-md">
                <i class="fa-regular fa-hourglass text-lg" />
                <p>No funds</p>
              </div>
            )
          }
        </div>

        <div class="flex flex-col">
          {
            todayDate.isAfter(fundraiser.start) ? (
              <span class="text-slate-500 text-xs">Started</span>
            ) : (
              <span class="text-slate-500 text-xs">Starting</span>
            )
          }
          <span class="text-sm"
            >{
              moment(fundraiser.start).format("dddd hh:mma, MMMM Do YYYY")
            }</span
          >
        </div>

        {
          fundraiser.website && (
            <div class="flex flex-col">
              <span class="text-slate-500 text-xs"> Website</span>
              <a
                href={`https://${fundraiser.website}`}
                target="_blank"
                class="text-sm text-amber-800 hover:underline"
              >
                {fundraiser.website}
              </a>
            </div>
          )
        }

        <div class="flex flex-col gap-2">
          <span class="text-slate-500 text-xs"> Managed by</span>
          <div class="flex items-center">
            <div>
              <img
                class="inline-block h-9 w-9 rounded-full"
                src={`https://unltd.directus.app/assets/${fundraiser.manager.person.image}`}
                alt=""
              />
            </div>
            <div class="ml-3">
              <p
                class="text-sm font-medium text-slate-700 group-hover:text-slate-900"
              >
                {fundraiser.manager.person.name}
              </p>
              <p
                class="text-xs font-medium text-slate-500 group-hover:text-slate-700"
              >
                {fundraiser.manager.role.name}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-5 flex-1 flex-col">
        <div class="flex flex-col gap-3">
          <p class="text-xl">Sponsors</p>
          {
            fundraiser.sponsors.length > 0 ? (
              <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                {fundraiser.sponsors.map((supporter) => (
                  <div class="relative flex items-center space-x-3 rounded-lg border-slate-300 bg-white px-4 py-4">
                    <div class="flex-shrink-0">
                      <img
                        class="h-10 w-10 rounded-md drop-shadow-md"
                        src={`https://unltd.directus.app/assets/${supporter.organisations_id.logo}`}
                        alt=""
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <span class="absolute inset-0" aria-hidden="true" />
                      <p class="text-sm font-medium text-slate-900">
                        {supporter.organisations_id.name}
                      </p>
                    </div>
                  </div>
                ))}
              </div>
            ) : (
              <div class="flex flex-col gap-1 w-full p-10 items-center justify-center text-xs text-slate-600 bg-slate-100 rounded-md">
                <i class="fa-regular fa-hourglass text-lg" />
                <p>No Sponsors</p>
              </div>
            )
          }
        </div>

        <div class="flex flex-col gap-3">
          <p class="text-xl">Supporters</p>
          {
            fundraiser.supporters.length > 0 ? (
              <div class="grid grid-cols-1 sm:grid-cols-2">
                {fundraiser.supporters.map((supporter) => (
                  <div class="relative flex items-center space-x-3 rounded-lg border-slate-300 bg-white px-4 py-4">
                    <div class="flex-shrink-0">
                      <img
                        class="h-10 w-10 rounded-md drop-shadow-md"
                        src={`https://unltd.directus.app/assets/${supporter.organisations_id.logo}`}
                        alt=""
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <span class="absolute inset-0" aria-hidden="true" />
                      <p class="text-xs font-medium text-slate-900">
                        {supporter.organisations_id.name}
                      </p>
                    </div>
                  </div>
                ))}
              </div>
            ) : (
              <div class="flex flex-col gap-1 w-full p-10 items-center justify-center text-xs text-slate-600 bg-slate-100 rounded-md">
                <i class="fa-regular fa-hourglass text-lg" />
                <p>No Supporters</p>
              </div>
            )
          }
        </div>
      </div>
    </div>
  </Container>
</Template>
