---
import Fields from "../../components/fields/Fields.astro";
import { marked } from "marked";

const { application } = Astro.props;
---

<main
  class="col-span-12 md:col-span-6 lg:col-span-5 lg:auto-cols-fr flex flex-col gap-4"
>
  <div class="bg-amber-100 px-5 py-5 rounded-md shadow-md">
    <div class="flex flex-col gap-3">
      <i class="fa-solid fa-circle-exclamation text-amber-600 text-xl"></i>
      <h3 class="text- font-medium leading-6 text-amber-800">
        This is a preview of our application form
      </h3>
    </div>
    <div class="mt-2 flex flex-col gap-6 sm:items-start sm:justify-between">
      <div class="text-sm text-amber-700">
        <p>
          This is a preview of the application form. Once you are ready to start
          your application, sign-up to an Award account and click 'Start a new
          application'.
        </p>
      </div>
    </div>
  </div>
  {
    application.sections.map((section, index) => {
      return (
        <>
          <form
            action="#"
            id={section.slug}
            method="POST"
            class="shadow-xl sm:overflow-hidden rounded-md flex flex-col gap-10 bg-white"
          >
            <div class="">
              <div class="bg-gray-100 px-10 pt-10 pb-5 sticky top-0 rounded-t-md rounded-x-md flex flex-row gap-3 items-center">
                <span class="text-gray-600 border-full h-8 w-8 bg-white flex justify-center items-center rounded-full border border-gray-200">
                  {index + 1}
                </span>
                <h3 class="text-lg font-medium leading-6 text-gray-700">
                  {section.name}
                </h3>
              </div>

              {section.description && (
                <div
                  class="bg-gray-100 px-10 pt-5 pb-10 border-b border-gray-200 shadow-sm text-sm text-gray-500 leading-relaxed prose"
                  id={`${section.slug}-description}`}
                  set:html={marked.parse(section.description)}
                />
              )}
            </div>
            <div class="flex flex-col gap-10 pb-10 px-7 md:px-10">
              {section.fields.map((field, index) => {
                return (
                  <Fields
                    name={field.name}
                    description={field.description}
                    slug={field.slug}
                    type={field.type}
                    input_type={field.input_type}
                    required={field.required}
                    disabled={field.disabled}
                    options={field.select_options}
                    max_length={field.max_length}
                    prefix={field.prefix}
                    suffix={field.suffix}
                    alias={application.alias}
                    number={index + 1}
                  />
                );
              })}
            </div>
          </form>
        </>
      );
    })
  }
</main>
