---
import Template from "@layouts/Template.astro";
import Container from "@components/Container.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Main from "@components/application-preview/Main.astro";
import AsideRight from "@components/application-preview/AsideRight.astro";
import DialogComponent from "@components/Dialog.tsx";

import { applications } from "@data/applications.js";

Astro.props;

export function getStaticPaths() {
  const breadcrumbs = [
    {
      name: "Awards",
      path: "/awards",
    },
  ];
  const pages = [];

  applications.map((app) => {
    // copy breadcrumb
    let copyBreadcrumb = breadcrumbs.map((x) => x);

    copyBreadcrumb.push({
      name: app.name,
      path: `/awards/${app.slug}`,
    });

    pages.push({
      params: { application_preview: app.slug },
      props: {
        slug: app.slug,
        name: app.name,
        description: app.description,
        grant_title: app.grant_title,
        grant_amount: app.grant_amount,
        grant_description: app.grant_description,
        disclaimer: app.disclaimer,
        pdf: app.pdf,
        docx: app.docx,
        xlsx: app.xlsx,
        sections: app.sections,
        breadcrumbs: copyBreadcrumb,
      },
    });
  });

  return pages;
}

const {
  slug,
  name,
  description,
  grant_title,
  grant_amount,
  grant_description,
  pdf,
  docx,
  xlsx,
  sections,
  breadcrumbs,
} = Astro.props;

// Match URL paths (Astro decodes %2B to +) and assign portal values
let portal_value = null;
let portal_text = null;
let stage_text = null;

if (slug === "Idea+stage+or+not+yet+trading") {
  portal_value = "forming-i-have-an-idea";
  portal_text = "Forming: I have an idea";
  stage_text = "is an idea or not yet trading";
} else if (slug === "Trading+for+less+than+1+year") {
  portal_value = "i-ve-been-trading-for-less-than-1-year";
  portal_text = "I've been trading for less than 1 year";
  stage_text = "has been trading for less than 1 year";
} else if (slug === "Trading+for+more+than+1+year") {
  portal_value = "i-ve-been-trading-for-1-year";
  portal_text = "I've been trading for 1 year";
  stage_text = "has been trading for more than 1 year";
}

// Build dialog title
const dialogTitle = `We have pre-selected "${portal_text}" for question 4.1. as your social venture ${stage_text}`;

// Build dialog description
let dialogDescription = `For your application in the Application Portal, we dynamically adapt the questions after question 4.1. so they're appropriate for your social venture. When you get to question 4.1., choose "${portal_text}" to ensure your application is correct and reflects this one.`;
---

<Template name={name} description={description}>
  <Container>
    <Breadcrumbs breadcrumbs={breadcrumbs} />
    <DialogComponent
      icon="fa-solid fa-circle-info"
      title={dialogTitle}
      description={dialogDescription}
      primaryButton={{
        text: "I understand",
      }}
      secondaryButton={{
        text: "Go to question 4.1",
        href: `#social-venture-stage-and-programme`,
      }}
      client:load
    />
    <div class="flex flex-col gap-2 mt-10">
      <div class="flex flex-col sm:flex-row gap-10">
        <div
          class="basis-full lg:basis-1/4 sm:auto-cols-fr sm:self-start sm:sticky sm:top-10"
        >
          <aside class="flex flex-col gap-5">
            <div>
              {
                sections.map((section, index) => (
                  <a
                    href={`#${section.sections_id.slug}`}
                    class={`hover:text-violet-800 active:text-violet-800 active:bg-violet-800 hover:bg-violet-100 rounded-md flex items-center text-xs font-medium transition py-3 pl-3 flex-row gap-2 group`}
                  >
                    <span class="text-violet-400 group-hover:bg-violet-200 border-full h-5 w-5 bg-violet-100 group-hover:text-violet-600 bg-opacity-10 flex justify-center items-center rounded-full group-hover:scale-125">
                      {index + 1}
                    </span>
                    <span class="text-violet-200 truncate active:text-white group-hover:text-violet-800">
                      {section.sections_id.name}
                    </span>
                  </a>
                ))
              }
            </div>
          </aside>
        </div>
        <div
          class="flex flex-col gap-5 lg:flex-row basis-full lg:basis-3/4 lg:auto-cols-fr"
        >
          <div class="block lg:hidden lg:basis-4/12">
            <AsideRight pdf={pdf} docx={docx} xlsx={xlsx} slug={slug} />
          </div>
          <div class="lg:basis-7/12">
            <Main
              slug={slug}
              name={name}
              description={description}
              grant_title={grant_title}
              grant_amount={grant_amount}
              grant_description={grant_description}
              sections={sections}
              portal_value={portal_value}
              portal_text={portal_text}
              stage_text={stage_text}
            />
          </div>
          <div
            class="hidden lg:block lg:basis-5/12 sm:self-start sm:sticky sm:top-10"
          >
            <AsideRight pdf={pdf} docx={docx} xlsx={xlsx} slug={slug} />
          </div>
        </div>
      </div>
    </div>
  </Container>
</Template>
