---
import Template from "@layouts/Template.astro";
import Container from "@components/Container.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Hero from "@components/Hero.astro";
import { marked } from "marked";
import slugify from "slugify";
import moment from "moment";
import { palette } from "@data/palette.js";

import { panels } from "@data/panels.js";

export async function getStaticPaths() {
    try {
        return panels.map((panel) => {
            const name = `${moment(panel.date_time).format("DD-MM-YYYY-HHmm")}`;
            const slug = slugify(name, {
                lower: false,
                strict: false,
                locale: "en",
                trim: true,
            });

            const breadcrumbs = [
                {
                    name: "Awards",
                    slug: `/award`,
                },
                {
                    name: name,
                    slug: `/awards/${slug}`,
                },
            ];

            return {
                params: {
                    panel: slug,
                },
                props: {
                    name: name,
                    date_time: moment(panel.date_time).format(
                        "dddd, MMMM Do YYYY, HH:mm",
                    ),
                    programme: panel.programme,
                    social_entrepreneurs: panel.social_entrepreneurs,
                    unltd_colleagues: panel.unltd_colleagues,
                    panel_chair: panel.panel_chair,
                    breadcrumbs: breadcrumbs,
                    description:
                        "Hello! We are your panel members; we are looking forward to meeting you and hearing about your social venture.",
                },
            };
        });
    } catch (error) {
        console.error("🐛 ", error);
    }
}

const {
    name,
    date_time,
    programme,
    social_entrepreneurs,
    unltd_colleagues,
    panel_chair,
    breadcrumbs,
    description,
} = Astro.props;
---

<Template name={name} breadcrumbs={breadcrumbs} description={description}>
    <Container>
        <div class="py-12">
            <div class="grid grid-cols-1 gap-x-8 gap-y-20 xl:grid-cols-5">
                <div class="max-w-2xl xl:col-span-2 flex flex-col gap-3">
                    <div>
                        <h2
                            class="text-3xl font-bold tracking-tight text-violet-100"
                        >
                            Your Award Panel
                        </h2>
                        <p></p>
                    </div>
                    <div>
                        <h3 class="text-base tracking-tight text-violet-300">
                            Date and time
                        </h3>
                        <p
                            class="text-xl font-bold tracking-tight text-violet-200"
                        >
                            {date_time}
                        </p>
                    </div>
                    <div>
                        <h3 class="text-base tracking-tight text-violet-300">
                            Award programme
                        </h3>
                        <a
                            href={`/awards/${slugify(programme.name, {
                                lower: true,
                                strict: false,
                                locale: "en",
                                trim: true,
                            })}`}
                            class={`inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ${palette[programme.name].badge} ring-1 ring-inset gap-1`}
                        >
                            <i class={programme.icon}></i>
                            <span>{programme.name}</span>
                        </a>
                    </div>
                    <p class="mt-6 text-lg leading-8 text-violet-300">
                        {description}
                    </p>
                </div>
                <div class="xl:col-span-3 flex flex-col gap-24">
                    <ul
                        role="list"
                        class="-mt-12 space-y-12 divide-y divide-violet-500"
                    >
                        <h2 class="text-xl text-violet-100 font-bold">
                            Panel Chair
                        </h2>
                        <li class="flex flex-col gap-50 pt-12 sm:flex-row">
                            <div class="basis-1/3">
                                {
                                    panel_chair.person.image && (
                                        <img
                                            class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover"
                                            src={`https://unltd.directus.app/assets/${panel_chair.person.image}`}
                                            alt=""
                                        />
                                    )
                                }
                            </div>

                            <div class="basis-2/3">
                                <div>
                                    <h3
                                        class="text-lg font-semibold leading-8 tracking-tight text-violet-100"
                                    >
                                        {panel_chair.person.name}
                                    </h3>
                                    <div class="flex items-center gap-1">
                                        {
                                            panel_chair.person
                                                .gender_pronouns &&
                                                panel_chair.person
                                                    .gender_pronouns.length >
                                                    0 && (
                                                    <div class="flex gap-1">
                                                        {panel_chair.person.gender_pronouns?.map(
                                                            (item) => (
                                                                <span class="text-xs text-violet-200">
                                                                    {item}
                                                                </span>
                                                            ),
                                                        )}
                                                    </div>
                                                )
                                        }
                                        <div></div>
                                    </div>
                                </div>
                                <p class="text-base leading-7 text-violet-300">
                                    {panel_chair.role.name}{" "}
                                    {
                                        panel_chair.role.organisation?.name &&
                                            `at ${panel_chair.role.organisation.name}`
                                    }
                                </p>
                                <p
                                    class="mt-6 text-base leading-7 text-violet-200"
                                >
                                    {panel_chair.person.bio}
                                </p>
                                <ul role="list" class="mt-6 flex gap-x-6">
                                    {
                                        panel_chair.person.linkedin && (
                                            <li>
                                                <a
                                                    href={
                                                        panel_chair.person
                                                            .linkedin
                                                    }
                                                    class="text-violet-200 hover:text-violet-400"
                                                >
                                                    <span class="sr-only">
                                                        LinkedIn
                                                    </span>
                                                    <i class="fa-brands fa-linkedin text-xl" />
                                                </a>
                                            </li>
                                        )
                                    }
                                    {
                                        panel_chair.person.website && (
                                            <li>
                                                <a
                                                    href={
                                                        panel_chair.person.website.startsWith(
                                                            "https://",
                                                        )
                                                            ? panel_chair.person
                                                                  .website
                                                            : `https://${panel_chair.person.website}`
                                                    }
                                                    class="text-violet-200 hover:text-violet-400"
                                                >
                                                    <span class="sr-only">
                                                        Website
                                                    </span>
                                                    <i class="fa-regular fa-globe text-xl" />
                                                </a>
                                            </li>
                                        )
                                    }
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul
                        role="list"
                        class="-mt-12 space-y-12 divide-y divide-violet-500"
                    >
                        <h2 class="text-xl text-violet-100 font-bold">
                            Social Entrepreneurs
                        </h2>
                        {
                            social_entrepreneurs.map((social_entrepreneur) => (
                                <li class="flex flex-col gap-50 pt-12 sm:flex-row">
                                    <div class="basis-1/3">
                                        {social_entrepreneur.positions_id.person
                                            .image && (
                                            <img
                                                class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover"
                                                src={`https://unltd.directus.app/assets/${social_entrepreneur.positions_id.person.image}`}
                                                alt=""
                                            />
                                        )}
                                    </div>

                                    <div class="basis-2/3 ">
                                        <div>
                                            <h3 class="text-lg font-semibold leading-8 tracking-tight text-violet-100">
                                                {
                                                    social_entrepreneur
                                                        .positions_id.person
                                                        .name
                                                }
                                            </h3>
                                            <div class="flex items-center gap-1">
                                                {social_entrepreneur
                                                    .positions_id.person
                                                    .gender_pronouns &&
                                                    social_entrepreneur
                                                        .positions_id.person
                                                        .gender_pronouns
                                                        .length > 0 && (
                                                        <div class="flex gap-1">
                                                            {social_entrepreneur.positions_id.person.gender_pronouns?.map(
                                                                (item) => (
                                                                    <span class="text-xs text-violet-200">
                                                                        {item}
                                                                    </span>
                                                                ),
                                                            )}
                                                        </div>
                                                    )}
                                                <div />
                                            </div>
                                        </div>
                                        <p class="text-base leading-7 text-violet-300">
                                            {
                                                social_entrepreneur.positions_id
                                                    .role.name
                                            }{" "}
                                            {social_entrepreneur.positions_id
                                                .role.organisation?.name &&
                                                `at ${
                                                    social_entrepreneur
                                                        .positions_id.role
                                                        .organisation.name
                                                }`}
                                        </p>
                                        <p class="mt-6 text-base leading-7 text-violet-200">
                                            {
                                                social_entrepreneur.positions_id
                                                    .person.bio
                                            }
                                        </p>
                                        <ul
                                            role="list"
                                            class="mt-6 flex gap-x-6"
                                        >
                                            {social_entrepreneur.positions_id
                                                .person.linkedin && (
                                                <li>
                                                    <a
                                                        href={
                                                            social_entrepreneur
                                                                .positions_id
                                                                .person.linkedin
                                                        }
                                                        class="text-violet-200 hover:text-violet-400"
                                                    >
                                                        <span class="sr-only">
                                                            LinkedIn
                                                        </span>
                                                        <i class="fa-brands fa-linkedin text-xl" />
                                                    </a>
                                                </li>
                                            )}
                                            {social_entrepreneur.positions_id
                                                .person.website && (
                                                <li>
                                                    <a
                                                        href={
                                                            social_entrepreneur.positions_id.person.website.startsWith(
                                                                "https://",
                                                            )
                                                                ? social_entrepreneur
                                                                      .positions_id
                                                                      .person
                                                                      .website
                                                                : `https://${social_entrepreneur.positions_id.person.website}`
                                                        }
                                                        class="text-violet-200 hover:text-violet-400"
                                                    >
                                                        <span class="sr-only">
                                                            Website
                                                        </span>
                                                        <i class="fa-regular fa-globe text-xl" />
                                                    </a>
                                                </li>
                                            )}
                                        </ul>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                    <ul
                        role="list"
                        class="-mt-12 space-y-12 divide-y divide-violet-500"
                    >
                        <h2 class="text-xl text-violet-100 font-bold">
                            UnLtd Colleagues
                        </h2>
                        {
                            unltd_colleagues.map((unltd_colleague) => (
                                <li class="flex flex-col gap-50 pt-12 sm:flex-row">
                                    <div class="basis-1/3">
                                        {unltd_colleague.positions_id.person
                                            .image && (
                                            <img
                                                class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover"
                                                src={`https://unltd.directus.app/assets/${unltd_colleague.positions_id.person.image}`}
                                                alt=""
                                            />
                                        )}
                                    </div>

                                    <div class="basis-2/3 ">
                                        <div>
                                            <h3 class="text-lg font-semibold leading-8 tracking-tight text-violet-100">
                                                {
                                                    unltd_colleague.positions_id
                                                        .person.name
                                                }
                                            </h3>
                                            <div class="flex items-center gap-1">
                                                {unltd_colleague.positions_id
                                                    .person.gender_pronouns &&
                                                    unltd_colleague.positions_id
                                                        .person.gender_pronouns
                                                        .length > 0 && (
                                                        <div class="flex gap-1">
                                                            {unltd_colleague.positions_id.person.gender_pronouns?.map(
                                                                (item) => (
                                                                    <span class="text-xs text-violet-200">
                                                                        {item}
                                                                    </span>
                                                                ),
                                                            )}
                                                        </div>
                                                    )}
                                                <div />
                                            </div>
                                        </div>
                                        <p class="text-base leading-7 text-violet-300">
                                            {
                                                unltd_colleague.positions_id
                                                    .role.name
                                            }{" "}
                                            {unltd_colleague.positions_id.role
                                                .organisation?.name &&
                                                `at ${unltd_colleague.positions_id.role.organisation.name}`}
                                        </p>
                                        <p class="mt-6 text-base leading-7 text-violet-200">
                                            {
                                                unltd_colleague.positions_id
                                                    .person.bio
                                            }
                                        </p>
                                        <ul
                                            role="list"
                                            class="mt-6 flex gap-x-6"
                                        >
                                            {unltd_colleague.positions_id.person
                                                .linkedin && (
                                                <li>
                                                    <a
                                                        href={
                                                            unltd_colleague
                                                                .positions_id
                                                                .person.linkedin
                                                        }
                                                        class="text-violet-200 hover:text-violet-400"
                                                    >
                                                        <span class="sr-only">
                                                            LinkedIn
                                                        </span>
                                                        <i class="fa-brands fa-linkedin text-xl" />
                                                    </a>
                                                </li>
                                            )}
                                            {unltd_colleague.positions_id.person
                                                .website && (
                                                <li>
                                                    <a
                                                        href={
                                                            unltd_colleague.positions_id.person.website.startsWith(
                                                                "https://",
                                                            )
                                                                ? unltd_colleague
                                                                      .positions_id
                                                                      .person
                                                                      .website
                                                                : `https://${unltd_colleague.positions_id.person.website}`
                                                        }
                                                        class="text-violet-200 hover:text-violet-400"
                                                    >
                                                        <span class="sr-only">
                                                            Website
                                                        </span>
                                                        <i class="fa-regular fa-globe text-xl" />
                                                    </a>
                                                </li>
                                            )}
                                        </ul>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
    </Container>

    <script is:inline>
        const searchParams = new URLSearchParams(window.location.search);
        let name = searchParams.get("name");
        const nameElement = document.getElementById("dos");

        name = name.replace("%20", " ").trim();

        const regex = /^[a-zA-Z ]+$/;

        if (regex.test(name)) nameElement.textContent = name;
    </script>
</Template>
