---
import Template from "../../layouts/Template.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Container from "../../components/Container.astro";

import { programmes } from "../../data/directus/programmes.js";

import truncate from "truncate";
import moment from "moment";
import { marked } from "marked";

let todayDate = moment();

export async function getStaticPaths() {
  return programmes.map((programme) => {
    let breadcrumbs = [
      {
        name: "Awards",
        slug: "/awards",
      },
      {
        name: programme.name,
        slug: `/awards/${programme.slug}`,
      },
    ];

    programme.breadcrumbs = breadcrumbs;

    let oogle = {
      params: {
        programme: programme.slug,
      },
      props: {
        programme: programme,
        programmes: programmes,
      },
    };

    return oogle;
  });
}

const { programme } = Astro.props;
---

<Template name={programme.name} description={programme.description}>
  <Container>
    <Breadcrumbs breadcrumbs={programme.breadcrumbs} />

    <div class="col-span-4 flex flex-col gap-20 lg:flex-row">
      <div class="lg:basis-1/2 flex flex-col gap-8">
        <span class="relative inline-block">
          {
            programme.logo && (
              <img
                class="h-28 w-28 rounded-md"
                src={`https://unltd.directus.app/assets/${programme.logo.id}`}
                alt=""
              />
            )
          }
        </span>

        <div class="flex flex-col gap-3">
          <h1 class="text-5xl font-bold">
            {programme.name}
          </h1>
          <p class="text-lg leading-relaxed text-slate-600">
            {programme.description}
          </p>
        </div>

        <div class="flex flex-col gap-2">
          <div>
            {
              () => {
                if (
                  !todayDate.isAfter(programme.from) &&
                  !todayDate.isAfter(programme.till)
                ) {
                  return (
                    <div class="flex">
                      <span class="inline-flex items-center rounded-full gap-1 bg-blue-100 px-3 py-0.5 text-sm font-medium text-blue-700">
                        <i class="fa-solid fa-circle text-blue-700 text-xs" />
                        Coming soon
                      </span>
                      <p class="text-xs text-slate-500">
                        Application window opens
                        {moment(programme.from).format(
                          "dddd hh:mma, MMMM Do YYYY",
                        )}
                      </p>
                    </div>
                  );
                } else if (!todayDate.isAfter(programme.till)) {
                  return (
                    <div class="flex">
                      <span class="inline-flex items-center rounded-full gap-1 bg-green-100 px-3 py-0.5 text-sm font-medium text-green-700">
                        <i class="fa-solid fa-circle text-green-700 text-xs" />
                        Open
                      </span>
                      <p class="text-xs text-slate-500">
                        Application window closes
                        {moment(programme.till).format(
                          "dddd hh:mma, MMMM Do YYYY",
                        )}
                      </p>
                    </div>
                  );
                } else {
                  return (
                    <div class="flex">
                      <span class="inline-flex items-center rounded-full gap-1 bg-red-100 px-3 py-0.5 text-sm font-medium text-red-700">
                        <i class="fa-solid fa-circle text-red-700 text-xs" />
                        Closed
                      </span>
                      <p class="text-xs text-slate-500">
                        Application window closed
                        {moment(programme.till).format(
                          "dddd hh:mma, MMMM Do YYYY",
                        )}
                      </p>
                    </div>
                  );
                }
              }
            }
          </div>
        </div>

        {
          programme.partners.length > 0 && (
            <>
              <p>Partners</p>
              <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                {programme.partners.map((partner) => (
                  <div class="relative flex items-center space-x-3 rounded-lg border-slate-300 bg-white px-4 py-4">
                    <div class="flex-shrink-0">
                      <img
                        class="h-10 w-10 rounded-md drop-shadow-md"
                        src={`https://unltd.directus.app/assets/${partner.organisations_id.logo}`}
                        alt=""
                      />
                    </div>
                    <div class="min-w-0 flex-1">
                      <span class="absolute inset-0" aria-hidden="true" />
                      <p class="text-sm font-medium text-slate-900">
                        {partner.organisations_id.name}
                      </p>
                    </div>
                  </div>
                ))}
              </div>
            </>
          )
        }
      </div>

      <div
        class="lg:basis-1/2 flex flex-col justify-center bg-slate-50 rounded-2xl"
      >
        <section
          class="overflow-hidden py-12 md:py-20 lg:py-2 relative mx-auto px-6 lg:px-8"
        >
          <blockquote class="">
            <div class="mx-auto text-xl font-medium leading-9 text-slate-900">
              <span
                >The Movement for Change programme gave Legacy Active
                Communities a space to focus on building for the future as we
                support schools and communities to encourage health and physical
                activity in young people's everyday lives. With likeminded
                social entrepreneurs, we could address challenges and
                opportunities for our social enterprise, while discussing our
                business models and opportunities for growth. We experienced
                considered, strategic, expert feedback on diversification
                opportunities - including risk and reward - to bolster our
                operations and greaten our social impact.</span
              >
              <footer class="mt-8">
                <div class="md:flex gap-4">
                  <img
                    class="inline-block h-14 w-14 rounded-full"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                  <div class="mt-3 md:mt-0 md:flex md:flex-col gap-1">
                    <div class="text-base font-medium text-slate-600">
                      Shaun Fox
                    </div>

                    <div class="text-base font-medium text-slate-500">
                      CEO, Legacy Active Communities
                    </div>

                    <div>
                      <span
                        class="inline-flex items-center rounded-md bg-amber-100 px-2.5 py-0.5 text-xs font-medium text-amber-800"
                        >{programme.name} Award Winner</span
                      >
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </blockquote>
        </section>
      </div>
    </div>
    <div class="flex flex-col gap-20">
      <div class="grid grid-cols-4 gap-20 mx-auto max-w-7xl">
        <div class="col-span-4 flex flex-col gap-10 lg:col-span-4">
          <div class="flex flex-col gap-10 lg:flex-row">
            <div class="flex flex-col basis-3/4 gap-5">
              <div set:html={marked.parse(`${programme.entrepreneur}`)} />

              <div set:html={marked.parse(`${programme.venture}`)} />

              <div set:html={marked.parse(`${programme.support}`)} />
            </div>
            <div class="flex flex-col basis-1/4 gap-10">
              <div class="flex flex-col gap-10">
                <!-- Other programmes -->
                <div class="flex flex-col gap-4 lg:flex">
                  <h3 class="font-bold text-slate-500">Other programmes</h3>
                  <div class="flex flex-col gap-3">
                    {
                      programmes
                        .filter(
                          (programme) =>
                            !(programme.name === programme.name) &&
                            todayDate.isBefore(programme.till) &&
                            todayDate.isAfter(programme.from) &&
                            programme.public,
                        )
                        .map((programme) => (
                          <a
                            href={`/funds/${programme.slug}`}
                            class="border border-slate-100 p-6 rounded-2xl flex flex-col gap-5 hover:border-amber-300 transition"
                          >
                            <div class="flex flex-col gap-2">
                              <img
                                class="inline-block h-14 w-14 rounded-md"
                                src={`https://unltd.directus.app/assets/${programme.logo.id}`}
                                alt=""
                              />
                              <div>
                                <h3 class="text-lg font-bold">
                                  {programme.name}
                                </h3>
                                <p class="text-xs leading-relaxed">
                                  {truncate(programme.description, 100)}
                                </p>
                              </div>
                            </div>
                          </a>
                        ))
                    }
                  </div>
                </div>

                <!-- Article -->
                <article class="flex flex-col items-start justify-between">
                  <div class="relative w-full">
                    <img
                      src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80"
                      alt=""
                      class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
                    />
                    <div
                      class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
                    >
                    </div>
                  </div>
                  <div class="max-w-xl">
                    <div class="mt-8 flex items-center gap-x-4 text-xs">
                      <time datetime="2020-03-16" class="text-gray-500"
                        >Mar 16, 2020</time
                      >
                      <a
                        href="#"
                        class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
                        >Marketing</a
                      >
                    </div>
                    <div class="group relative">
                      <h3
                        class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
                      >
                        <a href="#">
                          <span class="absolute inset-0"></span>
                           Boost your conversion rate
                        </a>
                      </h3>
                      <p
                        class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600"
                      >
                        Illo sint voluptas. Error voluptates culpa eligendi. Hic
                        vel totam vitae illo. Non aliquid explicabo
                        necessitatibus unde. Sed exercitationem placeat
                        consectetur nulla deserunt vel. Iusto corrupti dicta.
                      </p>
                    </div>
                    <div class="relative mt-8 flex items-center gap-x-4">
                      <img
                        src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                        class="h-10 w-10 rounded-full bg-gray-100"
                      />
                      <div class="text-sm leading-6">
                        <p class="font-semibold text-gray-900">
                          <a href="#">
                            <span class="absolute inset-0"></span>
                             Michael Foster
                          </a>
                        </p>
                        <p class="text-gray-600">Co-Founder / CTO</p>
                      </div>
                    </div>
                  </div>
                </article>

                <!-- Inclusion -->
                <div>
                  <h3 class="font-bold text-slate-500">Inclusion</h3>
                  <div class="flex flex-col gap-3">
                    <p class="text-sm text-slate-500 leading-relaxed">
                      At least 50% of grants will go to Black, Asian,
                      marginalised ethnic groups or disabled backgrounds
                    </p>
                    <p class="text-sm text-slate-500 leading-relaxed">
                      We want to make it clear that at UnLtd that when we
                      support LGBTQIA+ organisations, we welcome and support
                      trans people, non-binary, gender diverse, genderqueer and
                      gender questioning people. When we support organisations
                      focusing on women's issues and rights, we include trans
                      women. When we support organisations focusing on men's
                      issues, we include trans men. We are committed to using an
                      intersectional lens on social issues, and our own
                      learning.
                    </p>
                  </div>
                  <div class="flex flex-col gap-2">
                    <a
                      class="text-xs text-amber-700 hover:underline hover:text-amber-800"
                      href="/equity-commitments"
                      >Learn more about equity commitments</a
                    >
                  </div>
                </div>

                <!-- Help -->
                <div class="flex flex-col gap-3">
                  <h3 class="font-bold text-slate-500">Help</h3>
                  <div class="flex flex-col gap-3">
                    <p class="text-sm text-slate-500 leading-relaxed">
                      For social entrepreneurs with questions about grants and
                      support
                    </p>
                  </div>
                  <div class="flex flex-row gap-5">
                    <a
                      class="text-xs text-amber-700 hover:underline hover:text-amber-800"
                      href="/grants-&-support/faq">Frequently Asked Questions</a
                    >
                    <a
                      class="text-xs text-amber-700 hover:underline hover:text-amber-800"
                      href="/contact-us">Contact us</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Template>
