---
import { funds } from "../../data/directus/funds.js";
import Template from "../../layouts/Template.astro";
import Container from "../../components/Container.astro";

const name = "Funds";
const description = "djhjdkfkjdhjk";
---

<Template name={name} description={description}>
  <Container>
    <div class="flex flex-col gap-10">
      <div>
        <h1 class="font-bold text-white text-3xl">Funds</h1>
        <ul class="list-disc text-white flex flex-col gap-2">
          {
            funds.map((fund) => (
              <>
                <div class="border-slate-200 bg-white px-4 py-5 rounded-md sm:px-6">
                  <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
                    <div class="ml-4 mt-4">
                      <div class="flex items-center">
                        <div class="ml-4">
                          <a href={`/funds/${fund.slug}`}>
                            <h3 class="text-lg font-medium leading-6 text-slate-900">
                              {fund.name}
                            </h3>
                          </a>
                          <p class="text-sm text-slate-500">Funded by ...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </>
            ))
          }
        </ul>
      </div>
      <div>
        <h1 class="font-bold text-white text-3xl">Archived funds</h1>
        <ul class="list-disc text-white flex flex-col gap-2">
          {
            funds.map((fund) => (
              <li>
                <a
                  href={`/funds/${fund.slug}`}
                  class="text-white underline hover:text-amber-300"
                >
                  {fund.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Container>
</Template>
