---
import Template from "@layouts/Template.astro";
import Container from "@components/Container.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Hero from "@components/Hero.astro";
const { frontmatter } = Astro.props;
---

<Template name={frontmatter.name} description={frontmatter.description}>
  <Container>
    <Breadcrumbs breadcrumbs={frontmatter.breadcrumbs} />
    <Hero name={frontmatter.name} description={frontmatter.description} />
    <div
      class="prose prose-slate dark:prose-invert lg:prose-lg prose-img:rounded-md prose-img:shadow-xs prose-img:w-full prose-a:font-bold prose-a:underline-offset-4 prose-a:decoration-amber-500 prose-a:decoration-1 hover:prose-a:decoration-2"
    >
      <slot />
    </div>
  </Container>
</Template>
