---
import Template from "./Template.astro";
import Container from "../components/Container.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Hero from "../components/Hero.astro";
const { frontmatter } = Astro.props;
---

<Template name={frontmatter.name} description={frontmatter.description}>
  <Container>
    <Breadcrumbs breadcrumbs={frontmatter.breadcrumbs} />
    <Hero name={frontmatter.name} description={frontmatter.description} />
    <!-- <div class="py-14 flex flex-col gap-12">
      {
        frontmatter.primaryButton && (
          <div class="flex flex-row">
            <div class="inline-flex rounded-md shadow">
              {frontmatter.primaryButton && (
                <a
                  target={
                    frontmatter.primaryButton.url.startsWith("https://") &&
                    "_blank"
                  }
                  href={frontmatter.primaryButton.url}
                  class="inline-flex items-center justify-center rounded-full border border-transparent bg-slate-100 px-5 py-3 text-base font-medium text-slate hover:bg-amber-700"
                >
                  {frontmatter.primaryButton.text}
                </a>
              )}
            </div>
            <div class="ml-3 inline-flex">
              {frontmatter.secondaryButton && (
                <a
                  href={frontmatter.secondaryButton.url}
                  class="inline-flex items-center justify-center rounded-full border border-transparent bg-slate-100 px-5 py-3 text-base font-medium text-slate-700 hover:bg-amber-200"
                >
                  {frontmatter.secondaryButton.text}
                </a>
              )}
            </div>
          </div>
        )
      }
    </div> -->
    <div
      class="prose prose-lg prose-img:rounded-md prose-img:shadow-md prose-img:w-full prose-a:text-amber-900"
    >
      <slot />
    </div>
  </Container>
</Template>
