---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
const { frontmatter } = Astro.props;
---

<Layout name={frontmatter.name} description={frontmatter.description}>
  <Header
    name={frontmatter.name}
    description={frontmatter.description}
    breadcrumbs={frontmatter.breadcrumbs}
    primaryButton={frontmatter.primaryButton}
    secondaryButton={frontmatter.secondaryButton}
    updated={frontmatter.updated}
    reviewed={frontmatter.reviewed}
  />
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="prose prose-lg prose-black prose-invert prose-img:rounded-md prose-img:shadow-md prose-img:w-full hover:prose-a:text-white prose-a:text-violet-300"
    >
      <slot />
    </div>
  </div>
</Layout>
