---
import "../styles/global.css";
import { palette } from "@data/palette.js";
import { navigation } from "@data/navigation.js";

const {
  name = "UnLtd",
  description = "No description",
  theme = palette["UnLtd"],
} = Astro.props.frontmatter || Astro.props;

import Footer from "@components/Footer.astro";
import Header from "@components/ui/Header.jsx";
import Banner from "@components/Banner.astro";
import { banner } from "@data/banner";
---

<!doctype html>
<html lang="en" class="h-full scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Primary Meta Tags -->
    <title>{`${name} | UnLtd`}</title>
    <meta
      name="title"
      content={name ? `${name} | UnLtd` : `No page description | UnLtd`}
    />
    <meta
      name="description"
      content={description ? description : "No page description"}
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta
      property="og:title"
      content={name ? `${name} | UnLtd` : `No page description | UnLtd`}
    />
    <meta
      property="og:description"
      content={description ? description : "No page description"}
    />
    <meta property="og:image" content="" />

    <script src="https://hub.unltd.org.uk/~gitbook/embed/script.js"></script>
    <script>
      window.GitBook("show");
    </script>
  </head>
  <body class={`dark ${palette["UnLtd"].bg}`}>
    <div class="flex flex-col justify-between h-full">
      {banner.status === "published" && <Banner banner={banner} />}

      <!-- NEW HEADER -->
      {
        navigation && (
          <Header
            styles={palette["UnLtd"]}
            navigation={navigation}
            client:load
          />
        )
      }

      <!-- OLD HEADER -->
      <!-- <Nav /> -->
      <div class={`${theme.bg}`}>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
