---
import { palette } from "@data/palette.js";

const {
  name = "UnLtd",
  description = "No description",
  theme = palette["UnLtd"],
  breadcrumbs = [],
} = Astro.props.frontmatter || Astro.props;

import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";

// NEW HEADER
import Header from "@components/ui/Header.jsx";

// OLD HEADER
// import Nav from "@components/old-nav/Nav.astro";

import "@fontsource-variable/montserrat";
import "@fontsource-variable/inter"; // FF
import "@fontsource-variable/caveat"; // HA
import "@fontsource-variable/outfit"; // MFC
import "@fontsource-variable/unbounded"; // ATE
---

<!doctype html>
<html lang="en" class="scroll-smooth h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico" />

    <script
      defer
      data-domain="unltd.org.uk"
      src="https://plausible.io/js/script.js"></script>

    <!-- Primary Meta Tags -->
    <title>{`${name} | UnLtd`}</title>
    <meta
      name="title"
      content={name ? `${name} | UnLtd` : `No page description | UnLtd`}
    />
    <meta
      name="description"
      content={description ? description : "No page description"}
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta
      property="og:title"
      content={name ? `${name} | UnLtd` : `No page description | UnLtd`}
    />
    <meta
      property="og:description"
      content={description ? description : "No page description"}
    />
    <meta property="og:image" content="" />

    <!-- Twitter -->
    <meta property="twitter:card" content="" />
    <meta property="twitter:url" content="" />
    <meta
      property="twitter:title"
      content={name ? `${name} | UnLtd` : `No page description | UnLtd`}
    />
    <meta
      property="twitter:description"
      content={description ? description : "No page description"}
    />
    <meta property="twitter:image" content="" />

    <!-- Fontawesome Icons -->
    <script
      src="https://kit.fontawesome.com/0ff725f684.js"
      crossorigin="anonymous"></script>
  </head>
  <body class={`dark ${palette["UnLtd"].bg}`}>
    <div class="flex flex-col justify-between h-full">
      <!-- NEW HEADER -->
      <Header styles={palette["UnLtd"]} client:load />
      <!-- OLD HEADER -->
      <!-- <Nav /> -->
      {
        Astro.url.pathname !== "/" ? (
          <Breadcrumbs breadcrumbs={breadcrumbs} styles={theme} />
        ) : null
      }
      <div class={theme.bg}>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
