---
import { funding } from "../../../../../data/directus/funding.js";
import Layout from "../../../../../layouts/Layout.astro";
import Container from "../../../../../layouts/Container.astro";
import Funding from "../../../../../components/Funding.astro";
import { marked } from "marked";

export async function getStaticPaths() {
  const slugify = (text) =>
    text
      .toString()
      .normalize("NFD")
      .replace(/[\u0300-\u036f]/g, "")
      .toLowerCase()
      .trim()
      .replace(/\s+/g, "-")
      .replace(/[^\w-]+/g, "")
      .replace(/--+/g, "-");

  let pages = funding.map((fundi) => {
    if (fundi.round.open) {
      fundi.round.open = new Date(fundi.round.open)
        .toISOString()
        .substring(0, 10);
    }

    if (fundi.round.close) {
      fundi.round.close = new Date(fundi.round.close)
        .toISOString()
        .substring(0, 10);
    }

    fundi.slug = slugify(fundi.name);

    fundi.round.slug = `${fundi.round.open}-${fundi.round.close}`;

    fundi.round.fund.slug = slugify(fundi.round.fund.name);

    if (fundi.eligibility) {
      fundi.eligibility.social_entrepreneur = marked.parse(
        fundi.eligibility.social_entrepreneur
      );
      fundi.eligibility.social_venture = marked.parse(
        fundi.eligibility.social_venture
      );
    }

    let item = {
      params: {
        fund: fundi.round.fund.slug,
        round: fundi.round.slug,
        fundi: fundi.slug,
      },
      props: {
        data: fundi,
      },
    };

    return item;
  });

  return pages;
}

const { data } = Astro.props;
---

<Layout>
  <Container>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-4">
        <Funding fundi={data} />
      </div>
      <div class="col-span-8">
        {
          data.eligibility && (
            <div class="text-white">
              <h1 class="text-4xl">Eligibility</h1>
              <div>
                <h2 class="text-2xl">Social Entrepreneur</h2>
                <div
                  class="prose prose-invert prose-sm"
                  set:html={data.eligibility.social_entrepreneur}
                />
              </div>
              <div>
                <h2 class="text-2xl">Social Venture</h2>
                <div
                  class="prose prose-invert prose-sm"
                  set:html={data.eligibility.social_venture}
                />
              </div>
            </div>
          )
        }
      </div>
    </div>
  </Container>
</Layout>
