---
import nav from "../../data/json/nav.json";
import Logo from "../OrangeLogo.astro";
import Dropwdown from "./Dropdown.astro";
---

<header class="hidden lg:block">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between lg:border-none">
      <div class="flex items-center justify-between">
        <a href="/">
          <span class="sr-only">UnLtd</span>
          <Logo colour="amber-600" />
        </a>
      </div>
      <div
        class="ml-10 space-x-4 flex gap-5 flex-row flex-end flex-wrap items-center"
      >
        <ul class="navbar hidden ml-10 space-x-8 lg:flex list-none">
          {
            nav.header.main.map((navItem) => (
              <>
                <Dropwdown
                  name={navItem.name}
                  slug={navItem.slug}
                  link={navItem.link}
                  children={navItem.children}
                />
              </>
            ))
          }
        </ul>
        <div class="hidden lg:flex gap-3 lg:ml-auto lg:flex-end z-auto">
          <a
            href={nav.header.action.link}
            class="rounded-full bg-indigo-50 px-3.5 py-2.5 text-sm font-medium text-violet-600 shadow-sm hover:bg-violet-100"
            >{nav.header.action.name}</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
