---
const { name, slug, link, children } = Astro.props;
---

<li     x-data="{ open: false }"
        x-id=`['drodpown-button']`
        class="relative group">
        {children.length >= 1 ? (
  <button type="button"
              x-ref="button"
            @mouseover="open = true"
            @mouseleave="open = false"
            @click="open = !open"
            :aria-expanded="open"
            :aria-controls=`$id('dropdown-button')`
  class="inline-flex font-medium items-center gap-x-1 leading-6 text-slate-700 group-hover:text-amber-600" aria-expanded="false">
    <span>{name}</span>
<i class="text-xs fa-solid fa-chevron-down text-slate-600 group-hover:text-amber-500"></i>
  </button>
  <div class="absolute -left-52 z-50 pt-5 flex w-screen max-w-max px-4"
            x-ref="panel"
            x-cloak
            x-show="open"
            x-transition.origin.top.left
            @mouseover="open = true"
            @mouseleave="open = false"
            :id=`$id('dropdown-button')`
            style="display: none;"
  >
    <div class="w-screen max-w-md flex-auto overflow-hidden rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-slate-900/5">
        <div class="p-4">
{
                children.map((child) => (
        <div class="group relative flex rounded-lg p-4 hover:bg-amber-50 transition justify-between items-center">
          <div class="flex gap-x-6">
            { child.icon &&
                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-slate-50 group-hover:bg-white">
            <i class=`fa-solid ${child.icon} text-slate-600 group-hover:text-amber-600` aria-hidden="true"></i>
          </div>
        }
          <div class="flex flex-row gap-5">
            <div class="">
              <div class="flex gap-2">
                              <a href={child.slug ? `/${child.slug}`:`${child.link}` } target={child.link && 'target'} class="font-semibold text-slate-900">
              {child.name}
              <span class="absolute inset-0"></span>
            </a>
            { child.tag && <p class="rounded-full bg-amber-600/10 px-2 py-1 text-xs font-semibold text-amber-600">{child.tag}</p> }

              </div>
            <p class="mt-1 text-slate-600">{child.description}</p>
            </div>
          </div>
          </div>
                      { child.link && <i class="text-xs fa-solid fa-arrow-up-right-from-square text-slate-700 group-hover:text-amber-600"></i> }

        </div>
)) }
      </div>

    </div>
  </div>) : (<a href={slug && !link ? `/${slug}` : `${link}`} target={!slug && link && "_blank"} class="font-medium inline-flex items-center gap-x-1 leading-6 text-slate-700" aria-expanded="false">
<span class="group-hover:text-amber-600">{name}</span>
                      {!slug && link && (
                        <i class="text-xs fa-solid fa-arrow-up-right-from-square text-slate-600 group-hover:text-amber-500"></i>
                      )}
                    </a>)
</li>