---
import { funding } from "../../../../../data/funding.js";
import Layout from "../../../../../layouts/Layout.astro";
import Container from "../../../../../layouts/Container.astro";

export async function getStaticPaths() {
  let pages = funding.map((funding) => {
    let item = {
      params: {
        fund: funding.round.fund.slug,
        round: funding.round.slug,
        funding: funding.slug,
      },
      props: {
        slug: funding.slug,
        name: funding.name,
        min: funding.min,
        max: funding.max,
        fund: funding.round.fund,
        round: funding.round,
      },
    };

    return item;
  });

  return pages;
}

const { slug, name, min, max, fund, round } = Astro.props;
---

<Layout>
  <Container>
    <a
      href={`/funds/${fund.slug}/${round.slug}`}
      class="underline hover:text-violet-300 text-white"
    >
      <i class="fa-solid fa-arrow-left-long"></i> Back to {fund.name} fund, {
        round.name
      } round
    </a>
    <p class="text-white text-xl">{fund.name} | {round.name}</p>
    <h1 class="text-white text-4xl">{name}</h1>
    <p class="text-white">£{min} - £{max}</p>
  </Container>
</Layout>
