---
import { funding } from "../../../../../data/funding.js";
import Layout from "../../../../../layouts/Layout.astro";
import Container from "../../../../../layouts/Container.astro";

export async function getStaticPaths() {
  let pages = funding.map((funding) => {
    let item = {
      params: {
        fund: funding.round.fund.slug,
        round: `${funding.round.open}-${funding.round.closed}`,
        funding: funding.slug,
      },
      props: {
        data: funding,
      },
    };

    return item;
  });

  return pages;
}

const { data } = Astro.props;
---

<Layout>
  <Container>
    <a
      href={`/funds/${data.round.fund.slug}/${data.round.open}-${data.round.closed}`}
      class="underline hover:text-violet-300 text-white"
    >
      <i class="fa-solid fa-arrow-left-long"></i> Back to {data.round.name} round,
      {data.round.fund.name} fund
    </a>
    <p class="text-white text-xl">{data.round.fund.name} | {data.round.name}</p>
    <h1 class="text-white text-4xl">{data.name}</h1>
    <p class="text-white">£{data.min} - £{data.max}</p>
  </Container>
</Layout>
