---
import { rounds } from "../../../../data/rounds.js";
import Layout from "../../../../layouts/Layout.astro";
import Container from "../../../../layouts/Container.astro";

export async function getStaticPaths() {
  let pages = rounds.map((round) => {
    let item = {
      params: {
        fund: round.fund.slug,
        round: `${round.open}-${round.closed}`,
      },
      props: {
        data: round,
      },
    };

    return item;
  });

  return pages;
}

const { data } = Astro.props;
---

<Layout>
  <Container>
    <a
      href={`/funds/${data.fund.slug}`}
      class="underline hover:text-violet-300 text-white"
    >
      <i class="fa-solid fa-arrow-left-long"></i> Back to {data.fund.name}
    </a>
    <h1 class="text-white">{data.fund.name}</h1>
    <h2 class="text-white">Round: {data.open} - {data.closed}</h2>
    <div class="relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
    </div>

    <h2 class="text-4xl text-white font-bold">Grants</h2>
    <ul class="list-disc list-inside text-white">
      {
        data.grants ? (
          data.grants.map((grant) => (
            <li>
              <a
                class="underline hover:text-violet-300"
                href={`/funds/${data.fund.slug}/${data.open}-${data.closed}/${grant.slug}`}
              >
                {grant.name} {grant.amount}
              </a>
            </li>
          ))
        ) : (
          <p class="text-white">No grants</p>
        )
      }
    </ul>

    <h2 class="text-4xl text-white font-bold">Investments</h2>
    <ul>
      {
        data.investments ? (
          data.investments.map((investment) => (
            <li>
              <a
                href={`/funds/${data.fund.slug}/${data.open}-${data.closed}/${investment.slug}`}
              >
                {investment.name} {investment.amount}
              </a>
            </li>
          ))
        ) : (
          <p class="text-white">No investments</p>
        )
      }
    </ul>
  </Container>
</Layout>
