---
const { styles, programme } = Astro.props;
import Container from "@components/Container.astro";
---

<Container>
    <div
        class={`relative isolate overflow-hidden ${styles.bg2} px-6 py-24 text-center shadow-2xl sm:rounded-3xl sm:px-16 bg-gradient-to-b ${styles.gradient2}`}
    >
        <h2
            class={`mx-auto max-w-3xl text-3xl font-bold tracking-tight ${styles.text} sm:text-4xl`}
        >
            Apply for an Award
        </h2>
        <p class={`mx-auto mt-6 max-w-xl text-lg leading-8 ${styles.text2}`}>
            Apply and you could be lucky enough to get on the {programme.name}.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
                href="/award#applynow"
                class={`rounded-md ${styles.bg3} px-3.5 py-2.5 text-sm font-semibold ${styles.text} shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white`}
                >How to apply</a
            >
            <a
                href="/enquiries/award-enquiry"
                class={`text-sm font-semibold leading-6 ${styles.text2}`}
                >Help <i
                    aria-hidden="true"
                    class="fa-regular fa-circle-question"></i></a
            >
        </div>
    </div>
</Container>
