---
const { styles, age, geography, sectors } = Astro.props;
---

<div class="py-36">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <dl
            class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3"
        >
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt
                    class={`text-base leading-7 ${styles.text2} ${styles.font}`}
                >
                    Geography
                </dt>
                <dd
                    class={`order-first text-3xl font-semibold tracking-tight sm:text-5xl ${styles.text} ${styles.font}`}
                >
                    {geography}
                </dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt
                    class={`text-base leading-7 ${styles.text2} ${styles.font}`}
                >
                    Age
                </dt>
                <dd
                    class={`order-first text-3xl font-semibold tracking-tight sm:text-5xl ${styles.text} ${styles.font}`}
                >
                    {age}
                </dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class={`text-base leading-7 ${styles.text2}`}>Sectors</dt>
                <dd
                    class={`order-first text-3xl font-semibold tracking-tight ${styles.text} sm:text-5xl`}
                >
                    {sectors}
                </dd>
            </div>
        </dl>
    </div>
</div>
