---
const { styles, age, geography, sectors, programme } = Astro.props;
import Container from "@components/Container.astro";
---

<Container>
    <div class="flex flex-col gap-8 py-36">
        <div class="max-w-2xl">
            <p
                class={`mt-2 text-3xl font-bold tracking-tight ${styles.text} sm:text-4xl`}
            >
                Programme eligibility
            </p>
            <p class={`mt-6 text-lg leading-8 ${styles.text2}`}>
                To be considered for {programme.name} you must be:
            </p>
        </div>
        <div class="flex flex-row gap-24">
            <div class="flex max-w-sm flex-col gap-y-2">
                <i class={`fa-thin fa-location-dot ${styles.text2}`}></i>
                <dt
                    class={`text-base leading-7 ${styles.text2} ${styles.font}`}
                >
                    Location
                </dt>
                <dd
                    class={`order-first text-xl font-semibold tracking-tight sm:text-2xl ${styles.text} ${styles.font}`}
                >
                    {geography}
                </dd>
            </div>
            <div class="flex max-w-sm flex-col gap-y-2">
                <i class={`fa-thin fa-spinner ${styles.text2}`}></i>
                <dt
                    class={`text-base leading-7 ${styles.text2} ${styles.font}`}
                >
                    Age
                </dt>
                <dd
                    class={`order-first text-xl font-semibold tracking-tight sm:text-2xl ${styles.text} ${styles.font}`}
                >
                    {age}
                </dd>
            </div>
            <div class="flex max-w-sm flex-col gap-y-2">
                <i class={`fa-thin fa-vector-square ${styles.text2}`}></i>
                <dt
                    class={`text-base leading-7 ${styles.text2} ${styles.font}`}
                >
                    Operating in
                </dt>
                <dd
                    class={`order-first text-xl font-semibold tracking-tight sm:text-2xl ${styles.text} ${styles.font}`}
                >
                    {sectors}
                </dd>
            </div>
        </div>
    </div>
</Container>
