---
import { palette } from "@data/palette.js";
const { programmes, current, styles, name } = Astro.props;
import moment from "moment";
let todayDate = moment();
import slugify from "slugify";
import Container from "@components/Container.astro";

import ProgrammeSmall from "@components/award/programme/ProgrammeSmall.astro";
---
<Container>
  <div class="flex flex-col py-20 gap-10 px-5 2xl:px-0">
    <div class="">
        <h2 class={`text-xl font-bold tracking-tight sm:text-2xl ${styles.text} ${styles.font}`}>
            Other programmes
        </h2>
    </div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          {
            programmes
              .filter(
                (programmei) =>
                  !(programmei.name === current.name) &&
                  todayDate.isBefore(programmei.till) &&
                  todayDate.isAfter(programmei.from),
              )
              .map((programme, i) =>             <ProgrammeSmall
        key={i}
        image={
          programme.image && programme.image.id
            ? programme.image.id
            : false
        }
        icon={programme.icon}
        styles={palette[programme.name]}
        name={programme.name}
        logo={
          programme.logo && programme.logo.id
            ? programme.logo.id
            : false
        }
        stage={programme.stage}
        age={programme.age}
        geography={programme.geography}
        focus={programme.focus}
        slogan={programme.slogan}
        description={programme.description}
        slug={slugify(programme.name, {lower: true, strict: true, locale: "en", trim: true,})},
        services={programme.services}
        eligibilities={programme.eligibilities}
        code={programme.code}
      />)
          }
    </div>
  </div>
</Container>