---
import Badge from "@components/award/cards/Badge.astro";
import Icon from "@components/award/cards/Icon.astro";

function isValidUrl(string) {
  try {
    new URL(string);
    return true;
  } catch (e) {
    return false;
  }
}

const { image, icon, styles, name, slug, age, geography, sectors, services } =
  Astro.props;
---

<a
  href={`/award/${slug}`}
  class={`flex-1 flex flex-col divide-y-2 shadow-md hover:shadow-xl rounded-2xl border-2 transition ease-in-out delay-150 hover:-translate-y-2 duration-300 ${styles.divide} ${styles.bg2} ${styles.border}`}
>
  <article
    class={`relative isolate flex flex-col justify-end overflow-hidden rounded-t-2xl px-8 pb-8 pt-80 sm:pt-48 lg:pt-40`}
  >
    <img
      src={isValidUrl(image)
        ? image
        : `https://unltd.directus.app/assets/${image}?width=600`}
      alt=""
      class="absolute inset-0 -z-10 h-full w-full object-cover"
    />
    <div class={`absolute inset-0 -z-10 rounded-t-2xl opacity-80 ${styles.bg}`}>
    </div>
    <div class="flex flex-col gap-3">
      <span class="relative inline-block">
        <Icon icon={icon} name={name} styles={styles} />
      </span>
      <div>
        <!-- <span class={`uppercase tracking-widest text-xs ${styles.text2}`}
          >{code}</span
        > -->
        <h3 class={`text-lg font-bold leading-6 ${styles.text} ${styles.font}`}>
          {name}
        </h3>
      </div>
    </div>
  </article>
  <div
    class={`p-8 flex flex-col gap-6 ${styles.bg}`}
    style="background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%224%22 height=%224%22 viewBox=%220 0 4 4%22%3E%3Cpath fill=%22%23ffffff%22 fill-opacity=%220.08%22 d=%22M1 3h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C/path%3E%3C/svg%3E');"
  >
    <div class="flex flex-col gap-2">
      <!-- <div>
        <p class={`flex gap-2 items-center`}>
          <i class={`fa-light fa-heart text-sm ${styles.text2}`}></i>
          <span class={`text-xs font-medium ${styles.text}`}
            >Everything in
            <span
              class={`inline-flex gap-1 justify-center items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset ${styles.badge}`}
            >
              <img class="h-3" src="/svg/unltd.svg" alt="" />
              <span class="tracking-tight text-xs">Millennium Awards Trust</span
              >
            </span>
          </span>
        </p>
      </div> -->
      {
        services.map((service) => (
          <div>
            <p class={`truncate flex gap-2 items-center text-wrap`}>
              <i
                class={`text-sm ${service.services_id.icon} ${styles.text2}`}
              />
              <span class={`text-xs font-medium ${styles.text} ${styles.font}`}>
                {service.services_id.name}
              </span>
            </p>
          </div>
        ))
      }
    </div>
  </div>

  <div class={`flex flex-col gap-6  rounded-b-2xl p-8 ${styles.bg2}`}>
    <div class="flex flex-col gap-3">
      <p class={`text-base  ${styles.text}`}>Programme eligibility</p>
      <ul class="flex flex-col gap-4">
        <li class="flex flex-col gap-1">
          <p class={`truncate text-xs flex gap-2 items-center`}>
            <i class={`fa-thin fa-spinner ${styles.text2}`}></i>
            <span class={`${styles.text2} ${styles.font}`}> Aged </span>
          </p>
          <p
            class={`text-sm font-medium tracking-tight ${styles.text} ${styles.font}`}
          >
            {age}
          </p>
        </li>
        <li class="flex flex-col gap-1">
          <p class={`truncate text-xs flex gap-2 items-center`}>
            <i class={`fa-thin fa-location-dot ${styles.text2}`}></i>
            <span class={`${styles.text2} ${styles.font}`}> Located in </span>
          </p>
          <p
            class={`text-sm font-medium tracking-tight ${styles.text} ${styles.font}`}
          >
            {geography}
          </p>
        </li>
        <li class="flex flex-col gap-1">
          <p class={`truncate text-xs flex gap-2 items-center`}>
            <i class={`fa-thin fa-vector-square ${styles.text2}`}></i>
            <span class={`${styles.text2} ${styles.font}`}> Operating in </span>
          </p>
          <p
            class={`text-sm font-medium tracking-tight ${styles.text} ${styles.font}`}
          >
            {sectors}
          </p>
        </li>
      </ul>
    </div>
  </div>
</a>
