---
const { styles, services, programme } = Astro.props;
import Container from "@components/Container.astro";
---

<Container>
    <div class="flex py-36">
        <div class="mx-auto max-w-2xl">
            <p
                class={`mt-2 text-3xl font-bold tracking-tight ${styles.text} sm:text-4xl`}
            >
                Tailored support
            </p>
            <p class={`mt-6 text-lg leading-8 ${styles.text2}`}>
                As an Award Winner on {programme.name}, you will be able to
                access tailored support including:
            </p>
        </div>
        <div class="mx-auto max-w-2xl lg:max-w-4xl">
            <dl
                class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
            >
                {
                    services.map((service) => (
                        <div class="relative pl-16 basis-1/4">
                            <dt class="text-base leading-7">
                                <div
                                    class={`absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-full shadow-lg border ${styles.bg} ${styles.border}`}
                                >
                                    <i
                                        class={`${service.services_id.icon} text-md shadow-3xl ${styles.text2}`}
                                    />
                                </div>
                                <span class={`text-base ${styles.text}`}>
                                    {service.services_id.name}
                                </span>
                            </dt>
                            <dd
                                class={`mt-2 text-sm leading-6 ${styles.text2}`}
                            >
                                {service.services_id.description}
                            </dd>
                        </div>
                    ))
                }
            </dl>
        </div>
    </div>
</Container>
